<a href="https://colab.research.google.com/github/cskipper07/Data-Science/blob/main/2_EDA_cranmet_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis: Craniometrics**
* Some outputs have been removed to protect PII and the raw data.

### Import libraries

In [ ]:
pip install dtale

In [ ]:
import dtale

In [ ]:
!pip install --upgrade openpyxl

In [ ]:
pip install scipy numpy seaborn pandas statsmodels pingouin

In [ ]:
!pip install pingouin

In [ ]:
pip install --upgrade pingouin

In [ ]:
# Import libraries
import pandas as pd
import scipy
import numpy as np
import seaborn as sns
import os
import statsmodels

In [ ]:
import pingouin as pt

### Set print options

In [ ]:
import sys

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
np.set_printoptions(threshold=sys.maxsize)

### Set export

In [ ]:
from google.colab import  drive
drive.mount('/drive')

Mounted at /drive

### **Input data files:**
*   *cranmet_merged.csv*
*   The merged output file contained the US and Japan merged dfs. It is located in the (Intra)Observer Error folder, and it has had the traits removed with low IO agreement (i.e., Relative TEM < 5)
*   *Comp1_cranmet_for_analysis.xlsx, Comp2_for_analysis.xlsx*
*   *demographics.xlsx*

### Import data

In [ ]:
cranmet = pd.read_csv('cranmet_merged.csv')

In [ ]:
cranmet.head()

In [ ]:
cranmet.tail()

In [ ]:
del cranmet['Sex']
del cranmet['Age']

In [ ]:
demographics = pd.read_excel('demographics.xlsx')

In [ ]:
demographics.head()

In [ ]:
cranmet = pd.merge(cranmet, demographics, on='SkelID')

In [ ]:
cranmet.head()

In [ ]:
# drop unknown columns in cranmet df

cranmet = cranmet.drop(columns=['RFA'], axis=1)
cranmet = cranmet.drop(columns=['RPA'], axis=1)
cranmet = cranmet.drop(columns=['ROA'], axis=1)
cranmet = cranmet.drop(columns=['BSA'], axis=1)
cranmet = cranmet.drop(columns=['SBA'], axis=1)
cranmet = cranmet.drop(columns=['SLA'], axis=1)
cranmet = cranmet.drop(columns=['TBA'], axis=1)
cranmet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   GOL          78 non-null     float64
 3   NOL          78 non-null     float64
 4   BNL          81 non-null     float64
 5   BBH          80 non-null     float64
 6   XCB          82 non-null     int64
 7   XFB          81 non-null     float64
 8   WFB          82 non-null     int64
 9   ZYB          82 non-null     int64
 10  ASB          73 non-null     float64
 11  BPL          75 non-null     float64
 12  NPH          74 non-null     float64
 13  NLH          81 non-null     float64
 14  JUB          82 non-null     int64
 15  NLB          79 non-null     float64
 16  MAB          60 non-null     float64
 17  MAL          74 non-null     float64
 18  MDH          82 non-null     int64
 19  OBH          81 non-null     float64
 20  OBB          79 non-null     float64
 21  DKB          79 non-null     float64
 22  NDS          72 non-null     float64
 23  WNB          80 non-null     float64
 24  SIS          73 non-null     float64
 25  ZMB          80 non-null     float64
 26  SSS          79 non-null     float64
 27  FMB          82 non-null     int64
 28  NAS          81 non-null     float64
 29  EKB          81 non-null     float64
 30  DKS          79 non-null     float64
 31  IML          81 non-null     float64
 32  XML          81 non-null     float64
 33  MLS          79 non-null     float64
 34  WMH          82 non-null     int64
 35  GLS          81 non-null     float64
 36  STB          81 non-null     float64
 37  FRC          79 non-null     float64
 38  FRS          79 non-null     float64
 39  PAC          79 non-null     float64
 40  PAS          79 non-null     float64
 41  OCC          79 non-null     float64
 42  OCS          79 non-null     float64
 43  FOL          82 non-null     int64
 44  FOB          82 non-null     int64
 45  NAR          81 non-null     float64
 46  SSR          81 non-null     float64
 47  PRR          75 non-null     float64
 48  DKR          79 non-null     float64
 49  ZOR          81 non-null     float64
 50  FMR          82 non-null     int64
 51  EKR          82 non-null     int64
 52  ZMR          81 non-null     float64
 53  AVR          67 non-null     float64
 54  BRR          80 non-null     float64
 55  VRR          79 non-null     float64
 56  LAR          79 non-null     float64
 57  OSR          82 non-null     int64
 58  MOW          74 non-null     float64
 59  UFBR         82 non-null     int64
 60  UFHT         61 non-null     float64
 61  NAA          75 non-null     float64
 62  PRA          75 non-null     float64
 63  BAA          75 non-null     float64
 64  NBA          79 non-null     float64
 65  BBA          79 non-null     float64
 66  BRA          79 non-null     float64
 67  SSA          79 non-null     float64
 68  NFA          81 non-null     float64
 69  DKA          79 non-null     float64
 70  NDA          72 non-null     float64
 71  FRA          79 non-null     float64
 72  PAA          79 non-null     float64
 73  OCA          79 non-null     float64
 74  Sex          82 non-null     object
 75  Age          82 non-null     int64
 76  Population   82 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 51.9+ KB

In [ ]:
cranmet.head()

#### Output file: cranmet with demographics

In [ ]:
cranmet.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet.xlsx', index=True)

In [ ]:
cranmet = pd.read_excel('cranmet.xlsx')

In [ ]:
cranmet.head()

In [ ]:
cranmet_VarsOnly = pd.DataFrame(cranmet.iloc[:, 2:74])

In [ ]:
cranmet_VarsOnly.head()

### Find numbers of males and females for each population

#### My data

In [ ]:
cranmet2 = cranmet.groupby('Collection').apply(lambda x: x['Sex'].value_counts())

In [ ]:
print(cranmet2)

In [ ]:
cranmet2.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/cranmet_sex.xlsx')

#### Comp1 data

In [ ]:
Comp1_cranmet = pd.read_excel('Comp1_cranmet_for_analysis.xlsx')

In [ ]:
Comp1_cranmet.head()

In [ ]:
Comp1_cranmet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372 entries, 0 to 2371
Data columns (total 71 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FDN             2372 non-null   int64
 1   Contributor No  2372 non-null   object
 2   Recorder        2297 non-null   object
 3   Date recorded   1800 non-null   object
 4   Sex             2372 non-null   object
 5   Race            2372 non-null   object
 6   Ethnicity       179 non-null    object
 7   Birth Year      2155 non-null   object
 8   GOL             2372 non-null   int64
 9   NOL             1706 non-null   float64
 10  BNL             2334 non-null   float64
 11  BBH             2334 non-null   float64
 12  XCB             2372 non-null   int64
 13  XFB             1681 non-null   float64
 14  WFB             2301 non-null   float64
 15  ZYB             2261 non-null   float64
 16  AUB             2257 non-null   float64
 17  ASB             1683 non-null   float64
 18  BPL             2001 non-null   float64
 19  NPH             1985 non-null   float64
 20  NLH             2242 non-null   float64
 21  JUB             1538 non-null   float64
 22  NLB             2273 non-null   float64
 23  MAB             1605 non-null   float64
 24  MAL             1887 non-null   float64
 25  MDH             2250 non-null   float64
 26  OBH             2262 non-null   float64
 27  OBB             2251 non-null   float64
 28  DKB             2218 non-null   float64
 29  NDS             1497 non-null   float64
 30  WNB             1542 non-null   float64
 31  SIS             1505 non-null   float64
 32  ZMB             1532 non-null   float64
 33  SSS             1483 non-null   float64
 34  FMB             1547 non-null   float64
 35  NAS             1538 non-null   float64
 36  EKB             2193 non-null   float64
 37  DKS             1529 non-null   float64
 38  IML             1520 non-null   float64
 39  XML             1517 non-null   float64
 40  MLS             1501 non-null   float64
 41  WMH             1552 non-null   float64
 42  GLS             1323 non-null   float64
 43  STB             1535 non-null   float64
 44  FRC             2292 non-null   float64
 45  FRS             1561 non-null   float64
 46  FRF             1558 non-null   float64
 47  PAC             2276 non-null   float64
 48  PAS             1562 non-null   float64
 49  PAF             1561 non-null   float64
 50  OCC             2261 non-null   float64
 51  OCS             1562 non-null   float64
 52  OCF             1563 non-null   float64
 53  FOL             2273 non-null   float64
 54  FOB             2148 non-null   float64
 55  NAR             1480 non-null   float64
 56  SSR             1370 non-null   float64
 57  PRR             1236 non-null   float64
 58  DKR             1461 non-null   float64
 59  ZOR             1464 non-null   float64
 60  FMR             1473 non-null   float64
 61  EKR             1468 non-null   float64
 62  ZMR             1463 non-null   float64
 63  AVR             808 non-null    float64
 64  BRR             1480 non-null   float64
 65  VRR             1327 non-null   float64
 66  LAR             1477 non-null   float64
 67  OSR             1477 non-null   float64
 68  BAR             1477 non-null   float64
 69  UFHT            1883 non-null   float64
 70  UFBR            1872 non-null   float64
dtypes: float64(61), int64(3), object(7)
memory usage: 1.3+ MB

In [ ]:
Comp1_cranmet2 = Comp1_cranmet.groupby('Race').apply(lambda x: x['Sex'].value_counts())
Comp1_cranmet2

Race
B     M     289
      F     178
EA    M       8
      F       6
H     M     163
      F      36
NAm   M      20
      F      11
W     M    1020
      F     630
W/B   M       3
      F       1
W/H   F       5
      M       2
Name: Sex, dtype: int64

In [ ]:
Comp1_cranmet2.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/Comp1_cranmet_sex.xlsx')

#### Comp2 data

In [ ]:
Comp2 = pd.read_excel('Comp2_for_analysis.xlsx')

In [ ]:
Comp2.head()

In [ ]:
Comp2_2 = Comp2.groupby('Population').apply(lambda x: x['Sex'].value_counts())
print(Comp2_2)

In [ ]:
Comp2_2.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/Comp2_sex.xlsx')

# EDA with d-tale

In [ ]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [ ]:
cranmet = pd.read_excel('cranmet.xlsx')

In [ ]:
cranmet.head()

In [ ]:
cranmet_VarsOnly = pd.DataFrame(cranmet.iloc[:, 2:74])

In [ ]:
cranmet_VarsOnly.head()

In [ ]:
cranmet_VarsOnly

In [ ]:
s = cranmet_no_univariate_outliers['NLH']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliersGOL = dict(s[(s < iqr_lower) | (s > iqr_upper)])
print(outliersGOL)
print(iqr_lower)
print(iqr_upper)
print(cranmet_no_univariate_outliers['NLH'].quantile(0.50))
print(cranmet_no_univariate_outliers['NLH'].quantile(0.95))

In [ ]:
dtale.show(cranmet_VarsOnly)

In [ ]:
df = pd.DataFrame(cranmet_VarsOnly)
df.head()

In [ ]:
'''
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd
import plotly.graph_objs as go

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

s = df[~pd.isnull(df['GOL'])]['GOL']

import scipy.stats as sts
import plotly.express as px

qq_x, qq_y = sts.probplot(s, dist="norm", fit=False)
chart = px.scatter(x=qq_x, y=qq_y, trendline='ols', trendline_color_override='red')
figure = go.Figure(data=chart, layout=go.Layout({
    'legend': {'orientation': 'h'}, 'title': {'text': 'GOL QQ Plot'}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:
#
# from plotly.offline import iplot, init_notebook_mode
#
# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)
'''

In [ ]:
cranmet.describe()

            SkelID         Age         GOL         NOL         BNL         BBH         XCB         XFB         WFB         ZYB         ASB         BPL        NPH        NLH         JUB        NLB        MAB        MAL        MDH        OBH        OBB        DKB        NDS        WNB        SIS         ZMB        SSS         FMB        NAS         EKB        DKS        IML        XML        MLS        WMH        GLS         STB         FRC        FRS         PAC        PAS         OCC        OCS        FOL        FOB         NAR         SSR        PRR        DKR        ZOR        FMR        EKR        ZMR         AVR         BRR         VRR         LAR        OSR        MOW        UFBR       UFHT        NAA        PRA        BAA        NBA        BBA        BRA         SSA         NFA         DKA         NDA         FRA         PAA         OCA
count    82.000000   82.000000   78.000000   78.000000   81.000000   80.000000   82.000000   81.000000   82.000000   82.000000   73.000000   75.000000  74.000000  81.000000   82.000000  79.000000  60.000000  74.000000  82.000000  81.000000  79.000000  79.000000  72.000000  80.000000  73.000000   80.000000  79.000000   82.000000  81.000000   81.000000  79.000000  81.000000  81.000000  79.000000  82.000000  81.000000   81.000000   79.000000  79.000000   79.000000  79.000000   79.000000  79.000000  82.000000  82.000000   81.000000   81.000000   75.00000  79.000000  81.000000  82.000000  82.000000  81.000000   67.000000   80.000000   79.000000   79.000000  82.000000  74.000000   82.000000  61.000000  75.000000  75.000000  75.000000  79.000000  79.000000  79.000000   79.000000   81.000000   79.000000   72.000000   79.000000   79.000000   79.000000
mean   3183.073171   57.890244  177.038462  174.500000  100.197531  136.862500  141.902439  116.654321   92.182927  132.280488  109.958904   96.013333  69.418919  51.814815  113.256098  25.518987  64.616667  52.756757  34.256098  35.061728  40.632911  19.569620   8.930556   7.741250   2.731507   96.412500  24.063291   97.414634  15.469136   97.703704  10.721519  33.049383  53.592593  13.822785  23.707317   3.925926  112.851852  111.443038  25.582278  110.721519  23.949367   99.620253  28.594937  35.207317  30.426829   93.098765   93.037037  100.24000  82.607595  79.950617  78.048780  72.878049  69.901235   79.820896  121.012500  124.278481  106.227848  40.560976  52.121622  103.621951  72.245902  66.160000  72.573333  41.346667  80.443038  53.443038  46.113924  126.974684  144.814815  149.506329   95.736111  130.430380  133.227848  119.253165
std    1803.013340   24.360972    9.601735    8.847555    5.448440    6.383808    6.557645    5.060041    4.866433    6.467916    5.743205    5.614877   4.566125   3.391575    5.693425   2.105309   4.202871   3.263794   3.650845   2.081740   2.607569   2.279696   1.722481   1.780534   0.931826    5.931452   3.450536    4.340311   2.811078    4.678259   2.745330   3.346271   4.049005   1.899794   2.569949   1.708638    6.469372    5.743998   2.594904    7.438529   3.615844    5.711670   3.646280   2.674700   2.160421    4.983987    5.252248    5.80503   4.258981   3.987171   3.851895   3.834187   4.689363    7.879635    5.232551    5.615767    5.346816   3.800902   5.319781    4.462851   4.617560   3.862642   4.278082   2.738580   2.776951   2.610368   1.908062    7.161103    5.359830    6.970402   12.467414    3.726838    4.714814    5.758980
min     856.000000   17.000000  161.000000  158.000000   90.000000  123.000000  122.000000  104.000000   81.000000  118.000000   95.000000   78.000000  58.000000  42.000000  101.000000  22.000000  55.000000  47.000000  26.000000  30.000000  33.000000  14.000000   6.000000   3.300000   1.100000   81.000000  15.000000   90.000000  10.000000   89.000000   5.000000  24.000000  42.000000  10.000000  17.000000   1.000000   91.000000  100.000000  20.000000   90.000000  15.000000   87.000000  22.000000  26.000000  24.000000   83.000000   78.000000   80.00000  73.000000  72.000000  68.000000  64.000000  60.000000   68.000000  108.000000  113.000000   95.000000  33.000000  40.000000   96.000000  61.000000  54.000000  64.000000  34.000000  74.000000  48.000000  41.000000  109.000000  128.000000  130.000000   67.000000  122.000000  121.000000  103.000000
25%    1748.500000   34.750000  171.000000  169.000000   96.000000  132.000000  137.250000  114.000000   88.250000  128.250000  106.000000   93.000000  66.250000  50.000000  109.000000  24.000000  61.000000  50.000000  32.000000  34.000000  39.000000  18.000000   8.000000   6.475000   2.000000   93.000000  22.000000   94.000000  14.000000   94.000000   9.000000  31.000000  51.000000  13.000000  22.000000   3.000000  108.000000  107.000000  24.000000  106.000000  22.000000   96.000000  26.000000  34.000000  29.000000   90.000000   89.000000   97.00000  80.000000  77.000000  75.000000  70.000000  66.000000   76.000000  118.000000  120.500000  103.000000  38.000000  48.250000  100.000000  69.000000  64.000000  70.000000  39.500000  78.000000  52.000000  45.000000  122.500000  142.000000  145.000000   90.000000  128.000000  129.500000  114.500000
50%    1996.500000   62.000000  176.000000  173.000000  100.000000  135.500000  142.000000  117.000000   92.000000  132.000000  111.000000   96.000000  70.000000  52.000000  113.000000  25.000000  64.500000  53.000000  34.000000  35.000000  41.000000  20.000000   9.000000   7.450000   2.700000   96.000000  24.000000   97.000000  15.000000   97.000000  10.000000  33.000000  54.000000  14.000000  24.000000   4.000000  113.000000  112.000000  26.000000  110.000000  24.000000   99.000000  28.000000  36.000000  30.000000   93.000000   93.000000  100.00000  83.000000  80.000000  78.000000  73.000000  70.000000   79.000000  120.000000  123.000000  106.000000  40.000000  52.500000  104.000000  73.000000  66.000000  72.000000  42.000000  80.000000  53.000000  46.000000  126.000000  145.000000  150.000000   95.500000  130.000000  134.000000  120.000000
75%    4976.250000   76.750000  183.000000  180.750000  104.000000  141.000000  145.750000  121.000000   96.000000  136.000000  114.000000   99.000000  72.000000  54.000000  117.000000  27.000000  68.000000  55.000000  36.750000  36.000000  42.000000  21.000000  10.000000   8.900000   3.400000  100.000000  26.000000  100.000000  17.000000  101.000000  13.000000  35.000000  56.000000  15.000000  26.000000   5.000000  117.000000  116.000000  27.000000  114.000000  26.000000  103.000000  31.500000  37.000000  32.000000   96.000000   97.000000  104.00000  86.000000  83.000000  81.000000  76.000000  73.000000   82.000000  124.000000  128.000000  109.500000  43.000000  57.000000  106.750000  75.000000  68.500000  75.000000  43.000000  82.500000  56.000000  47.000000  132.000000  148.000000  154.000000  103.250000  133.000000  136.000000  124.000000
max    6243.000000  100.000000  203.000000  200.000000  115.000000  150.000000  158.000000  132.000000  104.000000  149.000000  121.000000  113.000000  83.000000  60.000000  126.000000  32.000000  73.000000  60.000000  45.000000  42.000000  47.000000  26.000000  14.000000  12.000000   5.600000  113.000000  33.000000  107.000000  26.000000  108.000000  17.000000  41.000000  63.000000  19.000000  29.000000   9.000000  128.000000  124.000000  32.000000  135.000000  32.000000  113.000000  37.000000  42.000000  35.000000  109.000000  107.000000  116.00000  94.000000  89.000000  88.000000  81.000000  80.000000  133.000000  133.000000  140.000000  122.000000  52.000000  61.000000  114.000000  85.000000  75.000000  89.000000  47.000000  86.000000  58.000000  51.000000  144.000000  155.000000  164.000000  125.000000  142.000000  145.000000  130.000000

In [ ]:
cranmet.head()

In [ ]:
df.head()

In [ ]:
dtale.show(df)

# EDA with Sweetviz

In [ ]:
pip install sweetviz

In [ ]:
import sweetviz as sv

In [ ]:
advert_report = sv.analyze(cranmet)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
advert_report = sv.analyze(cranmet_VarsOnly)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
advert_report.show_html('cranmet_VarsOnly.html', open_browser=False)

Report cranmet_VarsOnly.html was generated.

In [ ]:
import IPython

In [ ]:
IPython.display.HTML('cranmet_VarsOnly.html')

# **Outliers**
Outliers to possibly remove:
AVR = 133; PRA = 86, 89; FRA = 142

### Univariate outliers
*   Replaced AVR == 133 with the variable median (79)
*   Replaced PRA >= 86 with the variable median (72)

In [ ]:
cranmet.head()

In [ ]:
cranmet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     float64
 1   Collection   82 non-null     object
 2   GOL          78 non-null     float64
 3   NOL          78 non-null     float64
 4   BNL          81 non-null     float64
 5   BBH          80 non-null     float64
 6   XCB          82 non-null     int64
 7   XFB          81 non-null     float64
 8   WFB          82 non-null     int64
 9   ZYB          82 non-null     int64
 10  ASB          73 non-null     float64
 11  BPL          75 non-null     float64
 12  NPH          74 non-null     float64
 13  NLH          81 non-null     float64
 14  JUB          82 non-null     int64
 15  NLB          79 non-null     float64
 16  MAB          60 non-null     float64
 17  MAL          74 non-null     float64
 18  MDH          82 non-null     int64
 19  OBH          81 non-null     float64
 20  OBB          79 non-null     float64
 21  DKB          79 non-null     float64
 22  NDS          72 non-null     float64
 23  WNB          80 non-null     float64
 24  SIS          73 non-null     float64
 25  ZMB          80 non-null     float64
 26  SSS          79 non-null     float64
 27  FMB          82 non-null     int64
 28  NAS          81 non-null     float64
 29  EKB          81 non-null     float64
 30  DKS          79 non-null     float64
 31  IML          81 non-null     float64
 32  XML          81 non-null     float64
 33  MLS          79 non-null     float64
 34  WMH          82 non-null     int64
 35  GLS          81 non-null     float64
 36  STB          81 non-null     float64
 37  FRC          79 non-null     float64
 38  FRS          79 non-null     float64
 39  PAC          79 non-null     float64
 40  PAS          79 non-null     float64
 41  OCC          79 non-null     float64
 42  OCS          79 non-null     float64
 43  FOL          82 non-null     int64
 44  FOB          82 non-null     int64
 45  NAR          81 non-null     float64
 46  SSR          81 non-null     float64
 47  PRR          75 non-null     float64
 48  DKR          79 non-null     float64
 49  ZOR          81 non-null     float64
 50  FMR          82 non-null     int64
 51  EKR          82 non-null     int64
 52  ZMR          81 non-null     float64
 53  AVR          67 non-null     float64
 54  BRR          80 non-null     float64
 55  VRR          79 non-null     float64
 56  LAR          79 non-null     float64
 57  OSR          82 non-null     int64
 58  MOW          74 non-null     float64
 59  UFBR         82 non-null     int64
 60  UFHT         61 non-null     float64
 61  NAA          75 non-null     float64
 62  PRA          75 non-null     float64
 63  BAA          75 non-null     float64
 64  NBA          79 non-null     float64
 65  BBA          79 non-null     float64
 66  BRA          79 non-null     float64
 67  SSA          79 non-null     float64
 68  NFA          81 non-null     float64
 69  DKA          79 non-null     float64
 70  NDA          72 non-null     float64
 71  FRA          79 non-null     float64
 72  PAA          79 non-null     float64
 73  OCA          79 non-null     float64
 74  Sex          82 non-null     object
 75  Age          82 non-null     int64
 76  Population   82 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(60), int64(14), object(6)
memory usage: 51.9+ KB

In [ ]:
cranmet_noUVoutliers_VarsOnly = pd.DataFrame(cranmet.iloc[:, 2:74])
cranmet_noUVoutliers_VarsOnly.head()

In [ ]:
percent_missing = cranmet_noUVoutliers_VarsOnly.isnull().sum().sum()*100 / (len(cranmet_noUVoutliers_VarsOnly) * len(cranmet_noUVoutliers_VarsOnly.columns))
percent_missing

4.319105691056911

In [ ]:
for i in cranmet_noUVoutliers_VarsOnly.columns:
    s = cranmet_noUVoutliers_VarsOnly[i]
    q1 = s.quantile(0.25)
    q3 = s.quantile(0.75)
    iqr = q3 - q1
    iqr_lower = q1 - 1.5 * iqr
    iqr_upper = q3 + 1.5 * iqr
    outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])
    print(cranmet_noUVoutliers_VarsOnly[i].describe())
    print('Outliers:', outliers)
    print('5th percentile:', cranmet_noUVoutliers_VarsOnly[i].quantile(0.05))
    print('95th percentile:', cranmet_noUVoutliers_VarsOnly[i].quantile(0.95))      # find the variable 95th percentile

    # remove outliers
    cranmet_noUVoutliers_VarsOnly[i] = np.where(cranmet_noUVoutliers_VarsOnly[i] > iqr_upper, np.nan, cranmet_noUVoutliers_VarsOnly[i])   # where any variable value is greater than the lower IQR, replace with NaN
    cranmet_noUVoutliers_VarsOnly[i] = np.where(cranmet_noUVoutliers_VarsOnly[i] < iqr_lower, np.nan, cranmet_noUVoutliers_VarsOnly[i])   # where any variable value is less than the lower IQR, replace with NaN
    print(cranmet_noUVoutliers_VarsOnly[i].describe())
    outliers_updated = dict(s[(s < iqr_lower) | (s > iqr_upper)])
    print('Outliers after removal:', outliers_updated)

count     78.000000
mean     177.038462
std        9.601735
min      161.000000
25%      171.000000
50%      176.000000
75%      183.000000
max      203.000000
Name: GOL, dtype: float64
Outliers: {29: 203.0}
5th percentile: 176.0
95th percentile: 195.14999999999998
count     77.000000
mean     176.701299
std        9.188186
min      161.000000
25%      171.000000
50%      176.000000
75%      183.000000
max      199.000000
Name: GOL, dtype: float64
Outliers after removal: {}
count     78.000000
mean     174.500000
std        8.847555
min      158.000000
25%      169.000000
50%      173.000000
75%      180.750000
max      200.000000
Name: NOL, dtype: float64
Outliers: {29: 200.0}
5th percentile: 173.0
95th percentile: 192.0
count     77.000000
mean     174.168831
std        8.404890
min      158.000000
25%      169.000000
50%      173.000000
75%      180.000000
max      194.000000
Name: NOL, dtype: float64
Outliers after removal: {}
count     81.000000
mean     100.197531
std        5.448440
min       90.000000
25%       96.000000
50%      100.000000
75%      104.000000
max      115.000000
Name: BNL, dtype: float64
Outliers: {}
5th percentile: 100.0
95th percentile: 108.0
count     81.000000
mean     100.197531
std        5.448440
min       90.000000
25%       96.000000
50%      100.000000
75%      104.000000
max      115.000000
Name: BNL, dtype: float64
Outliers after removal: {}
count     80.000000
mean     136.862500
std        6.383808
min      123.000000
25%      132.000000
50%      135.500000
75%      141.000000
max      150.000000
Name: BBH, dtype: float64
Outliers: {}
5th percentile: 135.5
95th percentile: 149.0
count     80.000000
mean     136.862500
std        6.383808
min      123.000000
25%      132.000000
50%      135.500000
75%      141.000000
max      150.000000
Name: BBH, dtype: float64
Outliers after removal: {}
count     82.000000
mean     141.902439
std        6.557645
min      122.000000
25%      137.250000
50%      142.000000
75%      145.750000
max      158.000000
Name: XCB, dtype: float64
Outliers: {57: 122}
5th percentile: 142.0
95th percentile: 152.0
count     81.000000
mean     142.148148
std        6.207075
min      129.000000
25%      138.000000
50%      142.000000
75%      146.000000
max      158.000000
Name: XCB, dtype: float64
Outliers after removal: {57: 122}
count     81.000000
mean     116.654321
std        5.060041
min      104.000000
25%      114.000000
50%      117.000000
75%      121.000000
max      132.000000
Name: XFB, dtype: float64
Outliers: {36: 132.0}
5th percentile: 117.0
95th percentile: 124.0
count     80.000000
mean     116.462500
std        4.786436
min      104.000000
25%      113.750000
50%      116.500000
75%      121.000000
max      128.000000
Name: XFB, dtype: float64
Outliers after removal: {}
count     82.000000
mean      92.182927
std        4.866433
min       81.000000
25%       88.250000
50%       92.000000
75%       96.000000
max      104.000000
Name: WFB, dtype: float64
Outliers: {}
5th percentile: 92.0
95th percentile: 99.95
count     82.000000
mean      92.182927
std        4.866433
min       81.000000
25%       88.250000
50%       92.000000
75%       96.000000
max      104.000000
Name: WFB, dtype: float64
Outliers after removal: {}
count     82.000000
mean     132.280488
std        6.467916
min      118.000000
25%      128.250000
50%      132.000000
75%      136.000000
max      149.000000
Name: ZYB, dtype: float64
Outliers: {5: 149}
5th percentile: 132.0
95th percentile: 142.95
count     81.000000
mean     132.074074
std        6.230525
min      118.000000
25%      128.000000
50%      132.000000
75%      136.000000
max      146.000000
Name: ZYB, dtype: float64
Outliers after removal: {5: 149}
count     73.000000
mean     109.958904
std        5.743205
min       95.000000
25%      106.000000
50%      111.000000
75%      114.000000
max      121.000000
Name: ASB, dtype: float64
Outliers: {}
5th percentile: 111.0
95th percentile: 119.39999999999999
count     73.000000
mean     109.958904
std        5.743205
min       95.000000
25%      106.000000
50%      111.000000
75%      114.000000
max      121.000000
Name: ASB, dtype: float64
Outliers after removal: {}
count     75.000000
mean      96.013333
std        5.614877
min       78.000000
25%       93.000000
50%       96.000000
75%       99.000000
max      113.000000
Name: BPL, dtype: float64
Outliers: {38: 78.0, 39: 113.0, 46: 110.0}
5th percentile: 96.0
95th percentile: 106.0
count     72.000000
mean      95.833333
std        4.629970
min       85.000000
25%       93.000000
50%       96.000000
75%       99.000000
max      107.000000
Name: BPL, dtype: float64
Outliers after removal: {}
count    74.000000
mean     69.418919
std       4.566125
min      58.000000
25%      66.250000
50%      70.000000
75%      72.000000
max      83.000000
Name: NPH, dtype: float64
Outliers: {46: 83.0}
5th percentile: 70.0
95th percentile: 76.0
count    73.000000
mean     69.232877
std       4.306070
min      58.000000
25%      66.000000
50%      70.000000
75%      72.000000
max      79.000000
Name: NPH, dtype: float64
Outliers after removal: {}
count    81.000000
mean     51.814815
std       3.391575
min      42.000000
25%      50.000000
50%      52.000000
75%      54.000000
max      60.000000
Name: NLH, dtype: float64
Outliers: {69: 42.0}
5th percentile: 52.0
95th percentile: 58.0
count    80.000000
mean     51.937500
std       3.227037
min      45.000000
25%      50.000000
50%      52.000000
75%      54.000000
max      60.000000
Name: NLH, dtype: float64
Outliers after removal: {}
count     82.000000
mean     113.256098
std        5.693425
min      101.000000
25%      109.000000
50%      113.000000
75%      117.000000
max      126.000000
Name: JUB, dtype: float64
Outliers: {}
5th percentile: 113.0
95th percentile: 123.0
count     82.000000
mean     113.256098
std        5.693425
min      101.000000
25%      109.000000
50%      113.000000
75%      117.000000
max      126.000000
Name: JUB, dtype: float64
Outliers after removal: {}
count    79.000000
mean     25.518987
std       2.105309
min      22.000000
25%      24.000000
50%      25.000000
75%      27.000000
max      32.000000
Name: NLB, dtype: float64
Outliers: {32: 32.0}
5th percentile: 25.0
95th percentile: 29.0
count    78.000000
mean     25.435897
std       1.984287
min      22.000000
25%      24.000000
50%      25.000000
75%      27.000000
max      30.000000
Name: NLB, dtype: float64
Outliers after removal: {}
count    60.000000
mean     64.616667
std       4.202871
min      55.000000
25%      61.000000
50%      64.500000
75%      68.000000
max      73.000000
Name: MAB, dtype: float64
Outliers: {}
5th percentile: 64.5
95th percentile: 71.0
count    60.000000
mean     64.616667
std       4.202871
min      55.000000
25%      61.000000
50%      64.500000
75%      68.000000
max      73.000000
Name: MAB, dtype: float64
Outliers after removal: {}
count    74.000000
mean     52.756757
std       3.263794
min      47.000000
25%      50.000000
50%      53.000000
75%      55.000000
max      60.000000
Name: MAL, dtype: float64
Outliers: {}
5th percentile: 53.0
95th percentile: 58.0
count    74.000000
mean     52.756757
std       3.263794
min      47.000000
25%      50.000000
50%      53.000000
75%      55.000000
max      60.000000
Name: MAL, dtype: float64
Outliers after removal: {}
count    82.000000
mean     34.256098
std       3.650845
min      26.000000
25%      32.000000
50%      34.000000
75%      36.750000
max      45.000000
Name: MDH, dtype: float64
Outliers: {47: 45}
5th percentile: 34.0
95th percentile: 41.0
count    81.000000
mean     34.123457
std       3.469087
min      26.000000
25%      32.000000
50%      34.000000
75%      36.000000
max      42.000000
Name: MDH, dtype: float64
Outliers after removal: {47: 45}
count    81.000000
mean     35.061728
std       2.081740
min      30.000000
25%      34.000000
50%      35.000000
75%      36.000000
max      42.000000
Name: OBH, dtype: float64
Outliers: {1: 41.0, 9: 40.0, 31: 42.0, 69: 30.0}
5th percentile: 35.0
95th percentile: 38.0
count    77.000000
mean     34.896104
std       1.666894
min      32.000000
25%      34.000000
50%      35.000000
75%      36.000000
max      39.000000
Name: OBH, dtype: float64
Outliers after removal: {}
count    79.000000
mean     40.632911
std       2.607569
min      33.000000
25%      39.000000
50%      41.000000
75%      42.000000
max      47.000000
Name: OBB, dtype: float64
Outliers: {46: 47.0, 69: 34.0, 77: 33.0}
5th percentile: 41.0
95th percentile: 45.0
count    76.000000
mean     40.736842
std       2.270791
min      37.000000
25%      39.000000
50%      41.000000
75%      42.000000
max      46.000000
Name: OBB, dtype: float64
Outliers after removal: {}
count    79.000000
mean     19.569620
std       2.279696
min      14.000000
25%      18.000000
50%      20.000000
75%      21.000000
max      26.000000
Name: DKB, dtype: float64
Outliers: {77: 26.0}
5th percentile: 20.0
95th percentile: 23.0
count    78.000000
mean     19.487179
std       2.172697
min      14.000000
25%      18.000000
50%      19.500000
75%      21.000000
max      24.000000
Name: DKB, dtype: float64
Outliers after removal: {}
count    72.000000
mean      8.930556
std       1.722481
min       6.000000
25%       8.000000
50%       9.000000
75%      10.000000
max      14.000000
Name: NDS, dtype: float64
Outliers: {39: 14.0}
5th percentile: 9.0
95th percentile: 11.450000000000003
count    71.000000
mean      8.859155
std       1.623891
min       6.000000
25%       8.000000
50%       9.000000
75%      10.000000
max      13.000000
Name: NDS, dtype: float64
Outliers after removal: {}
count    80.000000
mean      7.741250
std       1.780534
min       3.300000
25%       6.475000
50%       7.450000
75%       8.900000
max      12.000000
Name: WNB, dtype: float64
Outliers: {}
5th percentile: 7.45
95th percentile: 10.9
count    80.000000
mean      7.741250
std       1.780534
min       3.300000
25%       6.475000
50%       7.450000
75%       8.900000
max      12.000000
Name: WNB, dtype: float64
Outliers after removal: {}
count    73.000000
mean      2.731507
std       0.931826
min       1.100000
25%       2.000000
50%       2.700000
75%       3.400000
max       5.600000
Name: SIS, dtype: float64
Outliers: {39: 5.6}
5th percentile: 2.7
95th percentile: 4.039999999999999
count    72.000000
mean      2.691667
std       0.873515
min       1.100000
25%       2.000000
50%       2.700000
75%       3.400000
max       4.700000
Name: SIS, dtype: float64
Outliers after removal: {}
count     80.000000
mean      96.412500
std        5.931452
min       81.000000
25%       93.000000
50%       96.000000
75%      100.000000
max      113.000000
Name: ZMB, dtype: float64
Outliers: {0: 81.0, 4: 111.0, 67: 113.0}
5th percentile: 96.0
95th percentile: 105.1
count     77.000000
mean      96.207792
std        5.194475
min       83.000000
25%       93.000000
50%       96.000000
75%       99.000000
max      110.000000
Name: ZMB, dtype: float64
Outliers after removal: {}
count    79.000000
mean     24.063291
std       3.450536
min      15.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      33.000000
Name: SSS, dtype: float64
Outliers: {38: 15.0, 77: 33.0}
5th percentile: 24.0
95th percentile: 29.099999999999994
count    77.000000
mean     24.064935
std       3.176135
min      16.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      31.000000
Name: SSS, dtype: float64
Outliers after removal: {}
count     82.000000
mean      97.414634
std        4.340311
min       90.000000
25%       94.000000
50%       97.000000
75%      100.000000
max      107.000000
Name: FMB, dtype: float64
Outliers: {}
5th percentile: 97.0
95th percentile: 104.0
count     82.000000
mean      97.414634
std        4.340311
min       90.000000
25%       94.000000
50%       97.000000
75%      100.000000
max      107.000000
Name: FMB, dtype: float64
Outliers after removal: {}
count    81.000000
mean     15.469136
std       2.811078
min      10.000000
25%      14.000000
50%      15.000000
75%      17.000000
max      26.000000
Name: NAS, dtype: float64
Outliers: {0: 23.0, 46: 26.0}
5th percentile: 15.0
95th percentile: 20.0
count    79.000000
mean     15.240506
std       2.429599
min      10.000000
25%      14.000000
50%      15.000000
75%      16.500000
max      21.000000
Name: NAS, dtype: float64
Outliers after removal: {}
count     81.000000
mean      97.703704
std        4.678259
min       89.000000
25%       94.000000
50%       97.000000
75%      101.000000
max      108.000000
Name: EKB, dtype: float64
Outliers: {}
5th percentile: 97.0
95th percentile: 105.0
count     81.000000
mean      97.703704
std        4.678259
min       89.000000
25%       94.000000
50%       97.000000
75%      101.000000
max      108.000000
Name: EKB, dtype: float64
Outliers after removal: {}
count    79.000000
mean     10.721519
std       2.745330
min       5.000000
25%       9.000000
50%      10.000000
75%      13.000000
max      17.000000
Name: DKS, dtype: float64
Outliers: {}
5th percentile: 10.0
95th percentile: 15.099999999999994
count    79.000000
mean     10.721519
std       2.745330
min       5.000000
25%       9.000000
50%      10.000000
75%      13.000000
max      17.000000
Name: DKS, dtype: float64
Outliers after removal: {}
count    81.000000
mean     33.049383
std       3.346271
min      24.000000
25%      31.000000
50%      33.000000
75%      35.000000
max      41.000000
Name: IML, dtype: float64
Outliers: {77: 24.0}
5th percentile: 33.0
95th percentile: 38.0
count    80.000000
mean     33.162500
std       3.207759
min      25.000000
25%      31.750000
50%      33.000000
75%      35.000000
max      41.000000
Name: IML, dtype: float64
Outliers after removal: {}
count    81.000000
mean     53.592593
std       4.049005
min      42.000000
25%      51.000000
50%      54.000000
75%      56.000000
max      63.000000
Name: XML, dtype: float64
Outliers: {50: 42.0}
5th percentile: 54.0
95th percentile: 60.0
count    80.000000
mean     53.737500
std       3.857407
min      44.000000
25%      51.750000
50%      54.000000
75%      56.000000
max      63.000000
Name: XML, dtype: float64
Outliers after removal: {}
count    79.000000
mean     13.822785
std       1.899794
min      10.000000
25%      13.000000
50%      14.000000
75%      15.000000
max      19.000000
Name: MLS, dtype: float64
Outliers: {67: 19.0}
5th percentile: 14.0
95th percentile: 16.099999999999994
count    78.000000
mean     13.756410
std       1.817561
min      10.000000
25%      13.000000
50%      14.000000
75%      15.000000
max      18.000000
Name: MLS, dtype: float64
Outliers after removal: {}
count    82.000000
mean     23.707317
std       2.569949
min      17.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      29.000000
Name: WMH, dtype: float64
Outliers: {}
5th percentile: 24.0
95th percentile: 27.950000000000003
count    82.000000
mean     23.707317
std       2.569949
min      17.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      29.000000
Name: WMH, dtype: float64
Outliers after removal: {}
count    81.000000
mean      3.925926
std       1.708638
min       1.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       9.000000
Name: GLS, dtype: float64
Outliers: {36: 9.0}
5th percentile: 4.0
95th percentile: 7.0
count    80.000000
mean      3.862500
std       1.620625
min       1.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       8.000000
Name: GLS, dtype: float64
Outliers after removal: {}
count     81.000000
mean     112.851852
std        6.469372
min       91.000000
25%      108.000000
50%      113.000000
75%      117.000000
max      128.000000
Name: STB, dtype: float64
Outliers: {56: 91.0}
5th percentile: 113.0
95th percentile: 123.0
count     80.000000
mean     113.125000
std        6.021848
min      100.000000
25%      108.750000
50%      113.000000
75%      117.250000
max      128.000000
Name: STB, dtype: float64
Outliers after removal: {}
count     79.000000
mean     111.443038
std        5.743998
min      100.000000
25%      107.000000
50%      112.000000
75%      116.000000
max      124.000000
Name: FRC, dtype: float64
Outliers: {}
5th percentile: 112.0
95th percentile: 120.0
count     79.000000
mean     111.443038
std        5.743998
min      100.000000
25%      107.000000
50%      112.000000
75%      116.000000
max      124.000000
Name: FRC, dtype: float64
Outliers after removal: {}
count    79.000000
mean     25.582278
std       2.594904
min      20.000000
25%      24.000000
50%      26.000000
75%      27.000000
max      32.000000
Name: FRS, dtype: float64
Outliers: {11: 32.0}
5th percentile: 26.0
95th percentile: 30.0
count    78.000000
mean     25.500000
std       2.505837
min      20.000000
25%      24.000000
50%      25.500000
75%      27.000000
max      31.000000
Name: FRS, dtype: float64
Outliers after removal: {}
count     79.000000
mean     110.721519
std        7.438529
min       90.000000
25%      106.000000
50%      110.000000
75%      114.000000
max      135.000000
Name: PAC, dtype: float64
Outliers: {31: 135.0, 33: 129.0, 57: 90.0}
5th percentile: 110.0
95th percentile: 123.1
count     76.000000
mean     110.434211
std        6.278716
min       94.000000
25%      106.000000
50%      110.000000
75%      114.000000
max      124.000000
Name: PAC, dtype: float64
Outliers after removal: {}
count    79.000000
mean     23.949367
std       3.615844
min      15.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      32.000000
Name: PAS, dtype: float64
Outliers: {55: 15.0, 57: 15.0}
5th percentile: 24.0
95th percentile: 30.099999999999994
count    77.000000
mean     24.181818
std       3.354993
min      17.000000
25%      22.000000
50%      24.000000
75%      26.000000
max      32.000000
Name: PAS, dtype: float64
Outliers after removal: {}
count     79.000000
mean      99.620253
std        5.711670
min       87.000000
25%       96.000000
50%       99.000000
75%      103.000000
max      113.000000
Name: OCC, dtype: float64
Outliers: {}
5th percentile: 99.0
95th percentile: 109.1
count     79.000000
mean      99.620253
std        5.711670
min       87.000000
25%       96.000000
50%       99.000000
75%      103.000000
max      113.000000
Name: OCC, dtype: float64
Outliers after removal: {}
count    79.000000
mean     28.594937
std       3.646280
min      22.000000
25%      26.000000
50%      28.000000
75%      31.500000
max      37.000000
Name: OCS, dtype: float64
Outliers: {}
5th percentile: 28.0
95th percentile: 35.0
count    79.000000
mean     28.594937
std       3.646280
min      22.000000
25%      26.000000
50%      28.000000
75%      31.500000
max      37.000000
Name: OCS, dtype: float64
Outliers after removal: {}
count    82.000000
mean     35.207317
std       2.674700
min      26.000000
25%      34.000000
50%      36.000000
75%      37.000000
max      42.000000
Name: FOL, dtype: float64
Outliers: {25: 26, 47: 42, 52: 29}
5th percentile: 36.0
95th percentile: 39.0
count    79.000000
mean     35.316456
std       2.290137
min      30.000000
25%      34.000000
50%      36.000000
75%      37.000000
max      41.000000
Name: FOL, dtype: float64
Outliers after removal: {25: 26, 47: 42, 52: 29}
count    82.000000
mean     30.426829
std       2.160421
min      24.000000
25%      29.000000
50%      30.000000
75%      32.000000
max      35.000000
Name: FOB, dtype: float64
Outliers: {61: 24}
5th percentile: 30.0
95th percentile: 34.0
count    81.000000
mean     30.506173
std       2.050143
min      26.000000
25%      29.000000
50%      30.000000
75%      32.000000
max      35.000000
Name: FOB, dtype: float64
Outliers after removal: {61: 24}
count     81.000000
mean      93.098765
std        4.983987
min       83.000000
25%       90.000000
50%       93.000000
75%       96.000000
max      109.000000
Name: NAR, dtype: float64
Outliers: {46: 109.0}
5th percentile: 93.0
95th percentile: 100.0

In [ ]:
percent_missing = cranmet_noUVoutliers_VarsOnly.isnull().sum().sum()*100 / (len(cranmet_noUVoutliers_VarsOnly) * len(cranmet_noUVoutliers_VarsOnly.columns))
percent_missing

5.487804878048781

In [ ]:
cranmet_dems = pd.DataFrame()

In [ ]:
cranmet_dems['SkelID'] = cranmet['SkelID']
cranmet_dems['Collection'] = cranmet['Collection']
cranmet_dems['Sex'] = cranmet['Sex']
cranmet_dems['Age'] = cranmet['Age']
cranmet_dems['Population'] = cranmet['Population']
cranmet_dems['Population2'] = cranmet['Population2']
cranmet_dems['Population3'] = cranmet['Population3']
cranmet_dems['Population4'] = cranmet['Population4']

In [ ]:
cranmet_dems.head()

In [ ]:
cranmet_no_univariate_outliers = pd.concat([cranmet_dems, cranmet_noUVoutliers_VarsOnly], axis=1)

In [ ]:
cranmet_no_univariate_outliers.head()

In [ ]:
cranmet_no_univariate_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   Sex          82 non-null     object
 3   Age          82 non-null     int64
 4   Population   82 non-null     object
 5   Population2  10 non-null     object
 6   Population3  5 non-null      object
 7   Population4  1 non-null      object
 8   GOL          77 non-null     float64
 9   NOL          77 non-null     float64
 10  BNL          81 non-null     float64
 11  BBH          80 non-null     float64
 12  XCB          81 non-null     float64
 13  XFB          80 non-null     float64
 14  WFB          82 non-null     float64
 15  ZYB          81 non-null     float64
 16  ASB          73 non-null     float64
 17  BPL          72 non-null     float64
 18  NPH          73 non-null     float64
 19  NLH          80 non-null     float64
 20  JUB          82 non-null     float64
 21  NLB          78 non-null     float64
 22  MAB          60 non-null     float64
 23  MAL          74 non-null     float64
 24  MDH          81 non-null     float64
 25  OBH          77 non-null     float64
 26  OBB          76 non-null     float64
 27  DKB          78 non-null     float64
 28  NDS          71 non-null     float64
 29  WNB          80 non-null     float64
 30  SIS          72 non-null     float64
 31  ZMB          77 non-null     float64
 32  SSS          77 non-null     float64
 33  FMB          82 non-null     float64
 34  NAS          79 non-null     float64
 35  EKB          81 non-null     float64
 36  DKS          79 non-null     float64
 37  IML          80 non-null     float64
 38  XML          80 non-null     float64
 39  MLS          78 non-null     float64
 40  WMH          82 non-null     float64
 41  GLS          80 non-null     float64
 42  STB          80 non-null     float64
 43  FRC          79 non-null     float64
 44  FRS          78 non-null     float64
 45  PAC          76 non-null     float64
 46  PAS          77 non-null     float64
 47  OCC          79 non-null     float64
 48  OCS          79 non-null     float64
 49  FOL          79 non-null     float64
 50  FOB          81 non-null     float64
 51  NAR          80 non-null     float64
 52  SSR          81 non-null     float64
 53  PRR          72 non-null     float64
 54  DKR          79 non-null     float64
 55  ZOR          81 non-null     float64
 56  FMR          82 non-null     float64
 57  EKR          82 non-null     float64
 58  ZMR          81 non-null     float64
 59  AVR          66 non-null     float64
 60  BRR          79 non-null     float64
 61  VRR          78 non-null     float64
 62  LAR          78 non-null     float64
 63  OSR          81 non-null     float64
 64  MOW          74 non-null     float64
 65  UFBR         82 non-null     float64
 66  UFHT         60 non-null     float64
 67  NAA          73 non-null     float64
 68  PRA          73 non-null     float64
 69  BAA          74 non-null     float64
 70  NBA          79 non-null     float64
 71  BBA          79 non-null     float64
 72  BRA          77 non-null     float64
 73  SSA          79 non-null     float64
 74  NFA          79 non-null     float64
 75  DKA          78 non-null     float64
 76  NDA          68 non-null     float64
 77  FRA          78 non-null     float64
 78  PAA          79 non-null     float64
 79  OCA          79 non-null     float64
dtypes: float64(72), int64(2), object(6)
memory usage: 51.9+ KB

#### Output file: no_univariate_outliers

In [ ]:
cranmet_no_univariate_outliers.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_no_univariate_outliers.xlsx', index=False)

##### Old UV outlier code

In [ ]:
# remove outliers by one column at a time
# GOL
'''
s = cranmet_no_univariate_outliers['GOL']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliersGOL = dict(s[(s < iqr_lower) | (s > iqr_upper)])
print(outliersGOL)
print(iqr_lower)
print(iqr_upper)
print(cranmet_no_univariate_outliers['GOL'].quantile(0.50))
print(cranmet_no_univariate_outliers['GOL'].quantile(0.95))
'''

{29: 203.0}
153.0
201.0
176.0
195.14999999999998

In [ ]:
# NLH
'''
s = cranmet_no_univariate_outliers['NLH']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliersNLH = dict(s[(s < iqr_lower) | (s > iqr_upper)])
print(outliersNLH)
print(iqr_lower)
print(iqr_upper)
print(cranmet_no_univariate_outliers['NLH'].quantile(0.50))
print(cranmet_no_univariate_outliers['NLH'].quantile(0.95))
'''

{69: 42.0}
44.0
60.0
52.0
58.0

In [ ]:
# replaced NLH == 133 with the variable median (79)
'''
print(cranmet_no_univariate_outliers['NLH'].quantile(0.50))                              # find the variable median
print(cranmet_no_univariate_outliers['NLH'].quantile(0.95))                              # find the variable 95th percentile
cranmet_no_univariate_outliers['NLH'] = np.where(cranmet_no_univariate_outliers['NLH'] == 42, 52, cranmet_no_univariate_outliers['NLH'])        # where any variable values are equal 133, replace it with the median (79)
cranmet_no_univariate_outliers['NLH'].describe()
'''

52.0
58.0

count    81.000000
mean     51.938272
std       3.206812
min      45.000000
25%      50.000000
50%      52.000000
75%      54.000000
max      60.000000
Name: NLH, dtype: float64

In [ ]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [ ]:
dtale.show(cranmet_no_univariate_outliers)

In [ ]:
'''
s = cranmet_no_univariate_outliers['AVR']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliersAVR = dict(s[(s < iqr_lower) | (s > iqr_upper)])
outliersAVR
'''

{}

In [ ]:
# replaced AVR == 133 with the variable median (79)
'''
print(cranmet_no_univariate_outliers['AVR'].quantile(0.50))                              # find the variable median
print(cranmet_no_univariate_outliers['AVR'].quantile(0.95))                              # find the variable 95th percentile
cranmet_no_univariate_outliers['AVR'] = np.where(cranmet_no_univariate_outliers['AVR'] == 133, 79, cranmet_no_univariate_outliers['AVR'])        # where any variable values are equal 133, replace it with the median (79)
cranmet_no_univariate_outliers['AVR'].describe()
'''

79.0
85.0

count    67.000000
mean     79.014925
std       4.311691
min      68.000000
25%      76.000000
50%      79.000000
75%      82.000000
max      90.000000
Name: AVR, dtype: float64

In [ ]:
'''
s = cranmet_no_univariate_outliers['PRA']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliersPRA = dict(s[(s < iqr_lower) | (s > iqr_upper)])
outliersPRA
'''

{27: 81.0}

In [ ]:
# replaced PRA >= 86 with the variable median (72)
'''
print(cranmet_no_univariate_outliers['PRA'].quantile(0.50))
print(cranmet_no_univariate_outliers['PRA'].quantile(0.95))
cranmet_no_univariate_outliers['PRA'] = np.where(cranmet_no_univariate_outliers['PRA'] >= 86, 72, cranmet_no_univariate_outliers['PRA'])
cranmet_no_univariate_outliers['PRA'].describe()
'''

72.0
78.0

count    75.000000
mean     72.160000
std       3.472051
min      64.000000
25%      70.000000
50%      72.000000
75%      74.000000
max      81.000000
Name: PRA, dtype: float64

In [ ]:
cranmet_no_univariate_outliers.head()

### Multivariate outliers: Mahalanobis distance

#### Separate US and Japan collections

In [ ]:
cranmet_US = pd.DataFrame(df_cranmet)
cranmet_US = cranmet[cranmet['Collection'] == 'US']

In [ ]:
cranmet_US['Collection'].unique()

In [ ]:
cranmet_Japan = pd.DataFrame(df_cranmet)
cranmet_Japan = cranmet[cranmet['Collection'] == 'Japan']

In [ ]:
cranmet_Japan['Collection'].unique()

In [ ]:
from scipy.spatial import distance

In [ ]:
'''
#create function to calculate Mahalanobis distance
def mahalanobis(x=None, data=None, cov=None):

    x_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
    inv_covmat = np.linalg.inv(cov)
    left = np.dot(x_mu, inv_covmat)
    mahal = np.dot(left, x_mu.T)
    return mahal.diagonal()

#create new column in dataframe that contains Mahalanobis distance for each row
df['mahalanobis'] = mahalanobis(x=df, data=df[['score', 'hours', 'prep', 'grade']])

#display first five rows of dataframe
df.head()

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import chi2
from matplotlib import patches
import matplotlib.pyplot as plt

#### Old code

In [ ]:
#df2 = pd.DataFrame(cranmet_VarsOnly)

In [ ]:
#df2 = df2.dropna()

In [ ]:
#df2.head(20)

In [ ]:
'''
df = df.dropna()
df = df.to_numpy()
'''

In [ ]:
'''
# Covariance matrix
covariance  = np.cov(df, rowvar=False)   #  , rowvar=False

# Covariance matrix power of -1
covariance_pm1 = np.linalg.matrix_power(covariance, -1)

# Center point
centerpoint_axis0 = np.mean(df , axis=0)      # centerpoint is being calculated for the columns, which was want because this is finding the center of each column (72 columns) (using data from 33 people/rows)
#centerpoint_axis1 = np.mean(df , axis=1)       # centerpoint is being calculated for the rows
'''

In [ ]:
'''
print(covariance.shape)
print(covariance_pm1.shape)          # this shows the covariance is being calculated using the columns (not rows)
'''

(72, 72)

In [ ]:
'''
print(centerpoint_axis0)
print(len(centerpoint_axis0))
'''

[175.78787879 173.3030303   99.24242424 136.39393939 141.87878788
 116.          91.27272727 131.87878788 109.21212121  96.63636364
  70.09090909  52.36363636 113.06060606  25.60606061  64.63636364
  53.42424242  34.81818182  35.45454545  40.54545455  19.63636364
   8.63636364   7.9          2.58484848  96.57575758  24.39393939
  96.87878788  14.93939394  97.36363636  10.6969697   33.03030303
  53.18181818  14.06060606  23.48484848   3.66666667 112.45454545
 111.66666667  26.27272727 109.84848485  23.66666667  98.60606061
  28.60606061  35.36363636  30.45454545  92.54545455  93.63636364
 101.33333333  82.24242424  79.72727273  78.          72.63636364
  70.09090909  79.09090909 120.48484848 123.60606061 105.27272727
  40.15151515  52.39393939 103.27272727  72.51515152  67.12121212
  70.96969697  41.90909091  80.39393939  53.81818182  45.78787879
 126.45454545 145.75757576 149.6969697   97.87878788 129.39393939
 133.39393939 119.03030303]

In [ ]:
'''
print(len(centerpoint_axis1))
print(centerpoint_axis1)
'''

33

In [ ]:
'''
a = np.array([2, 4, 8])
b = np.array([1, 2, 3])
c = a.T.dot(b)
print(c)
'''

34

In [ ]:
'''
# Distances between center point and
distances = []
for i, val in enumerate(df):
      #print(val)                    # val is a row
      #p1 = df[:, i]
      p1 = val
      p2 = centerpoint_axis0
      #p2 = centerpoint_axis1
      distance = (p1-p2).T.dot(covariance_pm1).dot(p1-p2)
      distances.append(distance)
print(np.array(distances).shape)

distances = np.array(distances)

# Cutoff (threshold) value from Chi-Sqaure Distribution for detecting outliers
cutoff = chi2.ppf(0.95, df.shape[1])

# Index of outliers
outlierIndexes = np.where(distances > cutoff )

print("total outliers {}".format(len(outlierIndexes[0])))
print('--- Index of Outliers ----')
print(outlierIndexes[0])
# array([24, 35, 67, 81])

print('--- Observations found as outlier -----')
print(df[ distances > cutoff , :])
#[[115.  79.], [135.  84.], [122.  89.], [168.  81.]]
'''

(33,)
total outliers 15
--- Index of Outliers ----
[ 1  4  7 10 12 14 16 19 21 24 25 26 28 30 31]
--- Observations found as outlier -----
[[185.  183.  103.  139.  151.  122.   97.  136.  120.  100.   72.   55.
  123.   27.   66.   58.   36.   35.   45.   20.    6.   10.2   3.1 100.
   21.  103.   19.  105.   17.   41.   59.   15.   29.    4.  121.  120.
   27.  112.   24.  106.   35.   34.   30.  100.   97.  105.   92.   85.
   81.   76.   77.   80.  128.  132.  113.   36.   56.  111.   76.   67.
   71.   42.   77.   57.   46.  134.  139.  136.  118.  132.  134.  111. ]
 [178.  178.  104.  135.  135.  114.   94.  129.  105.   99.   74.   55.
  113.   26.   64.   55.   33.   35.   41.   21.   10.   10.9   3.6 104.
   24.   99.   18.   99.   11.   32.   52.   15.   26.    2.  108.  107.
   24.  113.   23.   98.   26.   37.   28.   98.   99.  106.   86.   84.
   81.   76.   75.   83.  118.  121.  106.   39.   56.  106.   77.   65.
   72.   43.   80.   51.   49.  130.  140.  149.   93.  131.  136.  124. ]
 [171.  170.  102.  140.  142.  117.   81.  130.  113.   95.   70.   53.
  108.   24.   57.   49.   33.   36.   40.   17.   11.    7.4   2.7  91.
   24.   94.   13.   95.    9.   34.   53.   12.   22.    3.  115.  112.
   24.  103.   21.  102.   24.   37.   32.   93.   93.   99.   81.   80.
   80.   75.   72.   79.  122.  124.  106.   43.   49.   98.   73.   64.
   75.   41.   82.   52.   46.  124.  149.  154.   75.  133.  136.  130. ]
 [194.  189.  106.  150.  150.  122.   93.  139.  113.   98.   75.   59.
  115.   26.   73.   56.   42.   37.   42.   19.   10.    7.7   3.2  97.
   25.   98.   19.   98.   11.   39.   61.   16.   27.    3.  121.  120.
   31.  129.   29.   99.   37.   41.   34.  101.   99.  106.   86.   84.
   84.   78.   75.   85.  133.  136.  111.   42.   50.  105.   78.   63.
   74.   43.   83.   53.   45.  125.  138.  150.   87.  125.  132.  106. ]
 [199.  193.  113.  148.  144.  118.   97.  133.  121.  113.   79.   57.
  112.   26.   67.   59.   33.   36.   44.   19.   14.    9.5   5.6  98.
   27.  100.   19.  102.   13.   36.   56.   15.   29.    7.  118.  123.
   29.  124.   26.  102.   34.   37.   32.  103.  105.  116.   90.   89.
   84.   78.   80.   90.  131.  135.  113.   45.   53.  105.   80.   70.
   70.   41.   78.   54.   48.  122.  138.  146.   68.  130.  134.  112. ]
 [176.  174.  106.  141.  147.  121.   96.  141.  116.   99.   69.   53.
  126.   28.   69.   56.   39.   35.   43.   24.   10.   10.9   3.8 102.
   25.  104.   19.  105.   14.   37.   53.   16.   24.    5.  114.  108.
   22.  113.   27.   93.   24.   39.   32.   96.   97.  103.   85.   79.
   79.   72.   72.   76.  120.  123.  102.   44.   60.  111.   72.   65.
   76.   39.   82.   49.   48.  128.  140.  142.  100.  136.  129.  125. ]
 [172.  167.   90.  128.  150.  114.   86.  129.  116.   87.   70.   50.
  106.   23.   56.   48.   41.   36.   38.   18.    6.    7.1   2.   84.
   18.   91.   12.   91.   10.   34.   54.   13.   22.    5.  113.  107.
   24.  109.   25.   94.   32.   34.   28.   87.   84.   90.   78.   76.
   75.   70.   67.   72.  119.  123.  104.   37.   45.   98.   71.   64.
   69.   47.   81.   56.   44.  134.  150.  149.  113.  131.  131.  112. ]
 [171.  169.   93.  127.  133.  110.   91.  126.  104.   93.   64.   49.
  111.   22.   63.   52.   34.   33.   37.   20.    9.    7.1   1.9  94.
   23.   92.   11.   92.    5.   29.   51.   15.   22.    3.  106.  100.
   26.   97.   15.  105.   34.   36.   31.   84.   87.   95.   73.   75.
   74.   70.   64.   70.  112.  116.  111.   42.   47.  100.   66.   70.
   70.   40.   82.   51.   47.  128.  153.  164.   96.  124.  145.  112. ]
 [166.  164.   93.  123.  147.  116.   90.  135.  111.   89.   71.   54.
  108.   22.   63.   47.   35.   37.   41.   14.    6.    5.1   1.4  91.
   26.   94.   15.   91.   14.   34.   54.   14.   19.    5.  112.  106.
   22.   94.   22.   96.   25.   39.   35.   86.   89.   93.   79.   72.
   68.   64.   63.   74.  108.  118.  104.   44.   46.   99.   71.   64.
   70.   46.   76.   57.   47.  121.  145.  140.   99.  135.  130.  123. ]
 [173.  172.  107.  141.  139.  113.   92.  133.  105.  106.   62.   48.
  116.   27.   71.   55.   32.   32.   38.   21.    8.   10.9   3.1  97.
   25.   95.   13.   96.    8.   35.   55.   15.   24.    2.  104.  109.
   24.  104.   20.  110.   29.   32.   31.   92.   96.  103.   82.   81.
   80.   74.   71.   83.  121.  125.  110.   46.   52.  105.   65.   72.
   74.   34.   81.   50.   49.  125.  149.  156.  105.  132.  137.  121. ]
 [177.  173.  100.  138.  141.  108.   85.  122.  102.  103.   71.   51.
  106.   25.   67.   57.   37.   32.   39.   17.    9.    5.6   1.6  96.
   29.   91.   14.   92.   10.   31.   53.   16.   23.    6.  104.  116.
   27.  105.   21.   98.   25.   33.   30.   92.   99.  109.   82.   82.
   74.   70.   68.   82.  117.  119.  104.   38.   51.   97.   74.   72.
   67.   41.   79.   56.   45.  118.  146.  150.   87.  130.  136.  126. ]
 [161.  158.   92.  133.  143.  113.   84.  129.  107.   96.   65.   50.
  109.   27.   69.   53.   35.   33.   37.   19.    8.    6.3   2.6  92.
   28.   92.   10.   90.   10.   28.   51.   14.   21.    4.  111.  105.
   24.  106.   25.   91.   27.   34.   33.   83.   91.   97.   75.   75.
   73.   68.   63.   75.  118.  121.   98.   40.   45.   98.   67.   73.
   66.   40.   85.   52.   44.  117.  155.  149.  100.  131.  129.  118. ]
 [187.  183.  102.  136.  138.  115.   94.  145.  112.   97.   76.   55.
  123.   25.   68.   56.   39.   35.   42.   23.   10.   11.6   2.3 113.
   27.  104.   17.  104.   10.   33.   59.   19.   28.    5.  109.  112.
   24.  120.   24.   98.   32.   36.   32.   93.   95.  102.   80.   79.
   77.   71.   69.   78.  118.  122.  109.   43.   51.  110.   78.   64.
   71.   45.   79.   54.   47.  129.  144.  152.   98.  133.  136.  111. ]
 [171.  169.   93.  132.  139.  111.   84.  128.  107.   91.   71.   52.
  110.   27.   61.   52.   36.   34.   41.   19.    7.    7.4   2.8  94.
   30.   94.   16.   94.   14.   30.   52.   14.   22.    2.  111.  107.
   24.  112.   25.   96.   27.   36.   28.   91.   95.  100.   82.   78.
   76.   69.   65.   76.  118.  120.  101.   36.   53.   98.   73.   66.
   69.   45.   82.   53.   44.  115.  142.  140.  107.  132.  132.  121. ]
 [163.  161.   97.  132.  142.  117.   86.  124.  107.   98.   70.   51.
  106.   25.   64.   54.   32.   34.   33.   26.    8.    6.2   1.2  92.
   33.   92.   14.   93.    6.   24.   44.   12.   17.    1.  104.  100.
   24.  109.   27.   93.   26.   36.   30.   94.   97.  105.   81.   77.
   80.   75.   65.   82.  119.  119.   96.   38.   56.   97.   73.   70.
   68.   42.   84.   49.   47.  109.  146.  159.  117.  129.  126.  121. ]]

In [ ]:
'''
print(np.array(distances).shape)
print(np.array(distances))
'''

(33,)

In [ ]:
'''
outlier_distance = [distances[d] for d in outlierIndexes ]
outlier_distance
'''

[array([ 225.16363636,  293.11943655, 1177.94412879,  785.16212121,
         617.29223485,  363.55132576,   98.62708333,  277.91060606,
         640.10757576,  436.1344697 ,  360.69876894,  144.04829545,
         121.42878788,  153.40625   ,  392.62476326])]

---

In [ ]:
import numpy as np
import pandas as pd
import scipy as stats

#### US Mahalanobis

In [ ]:
cranmet_US.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       48 non-null     int64
 1   Collection   48 non-null     object
 2   GOL          44 non-null     float64
 3   NOL          44 non-null     float64
 4   BNL          47 non-null     float64
 5   BBH          46 non-null     float64
 6   XCB          48 non-null     int64
 7   XFB          47 non-null     float64
 8   WFB          48 non-null     int64
 9   ZYB          48 non-null     int64
 10  ASB          41 non-null     float64
 11  BPL          42 non-null     float64
 12  NPH          41 non-null     float64
 13  NLH          47 non-null     float64
 14  JUB          48 non-null     int64
 15  NLB          45 non-null     float64
 16  MAB          26 non-null     float64
 17  MAL          41 non-null     float64
 18  MDH          48 non-null     int64
 19  OBH          47 non-null     float64
 20  OBB          45 non-null     float64
 21  DKB          45 non-null     float64
 22  NDS          43 non-null     float64
 23  WNB          46 non-null     float64
 24  SIS          44 non-null     float64
 25  ZMB          47 non-null     float64
 26  SSS          46 non-null     float64
 27  FMB          48 non-null     int64
 28  NAS          47 non-null     float64
 29  EKB          47 non-null     float64
 30  DKS          45 non-null     float64
 31  IML          48 non-null     float64
 32  XML          48 non-null     float64
 33  MLS          46 non-null     float64
 34  WMH          48 non-null     int64
 35  GLS          47 non-null     float64
 36  STB          47 non-null     float64
 37  FRC          45 non-null     float64
 38  FRS          45 non-null     float64
 39  PAC          45 non-null     float64
 40  PAS          45 non-null     float64
 41  OCC          45 non-null     float64
 42  OCS          45 non-null     float64
 43  FOL          48 non-null     int64
 44  FOB          48 non-null     int64
 45  NAR          47 non-null     float64
 46  SSR          47 non-null     float64
 47  PRR          42 non-null     float64
 48  DKR          45 non-null     float64
 49  ZOR          48 non-null     float64
 50  FMR          48 non-null     int64
 51  EKR          48 non-null     int64
 52  ZMR          48 non-null     float64
 53  AVR          33 non-null     float64
 54  BRR          46 non-null     float64
 55  VRR          45 non-null     float64
 56  LAR          45 non-null     float64
 57  OSR          48 non-null     int64
 58  MOW          41 non-null     float64
 59  UFBR         48 non-null     int64
 60  UFHT         38 non-null     float64
 61  NAA          42 non-null     float64
 62  PRA          42 non-null     float64
 63  BAA          42 non-null     float64
 64  NBA          45 non-null     float64
 65  BBA          45 non-null     float64
 66  BRA          45 non-null     float64
 67  SSA          46 non-null     float64
 68  NFA          47 non-null     float64
 69  DKA          45 non-null     float64
 70  NDA          43 non-null     float64
 71  FRA          45 non-null     float64
 72  PAA          45 non-null     float64
 73  OCA          45 non-null     float64
 74  Sex          48 non-null     object
 75  Age          48 non-null     int64
 76  Population   48 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 30.4+ KB

In [ ]:
cranmet_US_VarsOnly = pd.DataFrame(cranmet_US.iloc[:, 2:74])
cranmet_US_VarsOnly.head()

In [ ]:
cranmet_US_VarsOnly_noNAs = cranmet_US_VarsOnly.dropna()

In [ ]:
cranmet_US_VarsOnly_noNAs.head()

#only 17 rows left after dropping NAs

In [ ]:
cranmet_US_VarsOnly_noNAs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 4 to 43
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     17 non-null     float64
 1   NOL     17 non-null     float64
 2   BNL     17 non-null     float64
 3   BBH     17 non-null     float64
 4   XCB     17 non-null     int64
 5   XFB     17 non-null     float64
 6   WFB     17 non-null     int64
 7   ZYB     17 non-null     int64
 8   ASB     17 non-null     float64
 9   BPL     17 non-null     float64
 10  NPH     17 non-null     float64
 11  NLH     17 non-null     float64
 12  JUB     17 non-null     int64
 13  NLB     17 non-null     float64
 14  MAB     17 non-null     float64
 15  MAL     17 non-null     float64
 16  MDH     17 non-null     int64
 17  OBH     17 non-null     float64
 18  OBB     17 non-null     float64
 19  DKB     17 non-null     float64
 20  NDS     17 non-null     float64
 21  WNB     17 non-null     float64
 22  SIS     17 non-null     float64
 23  ZMB     17 non-null     float64
 24  SSS     17 non-null     float64
 25  FMB     17 non-null     int64
 26  NAS     17 non-null     float64
 27  EKB     17 non-null     float64
 28  DKS     17 non-null     float64
 29  IML     17 non-null     float64
 30  XML     17 non-null     float64
 31  MLS     17 non-null     float64
 32  WMH     17 non-null     int64
 33  GLS     17 non-null     float64
 34  STB     17 non-null     float64
 35  FRC     17 non-null     float64
 36  FRS     17 non-null     float64
 37  PAC     17 non-null     float64
 38  PAS     17 non-null     float64
 39  OCC     17 non-null     float64
 40  OCS     17 non-null     float64
 41  FOL     17 non-null     int64
 42  FOB     17 non-null     int64
 43  NAR     17 non-null     float64
 44  SSR     17 non-null     float64
 45  PRR     17 non-null     float64
 46  DKR     17 non-null     float64
 47  ZOR     17 non-null     float64
 48  FMR     17 non-null     int64
 49  EKR     17 non-null     int64
 50  ZMR     17 non-null     float64
 51  AVR     17 non-null     float64
 52  BRR     17 non-null     float64
 53  VRR     17 non-null     float64
 54  LAR     17 non-null     float64
 55  OSR     17 non-null     int64
 56  MOW     17 non-null     float64
 57  UFBR    17 non-null     int64
 58  UFHT    17 non-null     float64
 59  NAA     17 non-null     float64
 60  PRA     17 non-null     float64
 61  BAA     17 non-null     float64
 62  NBA     17 non-null     float64
 63  BBA     17 non-null     float64
 64  BRA     17 non-null     float64
 65  SSA     17 non-null     float64
 66  NFA     17 non-null     float64
 67  DKA     17 non-null     float64
 68  NDA     17 non-null     float64
 69  FRA     17 non-null     float64
 70  PAA     17 non-null     float64
 71  OCA     17 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 9.7 KB

In [ ]:
#create function to calculate Mahalanobis distance
def mahalanobis(x=None, data=None, cov=None):

    x_mu = x - np.mean(cranmet_US_VarsOnly_noNAs)
    if not cov:
        cov = np.cov(cranmet_US_VarsOnly_noNAs.values.T)
    inv_covmat = np.linalg.inv(cov)
    left = np.dot(x_mu, inv_covmat)
    mahal = np.dot(left, x_mu.T)
    return mahal.diagonal()

column_names = cranmet_US_VarsOnly_noNAs.columns
#create new column in dataframe that contains Mahalanobis distance for each row
cranmet_US_VarsOnly_noNAs['Mahalanobis'] = mahalanobis(x=cranmet_US_VarsOnly_noNAs, data=cranmet_US_VarsOnly_noNAs[column_names])

#display first five rows of dataframe
cranmet_US_VarsOnly_noNAs.head(33)

In [ ]:
from scipy.stats import chi2

#calculate p-value for each mahalanobis distance
cranmet_US_VarsOnly_noNAs['p-value'] = 1 - chi2.cdf(cranmet_US_VarsOnly_noNAs['Mahalanobis'], 71)             # last number is k-1 or #Vars -1. In this df, there are 72 vars, so 72-1 - 71

#display p-values for first five rows in dataframe
cranmet_US_VarsOnly_noNAs.head(30)

In [ ]:
cranmet.head()

In [ ]:
dems = pd.DataFrame(cranmet.iloc[:, 0:2])
dems.head(50)

In [ ]:
cranmet_US_Mahalanobis_outliers = pd.merge(dems, cranmet_US_VarsOnly_noNAs, left_index=True, right_index=True)

In [ ]:
cranmet_US_Mahalanobis_outliers.head(15)

---

#### Japan Mahalanobis

In [ ]:
cranmet_Japan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 48 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       34 non-null     int64
 1   Collection   34 non-null     object
 2   GOL          34 non-null     float64
 3   NOL          34 non-null     float64
 4   BNL          34 non-null     float64
 5   BBH          34 non-null     float64
 6   XCB          34 non-null     int64
 7   XFB          34 non-null     float64
 8   WFB          34 non-null     int64
 9   ZYB          34 non-null     int64
 10  ASB          32 non-null     float64
 11  BPL          33 non-null     float64
 12  NPH          33 non-null     float64
 13  NLH          34 non-null     float64
 14  JUB          34 non-null     int64
 15  NLB          34 non-null     float64
 16  MAB          34 non-null     float64
 17  MAL          33 non-null     float64
 18  MDH          34 non-null     int64
 19  OBH          34 non-null     float64
 20  OBB          34 non-null     float64
 21  DKB          34 non-null     float64
 22  NDS          29 non-null     float64
 23  WNB          34 non-null     float64
 24  SIS          29 non-null     float64
 25  ZMB          33 non-null     float64
 26  SSS          33 non-null     float64
 27  FMB          34 non-null     int64
 28  NAS          34 non-null     float64
 29  EKB          34 non-null     float64
 30  DKS          34 non-null     float64
 31  IML          33 non-null     float64
 32  XML          33 non-null     float64
 33  MLS          33 non-null     float64
 34  WMH          34 non-null     int64
 35  GLS          34 non-null     float64
 36  STB          34 non-null     float64
 37  FRC          34 non-null     float64
 38  FRS          34 non-null     float64
 39  PAC          34 non-null     float64
 40  PAS          34 non-null     float64
 41  OCC          34 non-null     float64
 42  OCS          34 non-null     float64
 43  FOL          34 non-null     int64
 44  FOB          34 non-null     int64
 45  NAR          34 non-null     float64
 46  SSR          34 non-null     float64
 47  PRR          33 non-null     float64
 48  DKR          34 non-null     float64
 49  ZOR          33 non-null     float64
 50  FMR          34 non-null     int64
 51  EKR          34 non-null     int64
 52  ZMR          33 non-null     float64
 53  AVR          34 non-null     float64
 54  BRR          34 non-null     float64
 55  VRR          34 non-null     float64
 56  LAR          34 non-null     float64
 57  OSR          34 non-null     int64
 58  MOW          33 non-null     float64
 59  UFBR         34 non-null     int64
 60  UFHT         23 non-null     float64
 61  NAA          33 non-null     float64
 62  PRA          33 non-null     float64
 63  BAA          33 non-null     float64
 64  NBA          34 non-null     float64
 65  BBA          34 non-null     float64
 66  BRA          34 non-null     float64
 67  SSA          33 non-null     float64
 68  NFA          34 non-null     float64
 69  DKA          34 non-null     float64
 70  NDA          29 non-null     float64
 71  FRA          34 non-null     float64
 72  PAA          34 non-null     float64
 73  OCA          34 non-null     float64
 74  Sex          34 non-null     object
 75  Age          34 non-null     int64
 76  Population   34 non-null     object
 77  Population2  0 non-null      object
 78  Population3  0 non-null      object
 79  Population4  0 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 21.5+ KB

In [ ]:
cranmet_Japan['Collection'].unique()

In [ ]:
cranmet_Japan_VarsOnly = pd.DataFrame(cranmet_Japan.iloc[:, 2:74])
cranmet_Japan_VarsOnly.head()

In [ ]:
cranmet_Japan_VarsOnly_noNAs = cranmet_Japan_VarsOnly.dropna()

In [ ]:
cranmet_Japan_VarsOnly_noNAs.head()

#only 16 rows left after dropping NAs

In [ ]:
cranmet_Japan_VarsOnly_noNAs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 50 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     16 non-null     float64
 1   NOL     16 non-null     float64
 2   BNL     16 non-null     float64
 3   BBH     16 non-null     float64
 4   XCB     16 non-null     int64
 5   XFB     16 non-null     float64
 6   WFB     16 non-null     int64
 7   ZYB     16 non-null     int64
 8   ASB     16 non-null     float64
 9   BPL     16 non-null     float64
 10  NPH     16 non-null     float64
 11  NLH     16 non-null     float64
 12  JUB     16 non-null     int64
 13  NLB     16 non-null     float64
 14  MAB     16 non-null     float64
 15  MAL     16 non-null     float64
 16  MDH     16 non-null     int64
 17  OBH     16 non-null     float64
 18  OBB     16 non-null     float64
 19  DKB     16 non-null     float64
 20  NDS     16 non-null     float64
 21  WNB     16 non-null     float64
 22  SIS     16 non-null     float64
 23  ZMB     16 non-null     float64
 24  SSS     16 non-null     float64
 25  FMB     16 non-null     int64
 26  NAS     16 non-null     float64
 27  EKB     16 non-null     float64
 28  DKS     16 non-null     float64
 29  IML     16 non-null     float64
 30  XML     16 non-null     float64
 31  MLS     16 non-null     float64
 32  WMH     16 non-null     int64
 33  GLS     16 non-null     float64
 34  STB     16 non-null     float64
 35  FRC     16 non-null     float64
 36  FRS     16 non-null     float64
 37  PAC     16 non-null     float64
 38  PAS     16 non-null     float64
 39  OCC     16 non-null     float64
 40  OCS     16 non-null     float64
 41  FOL     16 non-null     int64
 42  FOB     16 non-null     int64
 43  NAR     16 non-null     float64
 44  SSR     16 non-null     float64
 45  PRR     16 non-null     float64
 46  DKR     16 non-null     float64
 47  ZOR     16 non-null     float64
 48  FMR     16 non-null     int64
 49  EKR     16 non-null     int64
 50  ZMR     16 non-null     float64
 51  AVR     16 non-null     float64
 52  BRR     16 non-null     float64
 53  VRR     16 non-null     float64
 54  LAR     16 non-null     float64
 55  OSR     16 non-null     int64
 56  MOW     16 non-null     float64
 57  UFBR    16 non-null     int64
 58  UFHT    16 non-null     float64
 59  NAA     16 non-null     float64
 60  PRA     16 non-null     float64
 61  BAA     16 non-null     float64
 62  NBA     16 non-null     float64
 63  BBA     16 non-null     float64
 64  BRA     16 non-null     float64
 65  SSA     16 non-null     float64
 66  NFA     16 non-null     float64
 67  DKA     16 non-null     float64
 68  NDA     16 non-null     float64
 69  FRA     16 non-null     float64
 70  PAA     16 non-null     float64
 71  OCA     16 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 9.1 KB

In [ ]:
#create function to calculate Mahalanobis distance
def mahalanobis(x=None, data=None, cov=None):

    x_mu = x - np.mean(cranmet_Japan_VarsOnly_noNAs)
    if not cov:
        cov = np.cov(cranmet_Japan_VarsOnly_noNAs.values.T)
    inv_covmat = np.linalg.inv(cov)
    left = np.dot(x_mu, inv_covmat)
    mahal = np.dot(left, x_mu.T)
    return mahal.diagonal()

column_names = cranmet_Japan_VarsOnly_noNAs.columns
#create new column in dataframe that contains Mahalanobis distance for each row
cranmet_Japan_VarsOnly_noNAs['Mahalanobis'] = mahalanobis(x=cranmet_Japan_VarsOnly_noNAs, data=cranmet_Japan_VarsOnly_noNAs[column_names])

#display first five rows of dataframe
cranmet_Japan_VarsOnly_noNAs.head(33)

In [ ]:
from scipy.stats import chi2

#calculate p-value for each mahalanobis distance
cranmet_Japan_VarsOnly_noNAs['p-value'] = 1 - chi2.cdf(cranmet_Japan_VarsOnly_noNAs['Mahalanobis'], 71)             # last number is k-1 or #Vars -1. In this df, there are 72 vars, so 72-1 - 71

#display p-values for first five rows in dataframe
cranmet_Japan_VarsOnly_noNAs.head(30)

In [ ]:
cranmet.tail()

In [ ]:
#dems = pd.DataFrame(cranmet.iloc[:, 0:2])
dems.tail(50)

In [ ]:
cranmet_Japan_Mahalanobis_outliers = pd.merge(dems, cranmet_Japan_VarsOnly_noNAs, left_index=True, right_index=True)

In [ ]:
cranmet_Japan_Mahalanobis_outliers.head(15)

### Re-merge US and Japan outliers

In [ ]:
cranmet_Mahalanobis_outliers = cranmet_US_Mahalanobis_outliers.append(cranmet_Japan_Mahalanobis_outliers)

In [ ]:
cranmet_Mahalanobis_outliers.head()

In [ ]:
cranmet_Mahalanobis_outliers.tail()

#### Output file: Mahalanobis

In [ ]:
cranmet_Mahalanobis_outliers.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_Mahalanobis_outliers.xlsx', index=True)

### Remove outliers

In [ ]:
cranmet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   GOL          78 non-null     float64
 3   NOL          78 non-null     float64
 4   BNL          81 non-null     float64
 5   BBH          80 non-null     float64
 6   XCB          82 non-null     int64
 7   XFB          81 non-null     float64
 8   WFB          82 non-null     int64
 9   ZYB          82 non-null     int64
 10  ASB          73 non-null     float64
 11  BPL          75 non-null     float64
 12  NPH          74 non-null     float64
 13  NLH          81 non-null     float64
 14  JUB          82 non-null     int64
 15  NLB          79 non-null     float64
 16  MAB          60 non-null     float64
 17  MAL          74 non-null     float64
 18  MDH          82 non-null     int64
 19  OBH          81 non-null     float64
 20  OBB          79 non-null     float64
 21  DKB          79 non-null     float64
 22  NDS          72 non-null     float64
 23  WNB          80 non-null     float64
 24  SIS          73 non-null     float64
 25  ZMB          80 non-null     float64
 26  SSS          79 non-null     float64
 27  FMB          82 non-null     int64
 28  NAS          81 non-null     float64
 29  EKB          81 non-null     float64
 30  DKS          79 non-null     float64
 31  IML          81 non-null     float64
 32  XML          81 non-null     float64
 33  MLS          79 non-null     float64
 34  WMH          82 non-null     int64
 35  GLS          81 non-null     float64
 36  STB          81 non-null     float64
 37  FRC          79 non-null     float64
 38  FRS          79 non-null     float64
 39  PAC          79 non-null     float64
 40  PAS          79 non-null     float64
 41  OCC          79 non-null     float64
 42  OCS          79 non-null     float64
 43  FOL          82 non-null     int64
 44  FOB          82 non-null     int64
 45  NAR          81 non-null     float64
 46  SSR          81 non-null     float64
 47  PRR          75 non-null     float64
 48  DKR          79 non-null     float64
 49  ZOR          81 non-null     float64
 50  FMR          82 non-null     int64
 51  EKR          82 non-null     int64
 52  ZMR          81 non-null     float64
 53  AVR          67 non-null     float64
 54  BRR          80 non-null     float64
 55  VRR          79 non-null     float64
 56  LAR          79 non-null     float64
 57  OSR          82 non-null     int64
 58  MOW          74 non-null     float64
 59  UFBR         82 non-null     int64
 60  UFHT         61 non-null     float64
 61  NAA          75 non-null     float64
 62  PRA          75 non-null     float64
 63  BAA          75 non-null     float64
 64  NBA          79 non-null     float64
 65  BBA          79 non-null     float64
 66  BRA          79 non-null     float64
 67  SSA          79 non-null     float64
 68  NFA          81 non-null     float64
 69  DKA          79 non-null     float64
 70  NDA          72 non-null     float64
 71  FRA          79 non-null     float64
 72  PAA          79 non-null     float64
 73  OCA          79 non-null     float64
 74  Sex          82 non-null     object
 75  Age          82 non-null     int64
 76  Population   82 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 53.9+ KB

In [ ]:
cranmet_no_outliers = pd.DataFrame(cranmet)

In [ ]:
cranmet_no_outliers.head()

In [ ]:
cranmet_no_outliers.drop([4, 31, 33, 39, 40, 43, 58, 62], inplace=True)

In [ ]:
cranmet_no_outliers.tail(50)

#### Output file: no_outliers

In [ ]:
cranmet_no_outliers.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_no_outliers.xlsx', index=True)

---

# **Normality**
*   Visualized using histograms and Q-Q plots from the Sweetviz and d-tale packages
*   Shapiro-Wilk: shapiro function from the stats subpackage of the Scipy library
*   Kolmogorov-Smirnov: kstest function from the stats subpackage of the Scipy library

In [ ]:
cranmet_no_univariate_outliers = pd.read_excel('cranmet_no_univariate_outliers.xlsx')

In [ ]:
cranmet_no_univariate_outliers.head()

In [ ]:
cranmet_US = pd.DataFrame()
cranmet_US = cranmet_no_univariate_outliers[cranmet_no_univariate_outliers['Collection'] == 'US']

In [ ]:
cranmet_US.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       48 non-null     int64
 1   Collection   48 non-null     object
 2   GOL          44 non-null     float64
 3   NOL          44 non-null     float64
 4   BNL          47 non-null     float64
 5   BBH          46 non-null     float64
 6   XCB          48 non-null     int64
 7   XFB          47 non-null     float64
 8   WFB          48 non-null     int64
 9   ZYB          48 non-null     int64
 10  ASB          41 non-null     float64
 11  BPL          42 non-null     float64
 12  NPH          41 non-null     float64
 13  NLH          47 non-null     float64
 14  JUB          48 non-null     int64
 15  NLB          45 non-null     float64
 16  MAB          26 non-null     float64
 17  MAL          41 non-null     float64
 18  MDH          48 non-null     int64
 19  OBH          47 non-null     float64
 20  OBB          45 non-null     float64
 21  DKB          45 non-null     float64
 22  NDS          43 non-null     float64
 23  WNB          46 non-null     float64
 24  SIS          44 non-null     float64
 25  ZMB          47 non-null     float64
 26  SSS          46 non-null     float64
 27  FMB          48 non-null     int64
 28  NAS          47 non-null     float64
 29  EKB          47 non-null     float64
 30  DKS          45 non-null     float64
 31  IML          48 non-null     float64
 32  XML          48 non-null     float64
 33  MLS          46 non-null     float64
 34  WMH          48 non-null     int64
 35  GLS          47 non-null     float64
 36  STB          47 non-null     float64
 37  FRC          45 non-null     float64
 38  FRS          45 non-null     float64
 39  PAC          45 non-null     float64
 40  PAS          45 non-null     float64
 41  OCC          45 non-null     float64
 42  OCS          45 non-null     float64
 43  FOL          48 non-null     int64
 44  FOB          48 non-null     int64
 45  NAR          47 non-null     float64
 46  SSR          47 non-null     float64
 47  PRR          42 non-null     float64
 48  DKR          45 non-null     float64
 49  ZOR          48 non-null     float64
 50  FMR          48 non-null     int64
 51  EKR          48 non-null     int64
 52  ZMR          48 non-null     float64
 53  AVR          33 non-null     float64
 54  BRR          46 non-null     float64
 55  VRR          45 non-null     float64
 56  LAR          45 non-null     float64
 57  OSR          48 non-null     int64
 58  MOW          41 non-null     float64
 59  UFBR         48 non-null     int64
 60  UFHT         38 non-null     float64
 61  NAA          42 non-null     float64
 62  PRA          42 non-null     float64
 63  BAA          42 non-null     float64
 64  NBA          45 non-null     float64
 65  BBA          45 non-null     float64
 66  BRA          45 non-null     float64
 67  SSA          46 non-null     float64
 68  NFA          47 non-null     float64
 69  DKA          45 non-null     float64
 70  NDA          43 non-null     float64
 71  FRA          45 non-null     float64
 72  PAA          45 non-null     float64
 73  OCA          45 non-null     float64
 74  Sex          48 non-null     object
 75  Age          48 non-null     int64
 76  Population   48 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 30.4+ KB

In [ ]:
cranmet_US_VarsOnly = pd.DataFrame(cranmet_US.iloc[:, 2:74])

In [ ]:
cranmet_US_VarsOnly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     44 non-null     float64
 1   NOL     44 non-null     float64
 2   BNL     47 non-null     float64
 3   BBH     46 non-null     float64
 4   XCB     48 non-null     int64
 5   XFB     47 non-null     float64
 6   WFB     48 non-null     int64
 7   ZYB     48 non-null     int64
 8   ASB     41 non-null     float64
 9   BPL     42 non-null     float64
 10  NPH     41 non-null     float64
 11  NLH     47 non-null     float64
 12  JUB     48 non-null     int64
 13  NLB     45 non-null     float64
 14  MAB     26 non-null     float64
 15  MAL     41 non-null     float64
 16  MDH     48 non-null     int64
 17  OBH     47 non-null     float64
 18  OBB     45 non-null     float64
 19  DKB     45 non-null     float64
 20  NDS     43 non-null     float64
 21  WNB     46 non-null     float64
 22  SIS     44 non-null     float64
 23  ZMB     47 non-null     float64
 24  SSS     46 non-null     float64
 25  FMB     48 non-null     int64
 26  NAS     47 non-null     float64
 27  EKB     47 non-null     float64
 28  DKS     45 non-null     float64
 29  IML     48 non-null     float64
 30  XML     48 non-null     float64
 31  MLS     46 non-null     float64
 32  WMH     48 non-null     int64
 33  GLS     47 non-null     float64
 34  STB     47 non-null     float64
 35  FRC     45 non-null     float64
 36  FRS     45 non-null     float64
 37  PAC     45 non-null     float64
 38  PAS     45 non-null     float64
 39  OCC     45 non-null     float64
 40  OCS     45 non-null     float64
 41  FOL     48 non-null     int64
 42  FOB     48 non-null     int64
 43  NAR     47 non-null     float64
 44  SSR     47 non-null     float64
 45  PRR     42 non-null     float64
 46  DKR     45 non-null     float64
 47  ZOR     48 non-null     float64
 48  FMR     48 non-null     int64
 49  EKR     48 non-null     int64
 50  ZMR     48 non-null     float64
 51  AVR     33 non-null     float64
 52  BRR     46 non-null     float64
 53  VRR     45 non-null     float64
 54  LAR     45 non-null     float64
 55  OSR     48 non-null     int64
 56  MOW     41 non-null     float64
 57  UFBR    48 non-null     int64
 58  UFHT    38 non-null     float64
 59  NAA     42 non-null     float64
 60  PRA     42 non-null     float64
 61  BAA     42 non-null     float64
 62  NBA     45 non-null     float64
 63  BBA     45 non-null     float64
 64  BRA     45 non-null     float64
 65  SSA     46 non-null     float64
 66  NFA     47 non-null     float64
 67  DKA     45 non-null     float64
 68  NDA     43 non-null     float64
 69  FRA     45 non-null     float64
 70  PAA     45 non-null     float64
 71  OCA     45 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 27.4 KB

### Shapiro-Wilks test

#### US

In [ ]:
cranmet_US_VarsOnly_shapiro = cranmet_US_VarsOnly.dropna()

##### for i in df.columns:
This code will treat i as the column names:
*   for i in cranmet_US_VarsOnly_shapiro.columns:

In [ ]:
for i in cranmet_US_VarsOnly_shapiro.columns:
  print(i)
  '''
  US_shapiro = stats.shapiro(cranmet_US_VarsOnly_shapiro[i])
  print(US_shapiro)
  '''

##### for i in range(len(df.columns):
This code will treat i as the index of the columns:
*   for i in range(len(cranmet_US_VarsOnly_shapiro.columns)):

In [ ]:
for i in range(len(cranmet_US_VarsOnly_shapiro.columns)):
  print(i)
  '''
  US_shapiro = stats.shapiro(cranmet_US_VarsOnly_shapiro[i])
  print(US_shapiro)
  '''

In [ ]:
for i in cranmet_US_VarsOnly_shapiro.columns:
  US_shapiro = stats.shapiro(cranmet_US_VarsOnly_shapiro[i])
  print(US_shapiro)

In [ ]:
# Shapiro-Wilks test for normality

def run_shapiro(my_US_shapiro_df, index):
    column1 = list(cranmet_US_VarsOnly_shapiro.columns)
    #print(column1)
    y = stats.shapiro(cranmet_US_VarsOnly_shapiro[column1[i]])    #y is a dictionary where the t-test returns a dictionary

    #print(y)

    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
print(y)
print(y[0])
print(y[1])

ShapiroResult(statistic=0.9009810090065002, pvalue=0.05976490676403046)
0.9009810090065002
0.05976490676403046

In [ ]:
stats.shapiro(cranmet_US_VarsOnly_shapiro['GOL'])

ShapiroResult(statistic=0.8843582272529602, pvalue=0.03743640333414078)

In [ ]:
column1 = list(cranmet_US_VarsOnly_shapiro.columns)
column_names = ('Trait Code', 'Shapiro statistic', 'p-value')
my_US_shapiro_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    #print(column1[i])
    US_shapiro = run_shapiro(my_US_shapiro_df, i)
    print(column1[i], '\t', US_shapiro[0], US_shapiro[1])
    df3 = {'Trait Code': column1[i], 'Shapiro statistic': US_shapiro[0], 'p-value': US_shapiro[1]}
    my_US_shapiro_df.loc[i] = [column1[i], US_shapiro[0], US_shapiro[1]]
#cranmet_US_VarsOnly_shapiro.isnull().sum().sum()

GOL 	 0.8843582272529602 0.03743640333414078
NOL 	 0.9148274660110474 0.1207195520401001
BNL 	 0.9536256194114685 0.5163149833679199
BBH 	 0.9413013458251953 0.33394259214401245
XCB 	 0.9722846746444702 0.8571075201034546
XFB 	 0.953727662563324 0.5180661082267761
WFB 	 0.9098564386367798 0.09948119521141052
ZYB 	 0.9427011013031006 0.3516298830509186
ASB 	 0.9764108657836914 0.9175636768341064
BPL 	 0.8921851515769958 0.050347909331321716
NPH 	 0.9615569114685059 0.6609094142913818
NLH 	 0.9490634799003601 0.44187799096107483
JUB 	 0.9526639580726624 0.49999070167541504
NLB 	 0.952052891254425 0.48978832364082336
MAB 	 0.9453282356262207 0.3869296610355377
MAL 	 0.9410304427146912 0.3306080102920532
MDH 	 0.9182367920875549 0.13787123560905457
OBH 	 0.8336781859397888 0.006105815526098013
OBB 	 0.9211816191673279 0.15462777018547058
DKB 	 0.9675561785697937 0.7743622064590454
NDS 	 0.9472625255584717 0.4146895706653595
WNB 	 0.94027179479599 0.32142215967178345
SIS 	 0.9493192434310913 0.4458426535129547
ZMB 	 0.9587080478668213 0.6073378920555115
SSS 	 0.9446566700935364 0.3776434361934662
FMB 	 0.9337484240531921 0.2512921988964081
NAS 	 0.8982497453689575 0.06349998712539673
EKB 	 0.9655200242996216 0.7362762689590454
DKS 	 0.9683112502098083 0.7882160544395447
IML 	 0.9867836833000183 0.9945228099822998
XML 	 0.9690201282501221 0.8010460734367371
MLS 	 0.9048714637756348 0.08198385685682297
WMH 	 0.9342123866081238 0.2557789385318756
GLS 	 0.8794176578521729 0.03111395239830017
STB 	 0.9679070711135864 0.7808228135108948
FRC 	 0.9370336532592773 0.2846749424934387
FRS 	 0.96930992603302 0.8062348961830139
PAC 	 0.9479959011077881 0.4256059229373932
PAS 	 0.9835322499275208 0.9823774695396423
OCC 	 0.9586519598960876 0.6062963008880615
OCS 	 0.8855640888214111 0.039175089448690414
FOL 	 0.9605914950370789 0.6426248550415039
FOB 	 0.9246406555175781 0.17688769102096558
NAR 	 0.980843186378479 0.9643771052360535
SSR 	 0.9749161005020142 0.8973060250282288
PRR 	 0.9532460570335388 0.5098332166671753
DKR 	 0.9775344729423523 0.9313862919807434
ZOR 	 0.9692405462265015 0.8049963116645813
FMR 	 0.9219726920127869 0.15946227312088013
EKR 	 0.9332821369171143 0.24685673415660858
ZMR 	 0.9731536507606506 0.8709603548049927
AVR 	 0.9771435856819153 0.9267203211784363
BRR 	 0.9471985697746277 0.413747638463974
VRR 	 0.920761227607727 0.1521177589893341
LAR 	 0.9077773094177246 0.09176154434680939
OSR 	 0.9361584782600403 0.27540913224220276
MOW 	 0.9350433945655823 0.26399940252304077
UFBR 	 0.8893235325813293 0.045158516615629196
UFHT 	 0.9898990988731384 0.9989657402038574
NAA 	 0.9268960952758789 0.1930539906024933
PRA 	 0.9567109942436218 0.5707170367240906
BAA 	 0.8748998045921326 0.0263105146586895
NBA 	 0.9564216136932373 0.5654941201210022
BBA 	 0.9146871566772461 0.12006142735481262
BRA 	 0.9446127414703369 0.377042293548584
SSA 	 0.9631890654563904 0.6919756531715393
NFA 	 0.8986550569534302 0.06449700891971588
DKA 	 0.9579814076423645 0.5939042568206787
NDA 	 0.9816802740097046 0.9708215594291687
FRA 	 0.9601450562477112 0.6342090964317322
PAA 	 0.9261366128921509 0.18745654821395874
OCA 	 0.9188803434371948 0.14137215912342072

In [ ]:
my_US_shapiro_df.head()

  Trait Code  Shapiro statistic   p-value
0        GOL           0.884358  0.037436
1        NOL           0.914827  0.120720
2        BNL           0.953626  0.516315
3        BBH           0.941301  0.333943
4        XCB           0.972285  0.857108

#### Japan

In [ ]:
cranmet_no_univariate_outliers.tail()

In [ ]:
cranmet_Japan = pd.DataFrame()
cranmet_Japan = cranmet_no_univariate_outliers[cranmet_no_univariate_outliers['Collection'] == 'Japan']

In [ ]:
cranmet_Japan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 48 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       34 non-null     int64
 1   Collection   34 non-null     object
 2   GOL          34 non-null     float64
 3   NOL          34 non-null     float64
 4   BNL          34 non-null     float64
 5   BBH          34 non-null     float64
 6   XCB          34 non-null     int64
 7   XFB          34 non-null     float64
 8   WFB          34 non-null     int64
 9   ZYB          34 non-null     int64
 10  ASB          32 non-null     float64
 11  BPL          33 non-null     float64
 12  NPH          33 non-null     float64
 13  NLH          34 non-null     float64
 14  JUB          34 non-null     int64
 15  NLB          34 non-null     float64
 16  MAB          34 non-null     float64
 17  MAL          33 non-null     float64
 18  MDH          34 non-null     int64
 19  OBH          34 non-null     float64
 20  OBB          34 non-null     float64
 21  DKB          34 non-null     float64
 22  NDS          29 non-null     float64
 23  WNB          34 non-null     float64
 24  SIS          29 non-null     float64
 25  ZMB          33 non-null     float64
 26  SSS          33 non-null     float64
 27  FMB          34 non-null     int64
 28  NAS          34 non-null     float64
 29  EKB          34 non-null     float64
 30  DKS          34 non-null     float64
 31  IML          33 non-null     float64
 32  XML          33 non-null     float64
 33  MLS          33 non-null     float64
 34  WMH          34 non-null     int64
 35  GLS          34 non-null     float64
 36  STB          34 non-null     float64
 37  FRC          34 non-null     float64
 38  FRS          34 non-null     float64
 39  PAC          34 non-null     float64
 40  PAS          34 non-null     float64
 41  OCC          34 non-null     float64
 42  OCS          34 non-null     float64
 43  FOL          34 non-null     int64
 44  FOB          34 non-null     int64
 45  NAR          34 non-null     float64
 46  SSR          34 non-null     float64
 47  PRR          33 non-null     float64
 48  DKR          34 non-null     float64
 49  ZOR          33 non-null     float64
 50  FMR          34 non-null     int64
 51  EKR          34 non-null     int64
 52  ZMR          33 non-null     float64
 53  AVR          34 non-null     float64
 54  BRR          34 non-null     float64
 55  VRR          34 non-null     float64
 56  LAR          34 non-null     float64
 57  OSR          34 non-null     int64
 58  MOW          33 non-null     float64
 59  UFBR         34 non-null     int64
 60  UFHT         23 non-null     float64
 61  NAA          33 non-null     float64
 62  PRA          33 non-null     float64
 63  BAA          33 non-null     float64
 64  NBA          34 non-null     float64
 65  BBA          34 non-null     float64
 66  BRA          34 non-null     float64
 67  SSA          33 non-null     float64
 68  NFA          34 non-null     float64
 69  DKA          34 non-null     float64
 70  NDA          29 non-null     float64
 71  FRA          34 non-null     float64
 72  PAA          34 non-null     float64
 73  OCA          34 non-null     float64
 74  Sex          34 non-null     object
 75  Age          34 non-null     int64
 76  Population   34 non-null     object
 77  Population2  0 non-null      object
 78  Population3  0 non-null      object
 79  Population4  0 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 21.5+ KB

In [ ]:
cranmet_Japan_VarsOnly = pd.DataFrame(cranmet_Japan.iloc[:, 2:74])

In [ ]:
cranmet_Japan_VarsOnly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 48 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     34 non-null     float64
 1   NOL     34 non-null     float64
 2   BNL     34 non-null     float64
 3   BBH     34 non-null     float64
 4   XCB     34 non-null     int64
 5   XFB     34 non-null     float64
 6   WFB     34 non-null     int64
 7   ZYB     34 non-null     int64
 8   ASB     32 non-null     float64
 9   BPL     33 non-null     float64
 10  NPH     33 non-null     float64
 11  NLH     34 non-null     float64
 12  JUB     34 non-null     int64
 13  NLB     34 non-null     float64
 14  MAB     34 non-null     float64
 15  MAL     33 non-null     float64
 16  MDH     34 non-null     int64
 17  OBH     34 non-null     float64
 18  OBB     34 non-null     float64
 19  DKB     34 non-null     float64
 20  NDS     29 non-null     float64
 21  WNB     34 non-null     float64
 22  SIS     29 non-null     float64
 23  ZMB     33 non-null     float64
 24  SSS     33 non-null     float64
 25  FMB     34 non-null     int64
 26  NAS     34 non-null     float64
 27  EKB     34 non-null     float64
 28  DKS     34 non-null     float64
 29  IML     33 non-null     float64
 30  XML     33 non-null     float64
 31  MLS     33 non-null     float64
 32  WMH     34 non-null     int64
 33  GLS     34 non-null     float64
 34  STB     34 non-null     float64
 35  FRC     34 non-null     float64
 36  FRS     34 non-null     float64
 37  PAC     34 non-null     float64
 38  PAS     34 non-null     float64
 39  OCC     34 non-null     float64
 40  OCS     34 non-null     float64
 41  FOL     34 non-null     int64
 42  FOB     34 non-null     int64
 43  NAR     34 non-null     float64
 44  SSR     34 non-null     float64
 45  PRR     33 non-null     float64
 46  DKR     34 non-null     float64
 47  ZOR     33 non-null     float64
 48  FMR     34 non-null     int64
 49  EKR     34 non-null     int64
 50  ZMR     33 non-null     float64
 51  AVR     34 non-null     float64
 52  BRR     34 non-null     float64
 53  VRR     34 non-null     float64
 54  LAR     34 non-null     float64
 55  OSR     34 non-null     int64
 56  MOW     33 non-null     float64
 57  UFBR    34 non-null     int64
 58  UFHT    23 non-null     float64
 59  NAA     33 non-null     float64
 60  PRA     33 non-null     float64
 61  BAA     33 non-null     float64
 62  NBA     34 non-null     float64
 63  BBA     34 non-null     float64
 64  BRA     34 non-null     float64
 65  SSA     33 non-null     float64
 66  NFA     34 non-null     float64
 67  DKA     34 non-null     float64
 68  NDA     29 non-null     float64
 69  FRA     34 non-null     float64
 70  PAA     34 non-null     float64
 71  OCA     34 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 19.4 KB

In [ ]:
cranmet_Japan_VarsOnly_shapiro = cranmet_Japan_VarsOnly.dropna()

In [ ]:
for i in cranmet_Japan_VarsOnly_shapiro.columns:
  Japan_shapiro = stats.shapiro(cranmet_Japan_VarsOnly_shapiro[i])
  print(Japan_shapiro)

(0.9404165148735046, 0.35414719581604004)
(0.9521161913871765, 0.5239389538764954)
(0.8634079694747925, 0.02159048803150654)
(0.9781115055084229, 0.9468322992324829)
(0.9037806391716003, 0.09241186082363129)
(0.9667233228683472, 0.7831470370292664)
(0.9268772006034851, 0.2174452543258667)
(0.9165050983428955, 0.14817050099372864)
(0.9351180195808411, 0.2934417724609375)
(0.9577207565307617, 0.6206873655319214)
(0.9254940748214722, 0.20665913820266724)
(0.9799447655677795, 0.9631621837615967)
(0.8702504634857178, 0.02743663266301155)
(0.93578040599823, 0.3004954755306244)
(0.9111632108688354, 0.12150648981332779)
(0.9767535328865051, 0.9325857758522034)
(0.9681993722915649, 0.8086639642715454)
(0.9305518269538879, 0.24874559044837952)
(0.9235812425613403, 0.1925826370716095)
(0.9879316091537476, 0.9974244236946106)
(0.9220325946807861, 0.18186849355697632)
(0.8641831874847412, 0.022181173786520958)
(0.9728971123695374, 0.8830698132514954)
(0.7137389183044434, 0.00024009552726056427)
(0.9582158327102661, 0.6295579671859741)
(0.8411290049552917, 0.010114836506545544)
(0.9485632181167603, 0.4672739505767822)
(0.9191639423370361, 0.16353464126586914)
(0.9319279193878174, 0.2615119516849518)
(0.9617784023284912, 0.694164514541626)
(0.8859841823577881, 0.04814394190907478)
(0.8866772651672363, 0.04936806857585907)
(0.9644085168838501, 0.7419256567955017)
(0.9454566836357117, 0.42128750681877136)
(0.9632574319839478, 0.7210870385169983)
(0.9541175365447998, 0.5575819611549377)
(0.9065752029418945, 0.1024869754910469)
(0.9355453252792358, 0.29797497391700745)
(0.8733644485473633, 0.030629023909568787)
(0.9629613161087036, 0.7157052159309387)
(0.9301584362983704, 0.24520358443260193)
(0.9456231594085693, 0.4236639440059662)
(0.9073660969734192, 0.10553640127182007)
(0.9092071056365967, 0.11299582570791245)
(0.9208373427391052, 0.17399755120277405)
(0.9716876149177551, 0.865150511264801)
(0.922278881072998, 0.18353284895420074)
(0.9342804551124573, 0.2847346365451813)
(0.9642782807350159, 0.739575982093811)
(0.9358529448509216, 0.30127713084220886)
(0.9259856939315796, 0.21043291687965393)
(0.9432559013366699, 0.39082545042037964)
(0.9406374096870422, 0.3568946421146393)
(0.9665407538414001, 0.7799423933029175)
(0.9395540952682495, 0.34358739852905273)
(0.9167231917381287, 0.14937500655651093)
(0.9359170794487, 0.3019696772098541)
(0.9288782477378845, 0.2339995801448822)
(0.9577527046203613, 0.6212590336799622)
(0.9128453731536865, 0.1293395608663559)
(0.9684363603591919, 0.8126872777938843)
(0.9247609376907349, 0.2011507749557495)
(0.9718350172042847, 0.8673872947692871)
(0.9758705496788025, 0.9223832488059998)
(0.9404204487800598, 0.35419580340385437)
(0.9633420705795288, 0.722623884677887)
(0.9244638085365295, 0.19895893335342407)
(0.9438484907150269, 0.3988531231880188)
(0.9438931345939636, 0.3994632959365845)
(0.9718058705329895, 0.8669458031654358)
(0.9646509289741516, 0.7462928295135498)
(0.9550244808197021, 0.573188066482544)

In [ ]:
# Shapiro-Wilks test for normality

def run_shapiro(my_Japan_shapiro_df, index):
    column1 = list(cranmet_Japan_VarsOnly_shapiro.columns)
    #print(column1)
    y = stats.shapiro(cranmet_Japan_VarsOnly_shapiro[column1[i]])    #y is a dictionary where the t-test returns a dictionary

    #print(y)

    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
print(y)
print(y[0])
print(y[1])

ShapiroResult(statistic=0.9009810090065002, pvalue=0.05976490676403046)
0.9009810090065002
0.05976490676403046

In [ ]:
stats.shapiro(cranmet_Japan_VarsOnly_shapiro['GOL'])

ShapiroResult(statistic=0.9404165148735046, pvalue=0.35414719581604004)

In [ ]:
column1 = list(cranmet_Japan_VarsOnly_shapiro.columns)
column_names = ('Trait Code', 'Shapiro statistic', 'p-value')
my_Japan_shapiro_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    #print(column1[i])
    Japan_shapiro = run_shapiro(my_Japan_shapiro_df, i)
    print(column1[i], '\t', Japan_shapiro[0], Japan_shapiro[1])
    df4 = {'Trait Code': column1[i], 'Shapiro statistic': Japan_shapiro[0], 'p-value': Japan_shapiro[1]}
    my_Japan_shapiro_df.loc[i] = [column1[i], Japan_shapiro[0], Japan_shapiro[1]]
#cranmet_Japan_VarsOnly_shapiro.isnull().sum().sum()

GOL 	 0.9404165148735046 0.35414719581604004
NOL 	 0.9521161913871765 0.5239389538764954
BNL 	 0.8634079694747925 0.02159048803150654
BBH 	 0.9781115055084229 0.9468322992324829
XCB 	 0.9037806391716003 0.09241186082363129
XFB 	 0.9667233228683472 0.7831470370292664
WFB 	 0.9268772006034851 0.2174452543258667
ZYB 	 0.9165050983428955 0.14817050099372864
ASB 	 0.9351180195808411 0.2934417724609375
BPL 	 0.9577207565307617 0.6206873655319214
NPH 	 0.9254940748214722 0.20665913820266724
NLH 	 0.9799447655677795 0.9631621837615967
JUB 	 0.8702504634857178 0.02743663266301155
NLB 	 0.93578040599823 0.3004954755306244
MAB 	 0.9111632108688354 0.12150648981332779
MAL 	 0.9767535328865051 0.9325857758522034
MDH 	 0.9681993722915649 0.8086639642715454
OBH 	 0.9305518269538879 0.24874559044837952
OBB 	 0.9235812425613403 0.1925826370716095
DKB 	 0.9879316091537476 0.9974244236946106
NDS 	 0.9220325946807861 0.18186849355697632
WNB 	 0.8641831874847412 0.022181173786520958
SIS 	 0.9728971123695374 0.8830698132514954
ZMB 	 0.7137389183044434 0.00024009552726056427
SSS 	 0.9582158327102661 0.6295579671859741
FMB 	 0.8411290049552917 0.010114836506545544
NAS 	 0.9485632181167603 0.4672739505767822
EKB 	 0.9191639423370361 0.16353464126586914
DKS 	 0.9319279193878174 0.2615119516849518
IML 	 0.9617784023284912 0.694164514541626
XML 	 0.8859841823577881 0.04814394190907478
MLS 	 0.8866772651672363 0.04936806857585907
WMH 	 0.9644085168838501 0.7419256567955017
GLS 	 0.9454566836357117 0.42128750681877136
STB 	 0.9632574319839478 0.7210870385169983
FRC 	 0.9541175365447998 0.5575819611549377
FRS 	 0.9065752029418945 0.1024869754910469
PAC 	 0.9355453252792358 0.29797497391700745
PAS 	 0.8733644485473633 0.030629023909568787
OCC 	 0.9629613161087036 0.7157052159309387
OCS 	 0.9301584362983704 0.24520358443260193
FOL 	 0.9456231594085693 0.4236639440059662
FOB 	 0.9073660969734192 0.10553640127182007
NAR 	 0.9092071056365967 0.11299582570791245
SSR 	 0.9208373427391052 0.17399755120277405
PRR 	 0.9716876149177551 0.865150511264801
DKR 	 0.922278881072998 0.18353284895420074
ZOR 	 0.9342804551124573 0.2847346365451813
FMR 	 0.9642782807350159 0.739575982093811
EKR 	 0.9358529448509216 0.30127713084220886
ZMR 	 0.9259856939315796 0.21043291687965393
AVR 	 0.9432559013366699 0.39082545042037964
BRR 	 0.9406374096870422 0.3568946421146393
VRR 	 0.9665407538414001 0.7799423933029175
LAR 	 0.9395540952682495 0.34358739852905273
OSR 	 0.9167231917381287 0.14937500655651093
MOW 	 0.9359170794487 0.3019696772098541
UFBR 	 0.9288782477378845 0.2339995801448822
UFHT 	 0.9577527046203613 0.6212590336799622
NAA 	 0.9128453731536865 0.1293395608663559
PRA 	 0.9684363603591919 0.8126872777938843
BAA 	 0.9247609376907349 0.2011507749557495
NBA 	 0.9718350172042847 0.8673872947692871
BBA 	 0.9758705496788025 0.9223832488059998
BRA 	 0.9404204487800598 0.35419580340385437
SSA 	 0.9633420705795288 0.722623884677887
NFA 	 0.9244638085365295 0.19895893335342407
DKA 	 0.9438484907150269 0.3988531231880188
NDA 	 0.9438931345939636 0.3994632959365845
FRA 	 0.9718058705329895 0.8669458031654358
PAA 	 0.9646509289741516 0.7462928295135498
OCA 	 0.9550244808197021 0.573188066482544

In [ ]:
my_Japan_shapiro_df.head()

  Trait Code  Shapiro statistic   p-value
0        GOL           0.940417  0.354147
1        NOL           0.952116  0.523939
2        BNL           0.863408  0.021590
3        BBH           0.978112  0.946832
4        XCB           0.903781  0.092412

#### Output file: Shapiro-Wilks normality
These files contain the Shapiro-Wilks results for US and Japan separately. The two Shapiro-Wilks results files were merged into one table in excel.

In [ ]:
my_US_shapiro_df.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_US_shapiro_results.xlsx', index=False)

In [ ]:
my_Japan_shapiro_df.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_Japan_shapiro_results.xlsx', index=False)

---

# **Sexual dimorphism**
*   *t*-tests
*   Sexual dimorphism equation from Garn (1967)

### *t*-test
*   Using Pinguoin package. See for more information: https://www.marsja.se/how-to-use-python-to-perform-a-paired-sample-t-test/
*   If the Pingouin package isn't loading, use the ttest_ind from scipy.stats

In [ ]:
from scipy import stats

In [ ]:
cranmet2 = pd.read_excel('cranmet_no_univariate_outliers.xlsx')

In [ ]:
cranmet2.head()

In [ ]:
cranmet2['Sex'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
females = pd.DataFrame()
females = cranmet2[cranmet2['Sex'] == 'F']

In [ ]:
females.head()

In [ ]:
del females['SkelID']
del females['Collection']
del females['Sex']
del females['Age']
del females['Population']
del females['Population2']
del females['Population3']
del females['Population4']

In [ ]:
females.head()

In [ ]:
males = pd.DataFrame()
males = cranmet2[cranmet2['Sex'] == 'M']

In [ ]:
males.head()

In [ ]:
del males['SkelID']
del males['Collection']
del males['Sex']
del males['Age']
del males['Population']
del males['Population2']
del males['Population3']
del males['Population4']

In [ ]:
males.head()

#### Shapiro-Wilks test

In [ ]:
'''
column_names = ['Trait Code', 'Shapiro-Wilks', 'p-value']
females_shapiro = pd.DataFrame(column_names)
column1 = list(females.columns)

for i in range(len(column1)):
  y = stats.shapiro(females[i])
  print(y)
  '''

##### Females

In [ ]:
'''
# Independent samples t-test: Option 1 (iteratively drop NAs)

#len(females[females.columns[3]])
column_names = ('Trait Code', 'Shapiro statistic', 'p-value')
my_females_shapiro_df = pd.DataFrame(columns = column_names)
for c in females.columns:
    temp_df_females = pd.DataFrame(females[c])                                                # initialize a new df using one column [c] of the females df one at a time
    temp_df_females.dropna(subset=[c], inplace=True)
    if len(temp_df_females) <3:                                                             # cannot run with 3 or less inputs
      continue
    females_shapiro = stats.shapiro(females[c])
    print(c,'\t', females_shapiro)
    #df3 = {'Trait Code': [c], 'Shapiro statistic': females_shapiro[0], 'p-value': females_shapiro[1]}
    my_females_shapiro_df.loc[c] = [c, females_shapiro[0], females_shapiro[1]]
    '''

In [ ]:
# for Independent samples t-test: Option 1 (drop all NAs in the entire df)
females = females.dropna()

In [ ]:
for i in females.columns:
  females_shapiro = stats.shapiro(females[i])
  print(females_shapiro)

(0.9656608700752258, 0.7132828831672668)
(0.9281901121139526, 0.1804489642381668)
(0.9050848484039307, 0.07050691545009613)
(0.9374593496322632, 0.2620552182197571)
(0.9354389309883118, 0.2417566180229187)
(0.952790379524231, 0.47045275568962097)
(0.9693188667297363, 0.7847852110862732)
(0.9387113451957703, 0.2754051983356476)
(0.9797374606132507, 0.947262704372406)
(0.973545491695404, 0.8610700964927673)
(0.9405384659767151, 0.295990526676178)
(0.9171695113182068, 0.11517993360757828)
(0.8585861921310425, 0.011601376347243786)
(0.960186243057251, 0.6052311658859253)
(0.9367424845695496, 0.25467950105667114)
(0.9608269333839417, 0.6176756620407104)
(0.9580017924308777, 0.5635577440261841)
(0.9367168545722961, 0.2544195353984833)
(0.8987431526184082, 0.05463489890098572)
(0.9731903672218323, 0.8550739288330078)
(0.910308301448822, 0.0871170312166214)
(0.9083704948425293, 0.08053093403577805)
(0.9764012694358826, 0.9055410623550415)
(0.9392030835151672, 0.2808152139186859)
(0.964055061340332, 0.6813666224479675)
(0.9268014430999756, 0.1705504059791565)
(0.961729109287262, 0.6353360414505005)
(0.9672679305076599, 0.7450331449508667)
(0.9652199745178223, 0.704526960849762)
(0.9582178592681885, 0.5676214098930359)
(0.887137770652771, 0.03448072075843811)
(0.8678727149963379, 0.016416441649198532)
(0.9567132592201233, 0.5396324992179871)
(0.915627121925354, 0.10816193372011185)
(0.9405712485313416, 0.2963718771934509)
(0.9524400234222412, 0.4645678699016571)
(0.9489722847938538, 0.4091232419013977)
(0.9489220380783081, 0.4083581864833832)
(0.8784888982772827, 0.0246223583817482)
(0.9742560386657715, 0.8727811574935913)
(0.91631680727005, 0.11124526709318161)
(0.938495934009552, 0.27306509017944336)
(0.936352014541626, 0.2507432699203491)
(0.9540064930915833, 0.4912651479244232)
(0.9824677109718323, 0.9718409180641174)
(0.967803955078125, 0.7555283904075623)
(0.9823160171508789, 0.9707090258598328)
(0.9495944380760193, 0.41868993639945984)
(0.9628703594207764, 0.6578556895256042)
(0.9516544938087463, 0.45155957341194153)
(0.9446707963943481, 0.34760481119155884)
(0.9682819843292236, 0.7648318409919739)
(0.9653651118278503, 0.7074109315872192)
(0.9398881793022156, 0.28851157426834106)
(0.951833963394165, 0.4545089304447174)
(0.9135451912879944, 0.09936948865652084)
(0.9466305375099182, 0.37463152408599854)
(0.9304615259170532, 0.19785161316394806)
(0.955686092376709, 0.5209608674049377)
(0.9529341459274292, 0.4728810489177704)
(0.9796091914176941, 0.9458897113800049)
(0.9583468437194824, 0.5700526833534241)
(0.9698282480239868, 0.7944522500038147)
(0.9197190403938293, 0.12779955565929413)
(0.9056745171546936, 0.07220674306154251)
(0.9813174605369568, 0.9625741243362427)
(0.9609241485595703, 0.6195720434188843)
(0.9710261821746826, 0.8167534470558167)
(0.972216010093689, 0.8381767868995667)
(0.9628178477287292, 0.6568151712417603)
(0.9309589862823486, 0.20187333226203918)
(0.9009810090065002, 0.05976490676403046)

In [ ]:
# stats.shapiro(females['GOL'])

ShapiroResult(statistic=0.9656608700752258, pvalue=0.7132828831672668)

In [ ]:
# Shapiro-Wilks test for normality

def run_shapiro(my_females_shapiro_df, index):
    column1 = list(females.columns)
    #print(column1)
    y = stats.shapiro(females[column1[i]])    #y is a dictionary where the t-test returns a dictionary

    #print(y)

    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
print(y)
print(y[0])
print(y[1])

ShapiroResult(statistic=0.9009810090065002, pvalue=0.05976490676403046)
0.9009810090065002
0.05976490676403046

In [ ]:
stats.shapiro(females['GOL'])

ShapiroResult(statistic=0.9656608700752258, pvalue=0.7132828831672668)

In [ ]:
column1 = list(females.columns)
column_names = ('Trait Code', 'Shapiro statistic', 'p-value')
my_females_shapiro_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    #print(column1[i])
    females_shapiro = run_shapiro(my_females_shapiro_df, i)
    print(column1[i], '\t', females_shapiro[0], females_shapiro[1])
    df3 = {'Trait Code': column1[i], 'Shapiro statistic': females_shapiro[0], 'p-value': females_shapiro[1]}
    my_females_shapiro_df.loc[i] = [column1[i], females_shapiro[0], females_shapiro[1]]
#females.isnull().sum().sum()

In [ ]:
my_females_shapiro_df.head()

  Trait Code  Shapiro statistic   p-value
0        GOL           0.965661  0.713283
1        NOL           0.928190  0.180449
2        BNL           0.905085  0.070507
3        BBH           0.937459  0.262055
4        XCB           0.935439  0.241757

##### Males

In [ ]:
males = males.dropna()

In [ ]:
stats.shapiro(males)

ShapiroResult(statistic=0.9718644022941589, pvalue=1.2503823117963192e-13)

In [ ]:
for i in males.columns:
  males_shapiro = stats.shapiro(males[i])
  print(males_shapiro)

ShapiroResult(statistic=0.931930661201477, pvalue=0.29156404733657837)
ShapiroResult(statistic=0.9379737973213196, pvalue=0.35757508873939514)
ShapiroResult(statistic=0.9682093262672424, pvalue=0.8307067155838013)
ShapiroResult(statistic=0.945939302444458, pvalue=0.4629105031490326)
ShapiroResult(statistic=0.9624447822570801, pvalue=0.7347967028617859)
ShapiroResult(statistic=0.9599733948707581, pvalue=0.6919338703155518)
ShapiroResult(statistic=0.9402332305908203, pvalue=0.3853120803833008)
ShapiroResult(statistic=0.9342199563980103, pvalue=0.3152010142803192)
ShapiroResult(statistic=0.9483640193939209, pvalue=0.4990633726119995)
ShapiroResult(statistic=0.8524080514907837, pvalue=0.018787385895848274)
ShapiroResult(statistic=0.9568802118301392, pvalue=0.6383745074272156)
ShapiroResult(statistic=0.9785056114196777, pvalue=0.958276093006134)
ShapiroResult(statistic=0.9517092704772949, pvalue=0.5517653822898865)
ShapiroResult(statistic=0.9570407867431641, pvalue=0.6411356329917908)
ShapiroResult(statistic=0.9029170274734497, pvalue=0.10546627640724182)
ShapiroResult(statistic=0.9525526165962219, pvalue=0.5655150413513184)
ShapiroResult(statistic=0.9525858163833618, pvalue=0.5660596489906311)
ShapiroResult(statistic=0.904499351978302, pvalue=0.1115160584449768)
ShapiroResult(statistic=0.9081605672836304, pvalue=0.1268950253725052)
ShapiroResult(statistic=0.963337242603302, pvalue=0.7501477003097534)
ShapiroResult(statistic=0.8599746227264404, pvalue=0.024112604558467865)
ShapiroResult(statistic=0.9686570763587952, pvalue=0.8376913666725159)
ShapiroResult(statistic=0.9516656994819641, pvalue=0.5510587096214294)
ShapiroResult(statistic=0.9306139349937439, pvalue=0.2786983847618103)
ShapiroResult(statistic=0.8675945997238159, pvalue=0.031110933050513268)
ShapiroResult(statistic=0.9403517246246338, pvalue=0.3868136405944824)
ShapiroResult(statistic=0.9315629601478577, pvalue=0.2879183888435364)
ShapiroResult(statistic=0.9565369486808777, pvalue=0.632482647895813)
ShapiroResult(statistic=0.936877429485321, pvalue=0.34472495317459106)
ShapiroResult(statistic=0.9518317580223083, pvalue=0.5537514686584473)
ShapiroResult(statistic=0.9734752178192139, pvalue=0.9057652354240417)
ShapiroResult(statistic=0.8859142661094666, pvalue=0.05818586423993111)
ShapiroResult(statistic=0.9419207572937012, pvalue=0.4071383476257324)
ShapiroResult(statistic=0.9470519423484802, pvalue=0.47927388548851013)
ShapiroResult(statistic=0.9336777329444885, pvalue=0.30945488810539246)
ShapiroResult(statistic=0.9404448866844177, pvalue=0.3879971206188202)
ShapiroResult(statistic=0.9527274370193481, pvalue=0.5683861374855042)
ShapiroResult(statistic=0.8840556144714355, pvalue=0.05456142500042915)
ShapiroResult(statistic=0.9759861826896667, pvalue=0.9347091913223267)
ShapiroResult(statistic=0.9764127135276794, pvalue=0.9390991926193237)
ShapiroResult(statistic=0.8734993934631348, pvalue=0.037991609424352646)
ShapiroResult(statistic=0.9619753956794739, pvalue=0.7266855835914612)
ShapiroResult(statistic=0.9733693599700928, pvalue=0.9044349193572998)
ShapiroResult(statistic=0.9509074687957764, pvalue=0.5388569235801697)
ShapiroResult(statistic=0.96148282289505, pvalue=0.7181534767150879)
ShapiroResult(statistic=0.9508002400398254, pvalue=0.5371426939964294)
ShapiroResult(statistic=0.9634706377983093, pvalue=0.7524320483207703)
ShapiroResult(statistic=0.979640007019043, pvalue=0.966987669467926)
ShapiroResult(statistic=0.9424512386322021, pvalue=0.4141954183578491)
ShapiroResult(statistic=0.9606462717056274, pvalue=0.7036296129226685)
ShapiroResult(statistic=0.9694145321846008, pvalue=0.849291205406189)
ShapiroResult(statistic=0.9646608829498291, pvalue=0.7726731300354004)
ShapiroResult(statistic=0.9357671737670898, pvalue=0.33211326599121094)
ShapiroResult(statistic=0.9162641167640686, pvalue=0.16890598833560944)
ShapiroResult(statistic=0.9630613327026367, pvalue=0.7454132437705994)
ShapiroResult(statistic=0.8920856714248657, pvalue=0.0721178725361824)
ShapiroResult(statistic=0.939131498336792, pvalue=0.3715747892856598)
ShapiroResult(statistic=0.902988076210022, pvalue=0.10573051124811172)
ShapiroResult(statistic=0.9371381998062134, pvalue=0.3477456271648407)
ShapiroResult(statistic=0.8964744210243225, pvalue=0.08408883213996887)
ShapiroResult(statistic=0.9522592425346375, pvalue=0.5607118010520935)
ShapiroResult(statistic=0.8729251027107239, pvalue=0.037257179617881775)
ShapiroResult(statistic=0.9444254636764526, pvalue=0.4412795901298523)
ShapiroResult(statistic=0.9467090368270874, pvalue=0.47418954968452454)
ShapiroResult(statistic=0.96148681640625, pvalue=0.718222439289093)
ShapiroResult(statistic=0.9594541788101196, pvalue=0.6829089522361755)
ShapiroResult(statistic=0.9737086296081543, pvalue=0.9086686372756958)
ShapiroResult(statistic=0.9142440557479858, pvalue=0.1572936326265335)
ShapiroResult(statistic=0.9589386582374573, pvalue=0.6739553213119507)
ShapiroResult(statistic=0.9351774454116821, pvalue=0.3255764842033386)
ShapiroResult(statistic=0.9101494550704956, pvalue=0.1361261010169983)
ShapiroResult(statistic=0.9513241648674011, pvalue=0.5455446839332581)

In [ ]:
# Shapiro-Wilks test for normality

def run_shapiro(my_males_shapiro_df, index):
    column1 = list(males.columns)
    #print(column1)
    y = stats.shapiro(males[column1[i]])    #y is a dictionary where the t-test returns a dictionary

    #print(y)

    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
print(y)
print(y[0])
print(y[1])

ShapiroResult(statistic=0.9009810090065002, pvalue=0.05976490676403046)
0.9009810090065002
0.05976490676403046

In [ ]:
stats.shapiro(males['GOL'])

ShapiroResult(statistic=0.931930661201477, pvalue=0.29156404733657837)

In [ ]:
column1 = list(males.columns)
column_names = ('Trait Code', 'Shapiro statistic', 'p-value')
my_males_shapiro_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    #print(column1[i])
    males_shapiro = run_shapiro(my_males_shapiro_df, i)
    print(column1[i], '\t', males_shapiro[0], males_shapiro[1])
    df3 = {'Trait Code': column1[i], 'Shapiro statistic': males_shapiro[0], 'p-value': males_shapiro[1]}
    my_males_shapiro_df.loc[i] = [column1[i], males_shapiro[0], males_shapiro[1]]
#females.isnull().sum().sum()

GOL 	 0.931930661201477 0.29156404733657837
NOL 	 0.9379737973213196 0.35757508873939514
BNL 	 0.9682093262672424 0.8307067155838013
BBH 	 0.945939302444458 0.4629105031490326
XCB 	 0.9624447822570801 0.7347967028617859
XFB 	 0.9599733948707581 0.6919338703155518
WFB 	 0.9402332305908203 0.3853120803833008
ZYB 	 0.9342199563980103 0.3152010142803192
ASB 	 0.9483640193939209 0.4990633726119995
BPL 	 0.8524080514907837 0.018787385895848274
NPH 	 0.9568802118301392 0.6383745074272156
NLH 	 0.9785056114196777 0.958276093006134
JUB 	 0.9517092704772949 0.5517653822898865
NLB 	 0.9570407867431641 0.6411356329917908
MAB 	 0.9029170274734497 0.10546627640724182
MAL 	 0.9525526165962219 0.5655150413513184
MDH 	 0.9525858163833618 0.5660596489906311
OBH 	 0.904499351978302 0.1115160584449768
OBB 	 0.9081605672836304 0.1268950253725052
DKB 	 0.963337242603302 0.7501477003097534
NDS 	 0.8599746227264404 0.024112604558467865
WNB 	 0.9686570763587952 0.8376913666725159
SIS 	 0.9516656994819641 0.5510587096214294
ZMB 	 0.9306139349937439 0.2786983847618103
SSS 	 0.8675945997238159 0.031110933050513268
FMB 	 0.9403517246246338 0.3868136405944824
NAS 	 0.9315629601478577 0.2879183888435364
EKB 	 0.9565369486808777 0.632482647895813
DKS 	 0.936877429485321 0.34472495317459106
IML 	 0.9518317580223083 0.5537514686584473
XML 	 0.9734752178192139 0.9057652354240417
MLS 	 0.8859142661094666 0.05818586423993111
WMH 	 0.9419207572937012 0.4071383476257324
GLS 	 0.9470519423484802 0.47927388548851013
STB 	 0.9336777329444885 0.30945488810539246
FRC 	 0.9404448866844177 0.3879971206188202
FRS 	 0.9527274370193481 0.5683861374855042
PAC 	 0.8840556144714355 0.05456142500042915
PAS 	 0.9759861826896667 0.9347091913223267
OCC 	 0.9764127135276794 0.9390991926193237
OCS 	 0.8734993934631348 0.037991609424352646
FOL 	 0.9619753956794739 0.7266855835914612
FOB 	 0.9733693599700928 0.9044349193572998
NAR 	 0.9509074687957764 0.5388569235801697
SSR 	 0.96148282289505 0.7181534767150879
PRR 	 0.9508002400398254 0.5371426939964294
DKR 	 0.9634706377983093 0.7524320483207703
ZOR 	 0.979640007019043 0.966987669467926
FMR 	 0.9424512386322021 0.4141954183578491
EKR 	 0.9606462717056274 0.7036296129226685
ZMR 	 0.9694145321846008 0.849291205406189
AVR 	 0.9646608829498291 0.7726731300354004
BRR 	 0.9357671737670898 0.33211326599121094
VRR 	 0.9162641167640686 0.16890598833560944
LAR 	 0.9630613327026367 0.7454132437705994
OSR 	 0.8920856714248657 0.0721178725361824
MOW 	 0.939131498336792 0.3715747892856598
UFBR 	 0.902988076210022 0.10573051124811172
UFHT 	 0.9371381998062134 0.3477456271648407
NAA 	 0.8964744210243225 0.08408883213996887
PRA 	 0.9522592425346375 0.5607118010520935
BAA 	 0.8729251027107239 0.037257179617881775
NBA 	 0.9444254636764526 0.4412795901298523
BBA 	 0.9467090368270874 0.47418954968452454
BRA 	 0.96148681640625 0.718222439289093
SSA 	 0.9594541788101196 0.6829089522361755
NFA 	 0.9737086296081543 0.9086686372756958
DKA 	 0.9142440557479858 0.1572936326265335
NDA 	 0.9589386582374573 0.6739553213119507
FRA 	 0.9351774454116821 0.3255764842033386
PAA 	 0.9101494550704956 0.1361261010169983
OCA 	 0.9513241648674011 0.5455446839332581

In [ ]:
my_males_shapiro_df.head()

  Trait Code  Shapiro statistic   p-value
0        GOL           0.931931  0.291564
1        NOL           0.937974  0.357575
2        BNL           0.968209  0.830707
3        BBH           0.945939  0.462911
4        XCB           0.962445  0.734797

##### Output file: Shapiro-Wilks females/males normality
These files contain the Shapiro-Wilks results for females and males separately. The two Shapiro-Wilks results files were merged into one table in excel.

In [ ]:
my_females_shapiro_df.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_females_shapiro_results.xlsx', index=False)

In [ ]:
my_males_shapiro_df.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_males_shapiro_results.xlsx', index=False)

#### Levene test: homogeneity of variances

In [ ]:
for i in males.columns:
  levene = stats.levene(males[i], females[i])
  print(levene)

LeveneResult(statistic=5.693405315326261, pvalue=0.023320472381878333)
LeveneResult(statistic=5.560035845819693, pvalue=0.024863783405698142)
LeveneResult(statistic=0.2669746683561904, pvalue=0.6090352396332921)
LeveneResult(statistic=0.08367783184193284, pvalue=0.7742996689110083)
LeveneResult(statistic=0.2127737344856716, pvalue=0.6478223048531999)
LeveneResult(statistic=2.05325257196915, pvalue=0.1618899066004459)
LeveneResult(statistic=0.03706109143859408, pvalue=0.8485963555527869)
LeveneResult(statistic=1.085526207443343, pvalue=0.30552228174617796)
LeveneResult(statistic=0.005162687095363954, pvalue=0.9431813894467937)
LeveneResult(statistic=0.056564660108445186, pvalue=0.8135753953443905)
LeveneResult(statistic=1.581357164544016, pvalue=0.21795651043346592)
LeveneResult(statistic=1.7623668389410394, pvalue=0.19402341264174283)
LeveneResult(statistic=0.6257476076555029, pvalue=0.43493011714742913)
LeveneResult(statistic=0.1332923832923835, pvalue=0.7175216618942128)
LeveneResult(statistic=0.8946439991244294, pvalue=0.35153665945371704)
LeveneResult(statistic=0.507818317200297, pvalue=0.48141457996083126)
LeveneResult(statistic=0.7687394326507608, pvalue=0.38735145501502743)
LeveneResult(statistic=1.2180888165542894, pvalue=0.27822990482145604)
LeveneResult(statistic=4.0331686184255044, pvalue=0.05339477416714804)
LeveneResult(statistic=0.1405576966674225, pvalue=0.7102799899419543)
LeveneResult(statistic=0.11408497825359655, pvalue=0.7378171636989638)
LeveneResult(statistic=0.04489748154028318, pvalue=0.8335796400893868)
LeveneResult(statistic=3.9042699027518344, pvalue=0.05712177108836186)
LeveneResult(statistic=0.07562511582818933, pvalue=0.7851406704160985)
LeveneResult(statistic=0.0230620443386401, pvalue=0.8802798711318338)
LeveneResult(statistic=0.3084193508270112, pvalue=0.5826375974820046)
LeveneResult(statistic=0.8154974946313526, pvalue=0.3734638154038742)
LeveneResult(statistic=0.587605278210616, pvalue=0.4491450745490507)
LeveneResult(statistic=0.07057216573076364, pvalue=0.7922642946437758)
LeveneResult(statistic=0.38425798631958735, pvalue=0.5398633250062139)
LeveneResult(statistic=0.14514495384791784, pvalue=0.7058173909342929)
LeveneResult(statistic=0.04751412970591042, pvalue=0.8288752763063937)
LeveneResult(statistic=0.08920387935628278, pvalue=0.7671846936933958)
LeveneResult(statistic=0.7696883486357166, pvalue=0.38706218984747787)
LeveneResult(statistic=4.4205056781658465, pvalue=0.043727610293786544)
LeveneResult(statistic=1.051796893406483, pvalue=0.31303017427376784)
LeveneResult(statistic=0.6485783848471095, pvalue=0.4267556813524769)
LeveneResult(statistic=0.18521190444740251, pvalue=0.6699092524831303)
LeveneResult(statistic=0.09398201616894908, pvalue=0.7612243024146508)
LeveneResult(statistic=0.8274174183419024, pvalue=0.37003881688296325)
LeveneResult(statistic=0.0019415651520370636, pvalue=0.9651366407527209)
LeveneResult(statistic=0.02111158983196907, pvalue=0.8854160017166681)
LeveneResult(statistic=0.1591860022822369, pvalue=0.6926422973186386)
LeveneResult(statistic=0.3231659343269399, pvalue=0.5738066291047424)
LeveneResult(statistic=0.14597347684028467, pvalue=0.7050200529199513)
LeveneResult(statistic=0.08679504028341224, pvalue=0.7702557627717053)
LeveneResult(statistic=0.7822172252199112, pvalue=0.38327236862197833)
LeveneResult(statistic=1.1059024602158405, pvalue=0.3011032369146692)
LeveneResult(statistic=0.7045454545454545, pvalue=0.40768719548255683)
LeveneResult(statistic=1.739220779220779, pvalue=0.19689758765586238)
LeveneResult(statistic=0.0396598434677904, pvalue=0.8434476041280746)
LeveneResult(statistic=0.13293150505111298, pvalue=0.7178871617088771)
LeveneResult(statistic=1.3449586634650736, pvalue=0.25501601349363695)
LeveneResult(statistic=4.916647173249284, pvalue=0.034063322909903916)
LeveneResult(statistic=1.9998034959648912, pvalue=0.1672848545762507)
LeveneResult(statistic=0.1926474779139354, pvalue=0.6637663129551005)
LeveneResult(statistic=0.0489573542591096, pvalue=0.8263385912281078)
LeveneResult(statistic=0.46178172232587583, pvalue=0.5018355083864418)
LeveneResult(statistic=1.9457917261055626, pvalue=0.17295620074683316)
LeveneResult(statistic=1.0445530670299303, pvalue=0.31467490587992225)
LeveneResult(statistic=0.12287181335014866, pvalue=0.7283112079613168)
LeveneResult(statistic=0.0063786828534317126, pvalue=0.9368566762660704)
LeveneResult(statistic=0.2285012285012284, pvalue=0.6359911358182979)
LeveneResult(statistic=0.9160334956391458, pvalue=0.34592371142662015)
LeveneResult(statistic=2.995876910699919, pvalue=0.09342068155178984)
LeveneResult(statistic=0.11146295123495886, pvalue=0.7407326857799481)
LeveneResult(statistic=0.3519175624893616, pvalue=0.5573333292668992)
LeveneResult(statistic=0.10215430242616477, pvalue=0.751403626684157)
LeveneResult(statistic=0.01124858967405177, pvalue=0.9162186010489138)
LeveneResult(statistic=0.9474124037485828, pvalue=0.33791316908547386)
LeveneResult(statistic=0.018877325066430473, pvalue=0.8916072724121278)
LeveneResult(statistic=0.49953911577360083, pvalue=0.48498181717085054)

In [ ]:
# Levene test for normality

def run_levene_test(my_levene_df, index):
    column1 = list(females.columns)
    column2 = list(males.columns)

    y = stats.levene(females[column1[index]], males[column2[index]])

    #print(y)

    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
column1 = list(females.columns)
column_names = ('Trait Code', 'Levene statistic', 'p-value')
my_levene_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    levene_output = run_levene_test(my_levene_df, i)
    print(column1[i], '\t', levene_output[0], levene_output[1])
    df2 = {'Trait Code': column1[i], 'Levene statistic': levene_output[0], 'p-value': levene_output[1]}
    my_levene_df.loc[i] = [column1[i], levene_output[0], levene_output[1]]
#females.isnull().sum().sum()

GOL 	 5.693405315326261 0.023320472381878333
NOL 	 5.560035845819693 0.024863783405698142
BNL 	 0.2669746683561904 0.6090352396332921
BBH 	 0.08367783184193284 0.7742996689110083
XCB 	 0.2127737344856716 0.6478223048531999
XFB 	 2.05325257196915 0.1618899066004459
WFB 	 0.03706109143859408 0.8485963555527869
ZYB 	 1.085526207443343 0.30552228174617796
ASB 	 0.005162687095363954 0.9431813894467937
BPL 	 0.056564660108445186 0.8135753953443905
NPH 	 1.581357164544016 0.21795651043346592
NLH 	 1.7623668389410394 0.19402341264174283
JUB 	 0.6257476076555029 0.43493011714742913
NLB 	 0.1332923832923835 0.7175216618942128
MAB 	 0.8946439991244294 0.35153665945371704
MAL 	 0.507818317200297 0.48141457996083126
MDH 	 0.7687394326507608 0.38735145501502743
OBH 	 1.2180888165542894 0.27822990482145604
OBB 	 4.0331686184255044 0.05339477416714804
DKB 	 0.1405576966674225 0.7102799899419543
NDS 	 0.11408497825359655 0.7378171636989638
WNB 	 0.04489748154028318 0.8335796400893868
SIS 	 3.9042699027518344 0.05712177108836186
ZMB 	 0.07562511582818933 0.7851406704160985
SSS 	 0.0230620443386401 0.8802798711318338
FMB 	 0.3084193508270112 0.5826375974820046
NAS 	 0.8154974946313526 0.3734638154038742
EKB 	 0.587605278210616 0.4491450745490507
DKS 	 0.07057216573076364 0.7922642946437758
IML 	 0.38425798631958735 0.5398633250062139
XML 	 0.14514495384791784 0.7058173909342929
MLS 	 0.04751412970591042 0.8288752763063937
WMH 	 0.08920387935628278 0.7671846936933958
GLS 	 0.7696883486357166 0.38706218984747787
STB 	 4.4205056781658465 0.043727610293786544
FRC 	 1.051796893406483 0.31303017427376784
FRS 	 0.6485783848471095 0.4267556813524769
PAC 	 0.18521190444740251 0.6699092524831303
PAS 	 0.09398201616894908 0.7612243024146508
OCC 	 0.8274174183419024 0.37003881688296325
OCS 	 0.0019415651520370636 0.9651366407527209
FOL 	 0.02111158983196907 0.8854160017166681
FOB 	 0.1591860022822369 0.6926422973186386
NAR 	 0.3231659343269399 0.5738066291047424
SSR 	 0.14597347684028467 0.7050200529199513
PRR 	 0.08679504028341224 0.7702557627717053
DKR 	 0.7822172252199112 0.38327236862197833
ZOR 	 1.1059024602158405 0.3011032369146692
FMR 	 0.7045454545454545 0.40768719548255683
EKR 	 1.739220779220779 0.19689758765586238
ZMR 	 0.0396598434677904 0.8434476041280746
AVR 	 0.13293150505111298 0.7178871617088771
BRR 	 1.3449586634650736 0.25501601349363695
VRR 	 4.916647173249284 0.034063322909903916
LAR 	 1.9998034959648912 0.1672848545762507
OSR 	 0.1926474779139354 0.6637663129551005
MOW 	 0.0489573542591096 0.8263385912281078
UFBR 	 0.46178172232587583 0.5018355083864418
UFHT 	 1.9457917261055626 0.17295620074683316
NAA 	 1.0445530670299303 0.31467490587992225
PRA 	 0.12287181335014866 0.7283112079613168
BAA 	 0.0063786828534317126 0.9368566762660704
NBA 	 0.2285012285012284 0.6359911358182979
BBA 	 0.9160334956391458 0.34592371142662015
BRA 	 2.995876910699919 0.09342068155178984
SSA 	 0.11146295123495886 0.7407326857799481
NFA 	 0.3519175624893616 0.5573333292668992
DKA 	 0.10215430242616477 0.751403626684157
NDA 	 0.01124858967405177 0.9162186010489138
FRA 	 0.9474124037485828 0.33791316908547386
PAA 	 0.018877325066430473 0.8916072724121278
OCA 	 0.49953911577360083 0.48498181717085054

In [ ]:
my_levene_df.head()

  Trait Code  Levene statistic   p-value
0        GOL          5.693405  0.023320
1        NOL          5.560036  0.024864
2        BNL          0.266975  0.609035
3        BBH          0.083678  0.774300
4        XCB          0.212774  0.647822

##### Output file: Levene

In [ ]:
my_levene_df.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_levene_results.xlsx', index=False)

#### Independent *t*-test

In [ ]:
from scipy import stats

In [ ]:
'''
res = stats.ttest_ind(males, females,
                      equal_var=True)

display(res)
'''

In [ ]:
# Independent samples t-test: Option 1 (1 of 2)

def run_ind_t_test(my_ind_t_test_df, index):
    column1 = list(females.columns)
    column2 = list(males.columns)

    y = stats.ttest_ind(females[column1[index]], males[column2[index]], equal_var=False)    #y is a dictionary where the t-test returns a dictionary

    #print(y[1])
    return y
    '''
    my_str = ''
    #my_ind_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_ind_t_test_df['stats'] = stats
    #print(column1[index])
    my_ind_t_test_df[column2[index]] = values
    #my_ind_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])
    '''

In [ ]:
# Independent samples t-test: Option 1 (2 of 2)

column1 = list(females.columns)
column_names = ('Trait Code', 't-statistic', 'p-value')
my_ind_t_test_df = pd.DataFrame(columns = column_names)
for i in range(len(column1)):
    #print(pt.ttest(females[column1[i]], t2[column2[i]], paired=True))
    #pt.ttest(females[column1[i]], t2[column2[i]], paired=True)
    t_test_output = run_ind_t_test(my_ind_t_test_df, i)
    print(column1[i], '\t', t_test_output[0], t_test_output[1])
    df2 = {'Trait Code': column1[i], 't-statistic': t_test_output[0], 'p-value': t_test_output[1]}
    my_ind_t_test_df.loc[i] = [column1[i], t_test_output[0], t_test_output[1]]
#females.isnull().sum().sum()

GOL 	 -1.8536100117506602 0.07333309576717319
NOL 	 -1.5242404887170191 0.1375865509278001
BNL 	 -2.7624209178471784 0.009560732120020468
BBH 	 -3.9116099892763505 0.0004667546018028686
XCB 	 -1.4146816563764208 0.1671284249596115
XFB 	 -1.5711935070944274 0.12628984821215317
WFB 	 -1.027054582355565 0.3123424349371396
ZYB 	 -1.2926968676983017 0.20566813724289854
ASB 	 -1.1493575280445734 0.2591992184597732
BPL 	 -3.4633197264691526 0.0015808301917531935
NPH 	 -0.2250663773270994 0.8234047068595017
NLH 	 -1.0901329842407659 0.2840561093936947
JUB 	 -1.2060718449574954 0.2369143420510385
NLB 	 -1.5952230477868923 0.1208081997761985
MAB 	 -2.916502468970163 0.0065273853051646845
MAL 	 -2.721587929795203 0.010562234623249374
MDH 	 -1.4290561001689048 0.16298816906072075
OBH 	 0.6363636363636292 0.5292104819419048
OBB 	 -0.21957972992991812 0.8276379611270226
DKB 	 -1.0138296937561924 0.3185120096679132
NDS 	 -2.1417592925286617 0.04018007385664157
WNB 	 0.2719961729370777 0.7874283587443951
SIS 	 -1.255665458842787 0.2186195044920018
ZMB 	 -0.07953245772589479 0.9371203213877132
SSS 	 -1.5611421358888862 0.12864227855962676
FMB 	 -1.17035273682535 0.25077794689471455
NAS 	 -1.007888821521905 0.32131057791894874
EKB 	 -1.0298789301577722 0.3110356133091406
DKS 	 0.055412848754848316 0.9561651625510708
IML 	 0.04242446360156101 0.9664324075740289
XML 	 0.6611201288406421 0.5134191798831704
MLS 	 -0.22933463098194085 0.8201152281844855
WMH 	 -0.32227968408400665 0.7494042642652887
GLS 	 -1.4493502048942837 0.15728150949965747
STB 	 -0.11928432465154896 0.9058197754429682
FRC 	 -1.5702378921104592 0.12651197919622198
FRS 	 -0.8047593735206935 0.42708778625093635
PAC 	 -2.478632933044874 0.018836307064749945
PAS 	 -2.9646491573112397 0.005783259914113596
OCC 	 -0.778609395871707 0.4421128550820894
OCS 	 -0.5931663516422757 0.5573730039769629
FOL 	 -1.8056958558587481 0.08068551709204502
FOB 	 -1.9756945030696103 0.05714882763417544
NAR 	 -2.199111732455056 0.03545757622833351
SSR 	 -3.780386769633902 0.0006699052555101114
PRR 	 -3.4049119106689933 0.0018469604810522585
DKR 	 -1.427692665685163 0.1633773627573015
ZOR 	 -1.7330320224609679 0.09302851699598111
FMR 	 -1.7245997693507502 0.09455888977102891
EKR 	 -1.876196647348131 0.07007133552572761
ZMR 	 -1.766985808291319 0.08707569043916728
AVR 	 -3.201300035396459 0.0031541693774485035
BRR 	 -2.7143091235150476 0.01075072926942268
VRR 	 -2.808343177646895 0.008540764244742441
LAR 	 -0.47088403225210823 0.6410202889750967
OSR 	 -2.45350728658872 0.01996837037768589
MOW 	 -1.5801078135322426 0.12423304526780606
UFBR 	 -1.1063117471725727 0.27710325001169717
UFHT 	 -0.2684956584530902 0.7900965610534388
NAA 	 -1.2578327966782725 0.21784493777087735
PRA 	 -0.5664411840370127 0.5751722776236936
BAA 	 2.5824567136518417 0.014755922859067098
NBA 	 -1.676804495204345 0.10363813812333314
BBA 	 1.8902744169425114 0.06810214675847362
BRA 	 -0.03381926405194197 0.9732380967585195
SSA 	 1.4086601694353718 0.1688872389596623
NFA 	 0.7371527488360942 0.46657245912182577
DKA 	 -0.23830799912304232 0.8132104738377324
NDA 	 1.5222052600257292 0.1380941437406814
FRA 	 -0.3036026598786457 0.7634590129244678
PAA 	 2.6693029799044607 0.011987589009958848
OCA 	 0.7167516403013792 0.47889305897029555

In [ ]:
# Independent samples t-test: Option 2

#len(males[males.columns[3]])
column_names = ('Trait Code', 't-statistic', 'p-value')
my_ind_t_test_df2 = pd.DataFrame(columns = column_names)
for c in males.columns:
    temp_df_males = pd.DataFrame(males[c])                                                # initialize a new df using one column [c] of the males df one at a time
    temp_df_males.dropna(subset=[c], inplace=True)
    temp_df_females = pd.DataFrame(females[c])                                                # initialize a new df using one column [c] of the males df one at a time
    temp_df_females.dropna(subset=[c], inplace=True)
    if len(temp_df_males) <3 or len(temp_df_females) <3:                                                             # Levene cannot run with 3 or less inputs
      continue
    t_test_output = stats.ttest_ind(temp_df_females[c], temp_df_males[c], equal_var=False)
    print(c,'\t', t_test_output)
    #df3 = {'Trait Code': [c], 't-statistic': t_test_output[0], 'p-value': t_test_output[1]}
    my_ind_t_test_df2.loc[c] = [c, t_test_output[0], t_test_output[1]]

GOL 	 Ttest_indResult(statistic=-1.7600516168131333, pvalue=0.09324755360353455)
NOL 	 Ttest_indResult(statistic=-1.4460175261818355, pvalue=0.16334277428651947)
BNL 	 Ttest_indResult(statistic=-2.7062096611630624, pvalue=0.011714498459213333)
BBH 	 Ttest_indResult(statistic=-3.8579396463620657, pvalue=0.000616996399692109)
XCB 	 Ttest_indResult(statistic=-1.437171993615802, pvalue=0.16069000941815015)
XFB 	 Ttest_indResult(statistic=-1.520734984525788, pvalue=0.1412224825086053)
WFB 	 Ttest_indResult(statistic=-1.0224447614929035, pvalue=0.3149208268460851)
ZYB 	 Ttest_indResult(statistic=-1.2714723362824973, pvalue=0.21424134898403957)
ASB 	 Ttest_indResult(statistic=-1.1540541904201977, pvalue=0.2574817449023874)
BPL 	 Ttest_indResult(statistic=-3.3761306218004474, pvalue=0.002342334737449279)
NPH 	 Ttest_indResult(statistic=-0.2158150198593351, pvalue=0.8310788708643616)
NLH 	 Ttest_indResult(statistic=-1.045530901305331, pvalue=0.3068755426242862)
JUB 	 Ttest_indResult(statistic=-1.1871272362385292, pvalue=0.24531403936600688)
NLB 	 Ttest_indResult(statistic=-1.6186714884166575, pvalue=0.11565879548106828)
MAB 	 Ttest_indResult(statistic=-2.8166769614446867, pvalue=0.009577504260871441)
MAL 	 Ttest_indResult(statistic=-2.76796409022402, pvalue=0.00943198608848171)
MDH 	 Ttest_indResult(statistic=-1.3936339388290044, pvalue=0.17531413265884593)
OBH 	 Ttest_indResult(statistic=0.6107706217157868, pvalue=0.5474313314603384)
OBB 	 Ttest_indResult(statistic=-0.21084016670915257, pvalue=0.8348900611794078)
DKB 	 Ttest_indResult(statistic=-1.0016537717267766, pvalue=0.32502988096775554)
NDS 	 Ttest_indResult(statistic=-2.1392344819384093, pvalue=0.04073051856714678)
WNB 	 Ttest_indResult(statistic=0.27243759157226966, pvalue=0.7871448536169043)
SIS 	 Ttest_indResult(statistic=-1.197373314693993, pvalue=0.24425978444501423)
ZMB 	 Ttest_indResult(statistic=-0.07990969264039027, pvalue=0.9368324765631809)
SSS 	 Ttest_indResult(statistic=-1.5530938965282184, pvalue=0.13114799640737873)
FMB 	 Ttest_indResult(statistic=-1.1588260905384462, pvalue=0.2561267623633426)
NAS 	 Ttest_indResult(statistic=-0.9899406218198399, pvalue=0.33094077755012996)
EKB 	 Ttest_indResult(statistic=-1.0177025174657726, pvalue=0.31746315407713827)
DKS 	 Ttest_indResult(statistic=0.05565336254597891, pvalue=0.9559823121772574)
IML 	 Ttest_indResult(statistic=0.04192391449771089, pvalue=0.9668544485278932)
XML 	 Ttest_indResult(statistic=0.6583371896716133, pvalue=0.515443924411182)
MLS 	 Ttest_indResult(statistic=-0.23295869289162519, pvalue=0.8173253962812749)
WMH 	 Ttest_indResult(statistic=-0.3216524021043805, pvalue=0.7499689537436853)
GLS 	 Ttest_indResult(statistic=-1.4026208560215707, pvalue=0.1733805131060151)
STB 	 Ttest_indResult(statistic=-0.11530102112980326, pvalue=0.9091635505281028)
FRC 	 Ttest_indResult(statistic=-1.5299328975670068, pvalue=0.13828225234083572)
FRS 	 Ttest_indResult(statistic=-0.7866698849966494, pvalue=0.438515796205743)
PAC 	 Ttest_indResult(statistic=-2.4364769379447897, pvalue=0.02162284255313842)
PAS 	 Ttest_indResult(statistic=-2.958671264872027, pvalue=0.006013693405113515)
OCC 	 Ttest_indResult(statistic=-0.7624994583972156, pvalue=0.452467650368924)
OCS 	 Ttest_indResult(statistic=-0.5908226781254426, pvalue=0.5591486908036369)
FOL 	 Ttest_indResult(statistic=-1.7982895407939627, pvalue=0.08240165609959042)
FOB 	 Ttest_indResult(statistic=-2.0079601723789877, pvalue=0.05343167531534795)
NAR 	 Ttest_indResult(statistic=-2.2083779901672886, pvalue=0.034902971326609494)
SSR 	 Ttest_indResult(statistic=-3.7964524529811383, pvalue=0.0006563153956544502)
PRR 	 Ttest_indResult(statistic=-3.3795133664439163, pvalue=0.0020933016181398562)
DKR 	 Ttest_indResult(statistic=-1.4622912367648133, pvalue=0.15377781413132444)
ZOR 	 Ttest_indResult(statistic=-1.7669056295137018, pvalue=0.08709370002176979)
FMR 	 Ttest_indResult(statistic=-1.7498349836403237, pvalue=0.09005123198384773)
EKR 	 Ttest_indResult(statistic=-1.9375824142838398, pvalue=0.06208048456802238)
ZMR 	 Ttest_indResult(statistic=-1.7596233587576686, pvalue=0.08887259709175294)
AVR 	 Ttest_indResult(statistic=-3.2146941790487578, pvalue=0.0030908742202197304)
BRR 	 Ttest_indResult(statistic=-2.6702955032920763, pvalue=0.01258308336008443)
VRR 	 Ttest_indResult(statistic=-2.697287151497902, pvalue=0.012918284436918979)
LAR 	 Ttest_indResult(statistic=-0.45460334624879994, pvalue=0.6535115758201819)
OSR 	 Ttest_indResult(statistic=-2.484824184153381, pvalue=0.018582740250842538)
MOW 	 Ttest_indResult(statistic=-1.5780103211784027, pvalue=0.12512906515468605)
UFBR 	 Ttest_indResult(statistic=-1.1077392363958425, pvalue=0.2767538877744364)
UFHT 	 Ttest_indResult(statistic=-0.2569345210479592, pvalue=0.7996091084304491)
NAA 	 Ttest_indResult(statistic=-1.2391847196631323, pvalue=0.22567234363963978)
PRA 	 Ttest_indResult(statistic=-0.5743416490803366, pvalue=0.5698876220909371)
BAA 	 Ttest_indResult(statistic=2.5521860442579465, pvalue=0.01639362932449795)
NBA 	 Ttest_indResult(statistic=-1.698341220682214, pvalue=0.09948700141388038)
BBA 	 Ttest_indResult(statistic=1.917061490985899, pvalue=0.0644995400259867)
BRA 	 Ttest_indResult(statistic=-0.03255186443270123, pvalue=0.974310198825266)
SSA 	 Ttest_indResult(statistic=1.388459101964486, pvalue=0.1760263362845358)
NFA 	 Ttest_indResult(statistic=0.7265043137924732, pvalue=0.4736086862737561)
DKA 	 Ttest_indResult(statistic=-0.24132948652780686, pvalue=0.8108933763493219)
NDA 	 Ttest_indResult(statistic=1.5228982701030385, pvalue=0.1382610561150494)
FRA 	 Ttest_indResult(statistic=-0.30836320905736553, pvalue=0.759869520059737)
PAA 	 Ttest_indResult(statistic=2.7090138359958194, pvalue=0.010893768184154122)
OCA 	 Ttest_indResult(statistic=0.7235233033434538, pvalue=0.47482450309885094)

In [ ]:
my_ind_t_test_df.head()

  Trait Code  t-statistic   p-value
0        GOL    -1.853610  0.073333
1        NOL    -1.524240  0.137587
2        BNL    -2.762421  0.009561
3        BBH    -3.911610  0.000467
4        XCB    -1.414682  0.167128

In [ ]:
my_ind_t_test_df2.head()

    Trait Code  t-statistic   p-value
GOL        GOL    -1.760052  0.093248
NOL        NOL    -1.446018  0.163343
BNL        BNL    -2.706210  0.011714
BBH        BBH    -3.857940  0.000617
XCB        XCB    -1.437172  0.160690

In [ ]:
my_ind_t_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Trait Code   72 non-null     object
 1   t-statistic  72 non-null     float64
 2   p-value      72 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.2+ KB

##### Output file: ind_*t*_test

In [ ]:
my_ind_t_test_df2.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_SD_ind_t-test_results.xlsx', index=True)

#### Paired samples *t*-test (not for SD!)
Just leaving this here because the code is prepared, and it works. And I can't bring myself to delete perfectly good code.

In [ ]:
# Paired samples t-test

def run_t_test(my_t_test_df, index):
    column1 = list(females.columns)
    column2 = list(males.columns)

    y = pt.ttest(females[column1[index]], males[column2[index]], paired=True)    #y is a dictionary where the t-test returns a dictionary
    my_str = ''
    #my_t_test_df = pd.DataFrame()
    stats = []
    values = []
    #print(y)
    for k in y:
        stats.append(k)
        values.append(y[k][0])           # k is the column value; 0 is the row value - used to locate the values -> new df(i.e., y)
    my_t_test_df['stats'] = stats
    #print(column1[index])
    my_t_test_df[column2[index]] = values
    #my_t_test_df.head(10)
    #print(my_str)
    #print(y['T'][0], '\t', y['dof'][0], '\t', y['tail'][0], '\t', y['p-val'][0]\
    #      ,'\t',y['CI95%'][0],'\t', y['cohen-d'][0],'\t',y['BF10'][0], '\t',y['power'][0])#['T'])#[0])

In [ ]:
column1 = list(females.columns)
my_t_test_df = pd.DataFrame()
for i in range(len(column1)):
    #print(pt.ttest(females[column1[i]], t2[column2[i]], paired=True))
    #pt.ttest(females[column1[i]], t2[column2[i]], paired=True)
    run_t_test(my_t_test_df, i)
#females.isnull().sum().sum()

/usr/local/lib/python3.7/dist-packages/pingouin/parametric.py:214: UserWarning: x and y have unequal sizes. Switching to paired == False. Check your data.
  warnings.warn("x and y have unequal sizes. Switching to "

In [ ]:
my_t_test_df.head(10)

,stats,GOL,NOL,BNL,BBH,XCB,XFB,WFB,ZYB,ASB,BPL,NPH,NLH,JUB,NLB,MAB,MAL,MDH,OBH,OBB,DKB,NDS,WNB,SIS,ZMB,SSS,FMB,NAS,EKB,DKS,IML,XML,MLS,WMH,GLS,STB,FRC,FRS,PAC,PAS,OCC,OCS,FOL,FOB,NAR,SSR,PRR,DKR,ZOR,FMR,EKR,ZMR,AVR,BRR,VRR,LAR,OSR,MOW,UFBR,UFHT,NAA,PRA,BAA,NBA,BBA,BRA,SSA,NFA,DKA,NDA,FRA,PAA,OCA
0,T,-1.760052,-1.446018,-2.70621,-3.85794,-1.437172,-1.520735,-1.022445,-1.271472,-1.154054,-3.376131,-0.215815,-1.045531,-1.187127,-1.618671,-2.816677,-2.767964,-1.393634,0.610771,-0.21084,-1.001654,-2.139234,0.272438,-1.197373,-0.07991,-1.553094,-1.158826,-0.989941,-1.017703,0.055653,0.041924,0.658337,-0.232959,-0.321652,-1.402621,-0.115301,-1.529933,-0.78667,-2.436477,-2.958671,-0.762499,-0.590823,-1.79829,-2.00796,-2.208378,-3.796452,-3.379513,-1.462291,-1.766906,-1.749835,-1.937582,-1.759623,-3.214694,-2.670296,-2.697287,-0.454603,-2.484824,-1.57801,-1.107739,-0.256935,-1.239185,-0.574342,2.552186,-1.698341,1.917061,-0.032552,1.388459,0.726504,-0.241329,1.522898,-0.308363,2.709014,0.723523
1,dof,20.591404,20.425997,26.679266,27.901288,30.989482,24.320051,29.362949,27.417561,30.360862,25.731108,22.471583,22.510556,27.547071,30.969572,23.885178,30.998849,25.808621,22.653133,22.738428,28.196462,29.795305,30.116051,21.394545,30.41996,29.269302,28.554806,27.160782,28.228076,30.384036,28.232225,29.401491,30.988276,29.700003,24.293985,24.057028,25.632308,26.265611,27.309275,29.691158,26.613387,29.436846,29.416284,30.994143,30.372523,30.375813,28.930221,30.840718,30.986337,30.968163,30.183067,29.407366,30.369815,27.454744,22.79098,23.81371,30.915845,29.777098,30.080276,22.07346,27.70577,30.951853,28.245214,30.918582,30.957541,23.216186,27.792046,27.773472,30.912871,29.987679,30.986632,30.973172,30.762969
2,alternative,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided,two-sided
3,p-val,0.093248,0.163343,0.011714,0.000617,0.16069,0.141222,0.314921,0.214241,0.257482,0.002342,0.831079,0.306876,0.245314,0.115659,0.009578,0.009432,0.175314,0.547431,0.83489,0.32503,0.040731,0.787145,0.24426,0.936832,0.131148,0.256127,0.330941,0.317463,0.955982,0.966854,0.515444,0.817325,0.749969,0.173381,0.909164,0.138282,0.438516,0.021623,0.006014,0.452468,0.559149,0.082402,0.053432,0.034903,0.000656,0.002093,0.153778,0.087094,0.090051,0.06208,0.088873,0.003091,0.012583,0.012918,0.653512,0.018583,0.125129,0.276754,0.799609,0.225672,0.569888,0.016394,0.099487,0.0645,0.97431,0.176026,0.473609,0.810893,0.138261,0.75987,0.010894,0.474825
4,CI95%,"[-13.92, 1.17]","[-12.07, 2.18]","[-8.68, -1.19]","[-11.62, -3.56]","[-7.93, 1.37]","[-6.34, 0.96]","[-5.1, 1.7]","[-6.97, 1.63]","[-7.38, 2.05]","[-8.35, -2.03]","[-3.41, 2.77]","[-3.48, 1.14]","[-6.36, 1.7]","[-2.46, 0.28]","[-6.66, -1.03]","[-5.02, -0.76]","[-4.46, 0.86]","[-1.12, 2.05]","[-2.4, 1.96]","[-2.77, 0.95]","[-2.5, -0.06]","[-1.27, 1.66]","[-1.15, 0.31]","[-4.42, 4.09]","[-4.27, 0.58]","[-4.67, 1.29]","[-2.59, 0.91]","[-5.35, 1.8]","[-1.98, 2.09]","[-2.66, 2.77]","[-1.99, 3.88]","[-1.3, 1.03]","[-2.45, 1.78]","[-1.81, 0.35]","[-5.04, 4.51]","[-7.74, 1.14]","[-2.61, 1.16]","[-13.79, -1.19]","[-5.99, -1.1]","[-5.83, 2.67]","[-3.77, 2.08]","[-3.54, 0.23]","[-3.0, 0.02]","[-7.25, -0.29]","[-7.79, -2.34]","[-8.63, -2.12]","[-5.38, 0.89]","[-5.29, 0.38]","[-5.03, 0.38]","[-4.88, 0.13]","[-6.51, 0.49]","[-7.12, -1.59]","[-9.02, -1.18]","[-9.48, -1.25]","[-5.36, 3.42]","[-5.06, -0.5]","[-5.63, 0.72]","[-4.83, 1.43]","[-3.63, 2.83]","[-3.95, 0.97]","[-3.03, 1.7]","[0.43, 3.88]","[-3.52, 0.32]","[-0.11, 3.6]","[-1.43, 1.39]","[-1.62, 8.42]","[-2.08, 4.37]","[-5.25, 4.14]","[-2.09, 14.36]","[-2.88, 2.12]","[0.96, 6.84]","[-2.77, 5.81]"
5,cohen-d,0.648028,0.532879,0.965751,1.36751,0.494577,0.549294,0.359061,0.451931,0.401819,1.210787,0.078684,0.381114,0.421646,0.557695,1.019618,0.951475,0.499602,0.222475,0.076766,0.354438,0.748765,0.095091,0.438984,0.027805,0.54578,0.409159,0.352361,0.360049,0.019372,0.014832,0.23113,0.080176,0.11267,0.506697,0.041702,0.54896,0.281346,0.866537,1.03645,0.272204,0.207373,0.631277,0.690709,0.768816,1.321634,1.190367,0.499126,0.605873,0.602925,0.655924,0.617743,1.119184,0.94893,0.981805,0.164622,0.857753,0.55241,0.38677,0.093867,0.439742,0.19803,0.902834,0.586216,0.660846,0.011823,0.492472,0.257711,0.083313,0.532167,0.10614,0.933196,0.250578
6,BF10,1.068,0.737,4.712,51.252,0.73,0.8,0.498,0.617,0.555,17.751,0.339,0.507,0.571,0.897,5.783,5.28,0.697,0.385,0.339,0.49,1.819,0.343,0.576,0.334,0.83,0.557,0.485,0.496,0.334,0.334,0.394,0.34,0.347,0.704,0.335,0.809,0.423,2.932,7.59,0.417,0.381,1.123,1.498,2.024,44.582,17.879,0.75,1.078,1.054,1.356,1.068,12.673,4.414,4.636,0.361,3.183,0.855,0.533,0.342,0.599,0.379,3.577,0.988,1.317,0.334,0.694,0.409,0.341,0.802,0.346,4.736,0.408
7,power,0.435021,0.314903,0.763011,0.966212,0.278379,0.331178,0.168959,0.240402,0.199834,0.918374,0.055471,0.184441,0.215335,0.339638,0.806518,0.750639,0.283048,0.094604,0.055207,0.165835,0.545882,0.058002,0.229485,0.050681,0.327665,0.205487,0.164445,0.169632,0.050331,0.050194,0.098215,0.055681,0.061255,0.289704,0.051533,0.330843,0.12209,0.67052,0.819045,0.11737,0.088653,0.416849,0.481867,0.567802,0.955521,0.909505,0.282603,0.389645,0.386521,0.443638,0.402297,0.873007,0.748399,0.776512,0.074192,0.661671,0.334306,0.188564,0.057796,0.230116,0.085193,0.706036,0.36896,0.449023,0.050123,0.276435,0.110229,0.056136,0.314206,0.059981,0.73431,0.106868

##### Transpose the results table
#### Row headers = trait names
#### Column headers = indices

In [ ]:
ttest_output = my_t_test_df.transpose()

In [ ]:
ttest_output.head(10)

              0          1            2         3                4         5       6         7
stats         T        dof  alternative     p-val            CI95%   cohen-d    BF10     power
GOL   -1.760052  20.591404    two-sided  0.093248   [-13.92, 1.17]  0.648028   1.068  0.435021
NOL   -1.446018  20.425997    two-sided  0.163343   [-12.07, 2.18]  0.532879   0.737  0.314903
BNL    -2.70621  26.679266    two-sided  0.011714   [-8.68, -1.19]  0.965751   4.712  0.763011
BBH    -3.85794  27.901288    two-sided  0.000617  [-11.62, -3.56]   1.36751  51.252  0.966212
XCB   -1.437172  30.989482    two-sided   0.16069    [-7.93, 1.37]  0.494577    0.73  0.278379
XFB   -1.520735  24.320051    two-sided  0.141222    [-6.34, 0.96]  0.549294     0.8  0.331178
WFB   -1.022445  29.362949    two-sided  0.314921      [-5.1, 1.7]  0.359061   0.498  0.168959
ZYB   -1.271472  27.417561    two-sided  0.214241    [-6.97, 1.63]  0.451931   0.617  0.240402
ASB   -1.154054  30.360862    two-sided  0.257482    [-7.38, 2.05]  0.401819   0.555  0.199834

In [ ]:
ttest_output.tail(10)

            0          1          2         3               4         5      6         7
NBA -1.698341  30.918582  two-sided  0.099487   [-3.52, 0.32]  0.586216  0.988   0.36896
BBA  1.917061  30.957541  two-sided    0.0645    [-0.11, 3.6]  0.660846  1.317  0.449023
BRA -0.032552  23.216186  two-sided   0.97431   [-1.43, 1.39]  0.011823  0.334  0.050123
SSA  1.388459  27.792046  two-sided  0.176026   [-1.62, 8.42]  0.492472  0.694  0.276435
NFA  0.726504  27.773472  two-sided  0.473609   [-2.08, 4.37]  0.257711  0.409  0.110229
DKA -0.241329  30.912871  two-sided  0.810893   [-5.25, 4.14]  0.083313  0.341  0.056136
NDA  1.522898  29.987679  two-sided  0.138261  [-2.09, 14.36]  0.532167  0.802  0.314206
FRA -0.308363  30.986632  two-sided   0.75987   [-2.88, 2.12]   0.10614  0.346  0.059981
PAA  2.709014  30.973172  two-sided  0.010894    [0.96, 6.84]  0.933196  4.736   0.73431
OCA  0.723523  30.762969  two-sided  0.474825   [-2.77, 5.81]  0.250578  0.408  0.106868

In [ ]:
ttest_output.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_SD_t-test_results.xlsx', index=True)

### Garn (1967) % Sexual Dimorphism equation

![garn_SD_equation.PNG]()

In [ ]:
females = pd.DataFrame()
females = cranmet2[cranmet2['Sex'] == 'F']

In [ ]:
del females['SkelID']
del females['Collection']
del females['Sex']
del females['Age']
del females['Population']
del females['Population2']
del females['Population3']
del females['Population4']

In [ ]:
males = pd.DataFrame()
males = cranmet2[cranmet2['Sex'] == 'M']

In [ ]:
del males['SkelID']
del males['Collection']
del males['Sex']
del males['Age']
del males['Population']
del males['Population2']
del males['Population3']
del males['Population4']

In [ ]:
# performed using males df with NA values
male_mean2 = males.mean()

In [ ]:
male_mean2.head()

GOL    180.558140
NOL    177.348837
BNL    102.782609
BBH    139.844444
XCB    143.553191
dtype: float64

In [ ]:
# performed using males = males.dropna()
male_mean.head()

GOL    179.266667
NOL    176.000000
BNL    101.933333
BBH    140.533333
XCB    143.666667
dtype: float64

In [ ]:
# performed using females = females.dropna()
female_mean = females.mean()
female_mean.head()

GOL    172.888889
NOL    171.055556
BNL     97.000000
BBH    132.944444
XCB    140.388889
dtype: float64

In [ ]:
# performed using males df with NA values
female_mean2 = females.mean()
female_mean2.head()

GOL    172.714286
NOL    171.000000
BNL     96.800000
BBH    133.028571
XCB    139.685714
dtype: float64

In [ ]:
# performed using the dfs with NAs
sexual_dimorphism = ((male_mean2/female_mean2) - 1) * 100
sexual_dimorphism

GOL      4.541520
NOL      3.712770
BNL      6.180381
BBH      5.123616
XCB      2.768699
XFB      2.844266
WFB      1.769941
ZYB      3.962513
ASB      2.208806
BPL      4.976285
NPH      4.023810
NLH      4.738047
JUB      3.089067
NLB      2.180734
MAB      4.971560
MAL      3.808025
MDH      5.860235
OBH     -0.263558
OBB      2.840909
DKB      2.104874
NDS     12.659176
WNB     -3.824084
SIS     21.220449
ZMB      1.403823
SSS     10.663236
FMB      2.940523
NAS     10.482430
EKB      2.540209
DKS      7.607323
IML      4.165063
XML      3.811452
MLS      6.981318
WMH      5.142284
GLS     52.173913
STB      0.528297
FRC      3.400779
FRS     -1.515152
PAC      3.652042
PAS      5.571397
OCC      3.128233
OCS      5.705248
FOL      4.094508
FOB      5.046767
NAR      5.199533
SSR      6.173471
PRR      5.481724
DKR      4.864363
ZOR      4.271437
FMR      4.032194
EKR      4.398987
ZMR      4.090521
AVR      4.169041
BRR      3.572575
VRR      3.353204
LAR      1.852767
OSR      6.188991
MOW      1.593625
UFBR     2.378007
UFHT     3.054667
NAA     -0.774139
PRA      2.069049
BAA     -1.703364
NBA      0.479960
BBA     -2.133458
BRA      1.569602
SSA     -3.209442
NFA     -1.531901
DKA     -0.795195
NDA     -5.659184
FRA      1.790024
PAA     -0.691383
OCA     -2.215183
dtype: float64

In [ ]:
# performed using the DFs with no NAs
sexual_dimorphism = ((male_mean/female_mean) - 1) * 100
sexual_dimorphism

GOL      3.688946
NOL      2.890549
BNL      5.085911
BBH      5.708316
XCB      2.334784
XFB      2.342691
WFB      1.878453
ZYB      2.040816
ASB      2.469136
BPL      5.503830
NPH      0.460683
NLH      2.250804
JUB      2.083333
NLB      4.336283
MAB      6.113074
MAL      5.543710
MDH      5.294118
OBH     -1.308411
OBB      0.549451
DKB      4.739884
NDS     15.862069
WNB     -2.447844
SIS     17.494200
ZMB      0.172712
SSS      7.830189
FMB      1.757225
NAS      5.801527
EKB      1.841197
DKS     -0.518135
IML     -0.168067
XML     -1.761658
MLS      0.952381
WMH      1.428571
GLS     22.000000
STB      0.237389
FRC      2.995461
FRS      2.783726
PAC      7.035491
PAS     16.070529
OCC      1.611805
OCS      2.992126
FOL      4.783307
FOB      5.000000
NAR      4.146789
SSR      5.547445
PRR      5.438202
DKR      2.763338
ZOR      3.123675
FMR      3.018051
EKR      3.322981
ZMR      4.381568
AVR      5.648415
BRR      4.315938
VRR      4.429161
LAR      0.922099
OSR      7.142857
MOW      4.788732
UFBR     1.658537
UFHT     0.552995
NAA      2.240803
PRA      0.943396
BAA     -5.025907
NBA      2.008368
BBA     -3.194303
BRA      0.048544
SSA     -2.656250
NFA     -0.782378
DKA      0.371747
NDA     -6.092715
FRA      0.292347
PAA     -2.885327
OCA     -1.271462
dtype: float64

##### Garn Option 1: Function

In [ ]:
# this option uses mean function from statistics

def garn_sexdimorph(females, males):        # create/begin the function
    column1 = list(females.columns)                # take the column names from females df
    stats = ['Trait', '% Sexual Dimorphism']
    sexdimorph_garn_df = pd.DataFrame(columns = stats)

    #my_t_test_df['stats'] = stats
    indx = 0
    for i in range(7, len(column1)):               # for loop starts at column 7 (col 1-6 are demographics) to the end of column1 list (i.e., to the end of the column list)
        #print(column1[i])                         # print the column names
        F1 = females.loc[:, column1[i]]            # iterate through the columns of the females df for each row
        F2 = F1.dropna()                           # drop NaNs through iterative process above
        #print(F1.head())
        M1 = males.loc[:, column1[i]]              # iterate through the columns of the males df for each row
        M2 = M1.dropna()                           # drop NaNs through iterative process above
        #print(M1.head())
        Favg = statistics.mean(F2)
        Mavg = statistics.mean(M2)
        y = (Mavg/Favg - 1) * 100
        #print(ttest_sexdimorph)                   # print the ttest results
        values = []
        #print(y)
        #print(k)
        sexdimorph_garn_df.loc[indx] = [column1[i], y]
        indx += 1                                  # add a row during the iteration
    print(sexdimorph_garn_df.head())
    sexdimorph_garn_df.to_excel('sexdimorph_odont_garn_df.xlsx')     #print output to Excel
garn_sexdimorph(females, males)             # call the function

    Trait  % Sexual Dimorphism
0  UI2_MD             0.856445
1   UC_MD             2.403046
2  UP3_MD             2.072705
3  UP4_MD             1.558501
4  UM1_MD             1.937710

##### Garn Option 2: Calculations
Used this option for dissertation

In [ ]:
# Option 1: no NAs
# this option uses mean function from numpy

column_names = ['Trait Code', '% Sexual Dimorphism']       # since NaNs were replace with zeros, n=45 for every variable
Garnoutput = pd.DataFrame(columns = column_names)
column1 = list(females.columns)
column2 = list(males.columns)
#print(column1)

for i in range(len(column1)):                         # previously: range(7, len(column1)) - to start the loop at column #7
        ob1 = females[column1[i]]
        ob2 = males[column2[i]]
        y1 = np.mean(ob1)
        y2 = np.mean(ob2)
        Garn = (((y2/y1) - 1) * 100)
        print(column1[i], '\t', round(Garn, 5))
        #df2 = {'Trait': column1[i], '% Sexual Dimorphism': round(Garn,5)}
        Garnoutput.loc[i] = [column1[i],  round(Garn,5)]
        #Garnoutput.reset_index(drop=True)
        #Garnoutput.to_excel('sexdimorph_odont_garn_df.xlsx')

GOL 	 3.68895
NOL 	 2.89055
BNL 	 5.08591
BBH 	 5.70832
XCB 	 2.33478
XFB 	 2.34269
WFB 	 1.87845
ZYB 	 2.04082
ASB 	 2.46914
BPL 	 5.50383
NPH 	 0.46068
NLH 	 2.2508
JUB 	 2.08333
NLB 	 4.33628
MAB 	 6.11307
MAL 	 5.54371
MDH 	 5.29412
OBH 	 -1.30841
OBB 	 0.54945
DKB 	 4.73988
NDS 	 15.86207
WNB 	 -2.44784
SIS 	 17.4942
ZMB 	 0.17271
SSS 	 7.83019
FMB 	 1.75723
NAS 	 5.80153
EKB 	 1.8412
DKS 	 -0.51813
IML 	 -0.16807
XML 	 -1.76166
MLS 	 0.95238
WMH 	 1.42857
GLS 	 22.0
STB 	 0.23739
FRC 	 2.99546
FRS 	 2.78373
PAC 	 7.03549
PAS 	 16.07053
OCC 	 1.6118
OCS 	 2.99213
FOL 	 4.78331
FOB 	 5.0
NAR 	 4.14679
SSR 	 5.54745
PRR 	 5.4382
DKR 	 2.76334
ZOR 	 3.12367
FMR 	 3.01805
EKR 	 3.32298
ZMR 	 4.38157
AVR 	 5.64841
BRR 	 4.31594
VRR 	 4.42916
LAR 	 0.9221
OSR 	 7.14286
MOW 	 4.78873
UFBR 	 1.65854
UFHT 	 0.553
NAA 	 2.2408
PRA 	 0.9434
BAA 	 -5.02591
NBA 	 2.00837
BBA 	 -3.1943
BRA 	 0.04854
SSA 	 -2.65625
NFA 	 -0.78238
DKA 	 0.37175
NDA 	 -6.09272
FRA 	 0.29235
PAA 	 -2.88533
OCA 	 -1.27146

In [ ]:
Garnoutput.head()

  Trait Code  % Sexual Dimorphism
0        GOL              3.68895
1        NOL              2.89055
2        BNL              5.08591
3        BBH              5.70832
4        XCB              2.33478

In [ ]:
females.head()

In [ ]:
# Option 1: with NAs
# this option uses mean function from numpy

column_names = ['Trait Code', '% Sexual Dimorphism']       # since NaNs were replace with zeros, n=45 for every variable
Garnoutput2 = pd.DataFrame(columns = column_names)
column1 = list(females.columns)
column2 = list(males.columns)
#print(column1)

for i in range(len(column1)):                         # previously: range(7, len(column1)) - to start the loop at column #7
        ob1 = females[column1[i]]
        ob2 = males[column2[i]]
        y1 = np.mean(ob1)
        y2 = np.mean(ob2)
        Garn = (((y2/y1) - 1) * 100)
        print(column1[i], '\t', round(Garn, 5))
        #df2 = {'Trait': column1[i], '% Sexual Dimorphism': round(Garn,5)}
        Garnoutput2.loc[i] = [column1[i],  round(Garn,5)]
        #Garnoutput2.reset_index(drop=True)
        #Garnoutput2.to_excel('sexdimorph_odont_garn_df.xlsx')

GOL 	 4.54152
NOL 	 3.71277
BNL 	 6.18038
BBH 	 5.12362
XCB 	 2.7687
XFB 	 2.84427
WFB 	 1.76994
ZYB 	 3.96251
ASB 	 2.20881
BPL 	 4.97629
NPH 	 4.02381
NLH 	 4.73805
JUB 	 3.08907
NLB 	 2.18073
MAB 	 4.97156
MAL 	 3.80803
MDH 	 5.86023
OBH 	 -0.26356
OBB 	 2.84091
DKB 	 2.10487
NDS 	 12.65918
WNB 	 -3.82408
SIS 	 21.22045
ZMB 	 1.40382
SSS 	 10.66324
FMB 	 2.94052
NAS 	 10.48243
EKB 	 2.54021
DKS 	 7.60732
IML 	 4.16506
XML 	 3.81145
MLS 	 6.98132
WMH 	 5.14228
GLS 	 52.17391
STB 	 0.5283
FRC 	 3.40078
FRS 	 -1.51515
PAC 	 3.65204
PAS 	 5.5714
OCC 	 3.12823
OCS 	 5.70525
FOL 	 4.09451
FOB 	 5.04677
NAR 	 5.19953
SSR 	 6.17347
PRR 	 5.48172
DKR 	 4.86436
ZOR 	 4.27144
FMR 	 4.03219
EKR 	 4.39899
ZMR 	 4.09052
AVR 	 4.16904
BRR 	 3.57258
VRR 	 3.3532
LAR 	 1.85277
OSR 	 6.18899
MOW 	 1.59363
UFBR 	 2.37801
UFHT 	 3.05467
NAA 	 -0.77414
PRA 	 2.06905
BAA 	 -1.70336
NBA 	 0.47996
BBA 	 -2.13346
BRA 	 1.5696
SSA 	 -3.20944
NFA 	 -1.5319
DKA 	 -0.7952
NDA 	 -5.65918
FRA 	 1.79002
PAA 	 -0.69138
OCA 	 -2.21518

In [ ]:
Garnoutput2.head()

  Trait Code  % Sexual Dimorphism
0        GOL              4.54152
1        NOL              3.71277
2        BNL              6.18038
3        BBH              5.12362
4        XCB              2.76870

##### Output file: Garn %SD

In [ ]:
# this option was calculated without NAs in the dfs
Garnoutput.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_SD_Garn_results.xlsx', index=True)

In [ ]:
# this option was calculated with NAs in the dfs
Garnoutput2.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_SD_Garn_withNAs_results.xlsx', index=True)

### Merge SD results

In [ ]:
# this option was calculated with NAs in the dfs
SD_results = pd.merge(my_ind_t_test_df2, Garnoutput2, on='Trait Code')

In [ ]:
# with NAs in the dfs
SD_results.head()

  Trait Code  t-statistic   p-value  % Sexual Dimorphism
0        GOL    -1.760052  0.093248              4.54152
1        NOL    -1.446018  0.163343              3.71277
2        BNL    -2.706210  0.011714              6.18038
3        BBH    -3.857940  0.000617              5.12362
4        XCB    -1.437172  0.160690              2.76870

In [ ]:
# no NAs int he dfs
SD_results.head()

  Trait Code  t-statistic   p-value  % Sexual Dimorphism
0        GOL    -1.853610  0.073333              3.68895
1        NOL    -1.524240  0.137587              2.89055
2        BNL    -2.762421  0.009561              5.08591
3        BBH    -3.911610  0.000467              5.70832
4        XCB    -1.414682  0.167128              2.33478

In [ ]:
SD_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 0 to 71
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Trait Code           72 non-null     object
 1   t-statistic          72 non-null     float64
 2   p-value              72 non-null     float64
 3   % Sexual Dimorphism  72 non-null     float64
dtypes: float64(3), object(1)
memory usage: 2.8+ KB

##### Output file: SD merged results

In [ ]:
SD_results.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_SD_merged_results.xlsx', index=False)

---

# **Intertrait correlations**

### Pearson from d-tale

In [ ]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

corr_cols = [
	'GOL', 'NOL', 'BNL', 'BBH', 'XCB', 'XFB',
	'WFB', 'ZYB', 'ASB', 'BPL', 'NPH', 'NLH', 'JUB', 'NLB',
	'MAB', 'MAL', 'MDH', 'OBH', 'OBB', 'DKB', 'NDS', 'WNB',
	'SIS', 'ZMB', 'SSS', 'FMB', 'NAS', 'EKB', 'DKS', 'IML',
	'XML', 'MLS', 'WMH', 'GLS', 'STB', 'FRC', 'FRS', 'PAC',
	'PAS', 'OCC', 'OCS', 'FOL', 'FOB', 'NAR', 'SSR', 'PRR',
	'DKR', 'ZOR', 'FMR', 'EKR', 'ZMR', 'AVR', 'BRR', 'VRR',
	'LAR', 'OSR', 'MOW', 'UFBR', 'UFHT', 'NAA', 'PRA', 'BAA',
	'NBA', 'BBA', 'BRA', 'SSA', 'NFA', 'DKA', 'NDA', 'FRA',
	'PAA', 'OCA'
]
corr_data = df[corr_cols]
corr_data = corr_data.corr(method='pearson')
corr_data.index.name = str('column')
corr_data = corr_data.reset_index()

In [ ]:
corr_data

   column       GOL       NOL       BNL       BBH       XCB       XFB       WFB       ZYB       ASB       BPL       NPH       NLH       JUB       NLB       MAB       MAL       MDH       OBH       OBB       DKB       NDS       WNB       SIS       ZMB       SSS       FMB       NAS       EKB       DKS       IML       XML       MLS       WMH       GLS       STB       FRC       FRS       PAC       PAS       OCC       OCS       FOL       FOB       NAR       SSR       PRR       DKR       ZOR       FMR       EKR       ZMR       AVR       BRR       VRR       LAR       OSR       MOW      UFBR      UFHT       NAA       PRA       BAA       NBA       BBA       BRA       SSA       NFA       DKA       NDA       FRA       PAA       OCA
0     GOL  1.000000  0.984285  0.700697  0.593062  0.249895  0.396694  0.432967  0.306977  0.498128  0.467952  0.485925  0.506645  0.349837 -0.003697  0.164227  0.431393  0.296468  0.139044  0.555884 -0.038865  0.420698  0.103081  0.356146  0.097689  0.106754  0.524475  0.485025  0.503283  0.342914  0.551826  0.360696  0.312073  0.350670  0.477482  0.199664  0.630315  0.281400  0.679334  0.301033  0.487271  0.677600  0.433175  0.305711  0.713739  0.607440  0.540718  0.648875  0.632467  0.613806  0.542940  0.613493  0.401640  0.557407  0.621154  0.707860  0.336162  0.132540  0.494694  0.487771 -0.171307  0.171604  0.009286 -0.265871  0.089417  0.252432 -0.068396 -0.377829 -0.224191 -0.354599  0.048400  0.030088 -0.526440
1     NOL  0.984285  1.000000  0.681490  0.566328  0.205609  0.371278  0.432786  0.245574  0.461642  0.445579  0.502573  0.525993  0.317252 -0.026028  0.152215  0.442613  0.243141  0.150364  0.567561 -0.060166  0.409637  0.159550  0.366761  0.065856  0.131759  0.505212  0.538829  0.487074  0.388368  0.553632  0.340733  0.280934  0.334075  0.364620  0.207252  0.636380  0.286405  0.673301  0.295227  0.493037  0.649874  0.415755  0.307925  0.712517  0.602586  0.538679  0.650101  0.621218  0.578737  0.518618  0.592722  0.367353  0.530691  0.601507  0.720108  0.294284  0.135556  0.473497  0.504774 -0.184583  0.160347  0.044872 -0.302339  0.123217  0.254327 -0.103084 -0.443341 -0.274366 -0.357145  0.045339  0.036588 -0.486821
2     BNL  0.700697  0.681490  1.000000  0.743926  0.307624  0.381950  0.456472  0.478380  0.435113  0.700172  0.427766  0.497167  0.485750  0.199670  0.342147  0.501655  0.244691  0.057322  0.554112  0.166277  0.554011  0.238807  0.552508  0.319869  0.230195  0.592132  0.587208  0.627707  0.317276  0.554870  0.474720  0.378713  0.333380  0.415151  0.159351  0.493879  0.094608  0.378520  0.153831  0.497035  0.389860  0.338127  0.295932  0.834295  0.731348  0.681235  0.760926  0.741391  0.688925  0.642345  0.660836  0.416570  0.545379  0.524227  0.475938  0.453246  0.231207  0.550708  0.493088 -0.207389  0.418407 -0.323572 -0.127583 -0.292036  0.564195 -0.095690 -0.470435 -0.188496 -0.366878  0.209380  0.023165 -0.217047
3     BBH  0.593062  0.566328  0.743926  1.000000  0.402969  0.466675  0.346136  0.425686  0.422119  0.405677  0.323332  0.404070  0.428272  0.167486  0.300537  0.407264  0.386011  0.060787  0.478461  0.098266  0.412522  0.166047  0.357211  0.317647  0.135064  0.509516  0.342101  0.531000  0.216774  0.364500  0.359820  0.338863  0.283953  0.384904  0.340401  0.674586  0.308580  0.469094  0.352551  0.544257  0.258736  0.233971  0.265779  0.633152  0.535488  0.517361  0.608676  0.587913  0.575401  0.512982  0.530025  0.449393  0.801906  0.751914  0.439598  0.307354  0.132233  0.451403  0.411382 -0.271204  0.384575 -0.206200  0.321288 -0.280887 -0.104460 -0.015074 -0.229838 -0.098237 -0.298274  0.059077 -0.182794 -0.062867
4     XCB  0.249895  0.205609  0.307624  0.402969  1.000000  0.750305  0.389750  0.560388  0.655781  0.092303  0.199933  0.244762  0.459646  0.316441  0.238572  0.256190  0.454332  0.074005  0.438265  0.109394  0.002570  0.068107  0.108980  0.250921 -0.180104  0.494620  0.115234  0.483246  0.272646  0.422412  0.388315  0.127730  0.266401  0.482465  0.634319  0.403732  0.031695  0.203420  0.412090  0.281924  0.164593  0.108156  0.268759  0.366473  0.165633  0.075767  0.441560  0.353802  0.337433  0.324572  0.352495  0.349012  0.557705  0.609318  0.256584  0.102276  0.149390  0.467818  0.141784 -0.221496  0.199352  0.014065 -0.030534  0.068467 -0.086128  0.268110  0.017461 -0.181717  0.063176  0.218860 -0.427937 -0.086306
5     XFB  0.396694  0.371278  0.381950  0.466675  0.750305  1.000000  0.572299  0.499606  0.601492  0.171565  0.230763  0.237958  0.480867  0.187315  0.224583  0.360011  0.338247  0.129633  0.466721  0.172472  0.155219  0.073975  0.118047  0.238150 -0.100285  0.613649  0.171857  0.578095  0.219288  0.415662  0.296368  0.122314  0.188956  0.437446  0.725460  0.507691  0.108745  0.351953  0.438981  0.322407  0.210435  0.210956  0.159242  0.444295  0.269607  0.189913  0.476995  0.396574  0.473165  0.423590  0.443743  0.433229  0.590282  0.640255  0.389682  0.161606  0.281953  0.569026  0.184014 -0.194581  0.196019 -0.029377 -0.088280  0.097357 -0.034954  0.180063 -0.010937 -0.106329 -0.044243  0.186423 -0.371127 -0.090342
6     WFB  0.432967  0.432786  0.456472  0.346136  0.389750  0.572299  1.000000  0.396462  0.473495  0.354381  0.137432  0.077145  0.535218  0.138228  0.302181  0.440727  0.137697  0.038289  0.461019  0.319335  0.275594  0.296897  0.365935  0.328534 -0.203998  0.663277  0.375278  0.620966  0.176329  0.521697  0.442669  0.351324  0.225454  0.248166  0.589373  0.446618  0.349016  0.331653  0.213321  0.205548  0.236484  0.084311  0.000702  0.434564  0.296274  0.288402  0.416542  0.482316  0.333434  0.362473  0.483005  0.369632  0.400933  0.407580  0.378845  0.159243  0.270748  0.692184  0.116341 -0.003448  0.163319 -0.222802 -0.283107  0.134126  0.172533  0.311702 -0.220510 -0.063044 -0.055834 -0.143064 -0.071856 -0.164124
7     ZYB  0.306977  0.245574  0.478380  0.425686  0.560388  0.499606  0.396462  1.000000  0.546561  0.306632  0.391716  0.448599  0.874050  0.425769  0.608366  0.270822  0.512950  0.076576  0.486143  0.276277  0.222051  0.146719  0.184292  0.705765 -0.023825  0.689770  0.091804  0.678159 -0.017883  0.539947  0.649749  0.486421  0.465487  0.606469  0.206502  0.404754  0.005121  0.089944  0.154794  0.203828  0.168877  0.227815  0.337663  0.387369  0.369031  0.299794  0.409856  0.441078  0.480611  0.490759  0.470027  0.388720  0.346987  0.362572  0.151631  0.330989  0.269003  0.725247  0.328802 -0.195412  0.152964  0.056498 -0.124043  0.015915  0.123433  0.297217  0.101448  0.167769 -0.015138  0.258892 -0.163385 -0.185190
8     ASB  0.498128  0.461642  0.435113  0.422119  0.655781  0.601492  0.473495  0.546561  1.000000  0.166894  0.304369  0.310445  0.466974  0.292438  0.096442  0.229493  0.482042  0.188104  0.556299  0.054851  0.239931  0.163627  0.343519  0.150251 -0.324963  0.563429  0.314488  0.581500  0.415044  0.576893  0.355571  0.233406  0.266252  0.489189  0.502538  0.483378 -0.015454  0.316660  0.416105  0.383365  0.432589  0.282563  0.291345  0.490085  0.231976  0.157807  0.494078  0.388597  0.450282  0.383770  0.564345  0.356615  0.555171  0.656684  0.441358  0.249041  0.169769  0.526060  0.278568 -0.241163  0.192670  0.059359 -0.169944  0.118549  0.103045  0.362853 -0.171613 -0.304504 -0.162750  0.323748 -0.345249 -0.324545
9     BPL  0.467952  0.445579  0.700172  0.405677  0.092303  0.171565  0.354381  0.306632  0.166894  1.000000  0.437585  0.291606  0.403261  0.191376  0.482175  0.748669  0.042964  0.019772  0.272511  0.206452  0.458680  0.187864  0.440338  0.315853  0.381456  0.429909  0.353843  0.414531  0.044770  0.450901  0.341343  0.418111  0.330495  0.287384  0.030697  0.338602  0.143882  0.208550 -0.004125  0.284923  0.292644  0.243129  0.295733  0.547401  0.811434  0.897083  0.498042  0.654251  0.501853  0.571474  0.619260  0.702983  0.310998  0.259041  0.291378  0.397705  0.313002  0.433605  0.470521  0.531314 -0.288211 -0.264996 -0.242428 -0.106806  0.460180 -0.238663 -0.250277  0.056972 -0.248928  0.050832  0.113429 -0.227254
10    NPH  0.485925  0.502573  0.427766  0.323332  0.199933  0.230763  0.137432  0.391716  0.304369  0.437585  1.000000  0.832831  0.343837  0.005980  0.351948  0.452244  0.352716  0.446806  0.474757 -0.040859  0.214843  0.140671  0.309651  0.324258  0.410330  0.420046  0.339859  0.402100  0.276170  0.325977  0.332043  0.319405  0.347759  0.257280  0.071563  0.432037  0.067920  0.198798  0.123003  0.234882  0.301623  0.422089  0.425363  0.415194  0.500855  0.560844  0.393937  0.343492  0.302970  0.314273  0.282352  0.314951  0.228712  0.305839  0.380695  0.292405  0.173190  0.372155  0.968399 -0.155036 -0.316126  0.678305 -0.276603  0.164374  0.156441 -0.256252 -0.253710 -0.169220 -0.185517  0.195315 -0.038462 -0.296277
11    NLH  0.506645  0.525993  0.497167  0.404070  0.244762  0.237958  0.077145  0.448599  0.310445  0.291606  0.832831  1.000000  0.320903  0.103407  0.365032  0.356526  0.446609  0.398219  0.504921 -0.130681  0.245168  0.038690  0.263357  0.225947  0.388576  0.370260  0.329135  0.375248  0.296240  0.346818  0.340594  0.271153  0.324347  0.241349  0.032782  0.422746  0.047944  0.199797  0.089457  0.352317  0.364854  0.493212  0.500866  0.470671  0.484388  0.436402  0.425276  0.341916  0.368758  0.330460  0.296240  0.176271  0.270809  0.344231  0.424639  0.337836  0.075377  0.344840  0.804661 -0.346033 -0.015586  0.522128 -0.179342  0.054253  0.176751 -0.273774 -0.258398 -0.185884 -0.271353  0.216592  0.010354 -0.300620
12    JUB  0.349837  0.317252  0.485750  0.428272  0.459646  0.480867  0.535218  0.874050  0.466974  0.403261  0.343837  0.320903  1.000000  0.481537  0.624595  0.347285  0.415539 -0.049472  0.515984  0.444927  0.204693  0.366858  0.232932  0.762373 -0.064639  0.782516  0.153842  0.786923  0.003681  0.594687  0.614173  0.544392  0.435502  0.493729  0.203923  0.432828  0.098841  0.123421  0.146339  0.230418  0.215574  0.149695  0.175684  0.406120  0.401916  0.398885  0.438730  0.481735  0.473424  0.507612  0.515507  0.385028  0.352587  0.354253  0.195528  0.245440  0.417902  0.856091  0.323718 -0.064369  0.092357 -0.043311 -0.149066  0.028766  0.122756  0.356812  0.056422  0.153215  0.082699  0.158152 -0.122089 -0.196893
13    NLB -0.003697 -0.026028  0.199670  0.167486  0.316441  0.187315  0.138228  0.425769  0.292438  0.191376  0.005980  0.103407  0.481537  1.000000  0.374171  0.038389  0.208758 -0.103857  0.195202  0.393156  0.024675  0.245898  0.093427  0.413536 -0.221235  0.355018 -0.033694  0.413579  0.043722  0.284876  0.203643  0.225157  0.166391  0.210140  0.072514  0.109400 -0.175155  0.056618  0.309171 -0.033239 -0.047292 -0.055033  0.033415  0.064481  0.079611  0.099865  0.114329  0.141723  0.146095  0.136367  0.263524  0.202187  0.084799  0.170609 -0.094575  0.182147  0.352995  0.460994 -0.006593  0.081407  0.047567 -0.150726  0.000677 -0.059765  0.084091  0.363225  0.129736 -0.001634  0.188113  0.299751 -0.389513  0.067836
14    MAB  0.164227  0.152215  0.342147  0.300537  0.238572  0.224583  0.302181  0.608366  0.096442  0.482175  0.351948  0.365032  0.624595  0.374171  1.000000  0.522058  0.275694 -0.128121  0.319514  0.229223  0.096883  0.063575  0.174159  0.658920  0.200546  0.427694  0.026249  0.438425 -0.043669  0.200784  0.376893  0.393667  0.362157  0.317140  0.060582  0.291920  0.170464  0.056270  0.040261  0.066965  0.106836  0.125632  0.334314  0.132903  0.333830  0.421723  0.166470  0.250455  0.222955  0.236514  0.165572  0.357684  0.118180  0.078907  0.044580  0.386228  0.292300  0.439036  0.224464  0.115162 -0.107498  0.011955 -0.068154  0.012010  0.072975  0.087559  0.109784  0.158747  0.080614  0.022266 -0.050093 -0.167722
15    MAL  0.431393  0.442613  0.501655  0.407264  0.256190  0.360011  0.440727  0.270822  0.229493  0.748669  0.452244  0.356526  0.347285  0.038389  0.522058  1.000000  0.124406  0.083797  0.375872  0.126435  0.339188  0.192846  0.356828  0.262325  0.329760  0.435436  0.373094  0.433043  0.180987  0.371476  0.304545  0.311272  0.280840  0.153051  0.293950  0.473433  0.381832  0.238983  0.104261  0.261195  0.232660  0.345285  0.360789  0.517780  0.708931  0.813514  0.474990  0.596165  0.447315  0.458751  0.545846  0.588739  0.358641  0.271144  0.249802  0.261558  0.241687  0.412154  0.414408  0.318024 -0.226628 -0.084265 -0.217349  0.106082  0.157733 -0.196231 -0.280134 -0.068302 -0.196134 -0.147663 -0.002664 -0.155964
16    MDH  0.296468  0.243141  0.244691  0.386011  0.454332  0.338247  0.137697  0.512950  0.482042  0.042964  0.352716  0.446609  0.415539  0.208758  0.275694  0.124406  1.000000  0.176498  0.352274  0.043610  0.073823 -0.116880  0.075479  0.219418  0.015897  0.396018  0.042531  0.347165  0.141107  0.336104  0.373439  0.345668  0.156775  0.455512  0.208318  0.312227 -0.070652  0.170107  0.238732  0.342632  0.316349  0.459754  0.270845  0.184682  0.210827  0.126815  0.207118  0.187110  0.218577  0.160129  0.228078  0.245003  0.301488  0.409983  0.375061  0.364075 -0.068279  0.321227  0.301379 -0.213346  0.012342  0.281748  0.096685  0.003277 -0.130665  0.065417  0.068355 -0.057611 -0.040119  0.268462 -0.206480 -0.290270
17    OBH  0.139044  0.150364  0.057322  0.060787  0.074005  0.129633  0.038289  0.076576  0.188104  0.019772  0.446806  0.398219 -0.049472 -0.103857 -0.128121  0.083797  0.176498  1.000000  0.426090 -0.332546  0.061465 -0.134220 -0.011093 -0.149816  0.056371  0.208777  0.172281  0.222970  0.351184  0.093286 -0.150813 -0.214829 -0.098736  0.043473  0.132439  0.198665  0.031704  0.076076  0.088686  0.078604  0.065805  0.236391  0.043941  0.112654  0.048160  0.092915  0.112034 -0.085783  0.058400 -0.116466  0.032652  0.026788  0.101020  0.153117  0.197789  0.089016  0.145258  0.085314  0.397806 -0.240432 -0.021452  0.371880 -0.161567  0.199141 -0.040490 -0.122894 -0.136759 -0.276773 -0.237156  0.062790 -0.055862 -0.034222
18    OBB  0.555884  0.567561  0.554112  0.478461  0.438265  0.466721  0.461019  0.486143  0.556299  0.272511  0.474757  0.504921  0.515984  0.195202  0.319514  0.375872  0.352274  0.426090  1.000000 -0.205925  0.275249  0.108284  0.319375  0.313332 -0.046226  0.800065  0.555990  0.824418  0.599821  0.560989  0.370263  0.162061  0.274751  0.404628  0.385668  0.553557  0.086638  0.312702  0.281304  0.336649  0.316953  0.331226  0.154827  0.595265  0.419169  0.358060  0.617176  0.495673  0.438542  0.333128  0.539745  0.263547  0.469826  0.503732  0.384520  0.197542  0.331955  0.672318  0.417541 -0.374170  0.282239  0.107592 -0.249345  0.136758  0.149837  0.159978 -0.380019 -0.397342 -0.320012  0.238572 -0.171269 -0.205010
19    DKB -0.038865 -0.060166  0.166277  0.098266  0.109394  0.172472  0.319335  0.276277  0.054851  0.206452 -0.040859 -0.130681  0.444927  0.393156  0.229223  0.126435  0.043610 -0.332546 -0.205925  1.000000  0.027498  0.471958  0.070709  0.409399 -0.000210  0.273209  0.021345  0.294060 -0.166887  0.121867  0.143794  0.249945  0.070061  0.016864  0.036382 -0.055705  0.050382  0.073323  0.114490 -0.102734 -0.080225 -0.122468 -0.187927  0.090684  0.114776  0.180803  0.068212  0.142026  0.143046  0.176926  0.107569  0.136396  0.029583 -0.033441 -0.146586  0.033048  0.412780  0.329012  0.069477  0.142461  0.022915 -0.218054  0.094419 -0.219686  0.135710  0.167082  0.050105  0.137331  0.493128 -0.087357 -0.128314  0.064225
20    NDS  0.420698  0.409637  0.554011  0.412522  0.002570  0.155219  0.275594  0.222051  0.239931  0.458680  0.214843  0.245168  0.204693  0.024675  0.096883  0.339188  0.073823  0.061465  0.275249  0.027498  1.000000  0.123835  0.570565  0.135527  0.208974  0.357471  0.503540  0.309946 -0.006596  0.207829  0.234456  0.210862  0.251939  0.158762  0.186511  0.318830  0.116811  0.317179  0.151927  0.196735  0.235300  0.252819  0.216859  0.497812  0.463219  0.422947  0.231793  0.426080  0.335159  0.334591  0.419349  0.354502  0.380054  0.364128  0.262387  0.282732  0.026264  0.338910  0.182316  0.004609  0.188892 -0.260623 -0.105791 -0.103640  0.288520 -0.160986 -0.458256  0.093581 -0.848892  0.053684  0.009557 -0.189280
21    WNB  0.103081  0.159550  0.238807  0.166047  0.068107  0.073975  0.296897  0.146719  0.163627  0.187864  0.140671  0.038690  0.366858  0.245898  0.063575  0.192846 -0.116880 -0.134220  0.108284  0.471958  0.123835  1.000000  0.477254  0.313171 -0.056860  0.269842  0.281687  0.330905  0.089057  0.260909  0.198518  0.264106  0.273441 -0.168078  0.176761  0.156390  0.031244  0.060711  0.036156  0.022053  0.046338 -0.200376 -0.110159  0.222445  0.129725  0.213491  0.193087  0.179902  0.128630  0.145047  0.205665 -0.029846  0.116609  0.079998 -0.001425 -0.128134  0.196245  0.336690  0.290840 -0.110903  0.146763 -0.058487 -0.066392 -0.034054  0.124579  0.163634 -0.239447 -0.077026  0.142385  0.067457  0.002647 -0.008536
22    SIS  0.356146  0.366761  0.552508  0.357211  0.108980  0.118047  0.365935  0.184292  0.343519  0.440338  0.309651  0.263357  0.232932  0.093427  0.174159  0.356828  0.075479 -0.011093  0.319375  0.070709  0.570565  0.477254  1.000000  0.144314  0.122466  0.341006  0.573167  0.317300  0.268220  0.363802  0.365900  0.314760  0.408368  0.118755  0.293649  0.281093 -0.010392  0.191453  0.047510  0.244455  0.355676  0.162029  0.134264  0.468211  0.391723  0.400443  0.375811  0.411704  0.229928  0.282506  0.360749  0.231982  0.305168  0.283048  0.278370  0.233611 -0.061953  0.309217  0.378576 -0.077188  0.175712 -0.138247 -0.146987 -0.104176  0.360241 -0.079642 -0.546500 -0.214653 -0.445673  0.189980  0.077150 -0.318526
23    ZMB  0.097689  0.065856  0.319869  0.317647  0.250921  0.238150  0.328534  0.705765  0.150251  0.315853  0.324258  0.225947  0.762373  0.413536  0.658920  0.262325  0.219418 -0.149816  0.313332  0.409399  0.135527  0.313171  0.144314  1.000000  0.011389  0.553246 -0.021226  0.601662 -0.194985  0.258605  0.523737  0.501783  0.540387  0.326625  0.101114  0.252653  0.074928  0.003614  0.041480  0.062337  0.007434 -0.065736  0.032600  0.179881  0.267410  0.304719  0.222423  0.374920  0.299569  0.371472  0.315346  0.351537  0.180412  0.151218 -0.012382  0.143633  0.386229  0.647660  0.277632  0.006973 -0.045258  0.068846  0.013446 -0.063797  0.034018  0.376252  0.188928  0.318857  0.126898  0.079682 -0.063058 -0.016453
24    SSS  0.106754  0.131759  0.230195  0.135064 -0.180104 -0.100285 -0.203998 -0.023825 -0.324963  0.381456  0.410330  0.388576 -0.064639 -0.221235  0.200546  0.329760  0.015897  0.056371 -0.046226 -0.000210  0.208974 -0.056860  0.122466  0.011389  1.000000 -0.039037  0.250452 -0.071722  0.059321 -0.193636 -0.039278  0.114307 -0.076276 -0.071167 -0.240979 -0.021690 -0.071862  0.036710 -0.110477  0.035889 -0.035285  0.339432  0.261407  0.150478  0.543073  0.493768  0.046215  0.047997 -0.004690  0.000742 -0.158535  0.162431 -0.078921 -0.113174 -0.007820  0.246421  0.001049 -0.112099  0.406865  0.152934 -0.235429  0.150179  0.058916 -0.206846  0.165112 -0.919330 -0.287354 -0.068224 -0.180077  0.075690  0.153617  0.042709
25    FMB  0.524475  0.505212  0.592132  0.509516  0.494620  0.613649  0.663277  0.689770  0.563429  0.429909  0.420046  0.370260  0.782516  0.355018  0.427694  0.435436  0.396018  0.208777  0.800065  0.273209  0.357471  0.269842  0.341006  0.553246 -0.039037  1.000000  0.470053  0.946923  0.296142  0.629829  0.455856  0.372772  0.351909  0.462236  0.452236  0.511924  0.070106  0.340388  0.351707  0.286781  0.262659  0.303033  0.144152  0.572317  0.481931  0.452161  0.562743  0.547512  0.473597  0.436321  0.609991  0.403669  0.477629  0.520220  0.351585  0.299287  0.512652  0.911325  0.378684 -0.150455  0.174963 -0.045912 -0.200048  0.043446  0.187289  0.253164 -0.229775 -0.101627 -0.145560  0.228777 -0.260075 -0.188900

In [ ]:
corr_data.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_pearsons_correlation.xlsx', index=False)

### Pearson from scipy.stats (don't need)

In [ ]:
from scipy.stats import pearsonr

In [ ]:
cranmet_VarsOnly.head()

In [ ]:
df2 = pd.DataFrame(cranmet_VarsOnly)

In [ ]:
df2 = df2.dropna()

In [ ]:
df2.head()

In [ ]:
corr, _ = pearsonr(df2['GOL'], df2['NOL'])
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.989

---

# Missing data
Using the df_cranmet (aka cranmet_no_univariate_outliers.xlsx) dataframe, which has had the univariate outliers removed, but the multivariate outliers are still included

In [ ]:
df_cranmet = pd.read_excel('cranmet_no_univariate_outliers.xlsx')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [ ]:
cranmet_VarsOnly = pd.DataFrame(df_cranmet.iloc[:, 2:74])

In [ ]:
cranmet_VarsOnly.head()

In [ ]:
percent_missing = cranmet_VarsOnly.isnull().sum().sum()*100 / (len(cranmet_VarsOnly) * len(cranmet_VarsOnly.columns))
percent_missing

4.319105691056911

The craniometrics dataset has 4.32% missing data.

In [ ]:
cranmet_VarsOnly.isnull().values.any()

True

In [ ]:
cranmet_VarsOnly.isnull().sum().sum()

255

### Mean imputation

In [ ]:
cranmet_no_univariate_outliers.head()

In [ ]:
#cranmet_no_univariate_outliers['AVR'].describe()

count    67.000000
mean     79.014925
std       4.311691
min      68.000000
25%      76.000000
50%      79.000000
75%      82.000000
max      90.000000
Name: AVR, dtype: float64

In [ ]:
cranmet_no_UV_outliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   GOL          78 non-null     float64
 3   NOL          78 non-null     float64
 4   BNL          81 non-null     float64
 5   BBH          80 non-null     float64
 6   XCB          82 non-null     int64
 7   XFB          81 non-null     float64
 8   WFB          82 non-null     int64
 9   ZYB          82 non-null     int64
 10  ASB          73 non-null     float64
 11  BPL          75 non-null     float64
 12  NPH          74 non-null     float64
 13  NLH          81 non-null     float64
 14  JUB          82 non-null     int64
 15  NLB          79 non-null     float64
 16  MAB          60 non-null     float64
 17  MAL          74 non-null     float64
 18  MDH          82 non-null     int64
 19  OBH          81 non-null     float64
 20  OBB          79 non-null     float64
 21  DKB          79 non-null     float64
 22  NDS          72 non-null     float64
 23  WNB          80 non-null     float64
 24  SIS          73 non-null     float64
 25  ZMB          80 non-null     float64
 26  SSS          79 non-null     float64
 27  FMB          82 non-null     int64
 28  NAS          81 non-null     float64
 29  EKB          81 non-null     float64
 30  DKS          79 non-null     float64
 31  IML          81 non-null     float64
 32  XML          81 non-null     float64
 33  MLS          79 non-null     float64
 34  WMH          82 non-null     int64
 35  GLS          81 non-null     float64
 36  STB          81 non-null     float64
 37  FRC          79 non-null     float64
 38  FRS          79 non-null     float64
 39  PAC          79 non-null     float64
 40  PAS          79 non-null     float64
 41  OCC          79 non-null     float64
 42  OCS          79 non-null     float64
 43  FOL          82 non-null     int64
 44  FOB          82 non-null     int64
 45  NAR          81 non-null     float64
 46  SSR          81 non-null     float64
 47  PRR          75 non-null     float64
 48  DKR          79 non-null     float64
 49  ZOR          81 non-null     float64
 50  FMR          82 non-null     int64
 51  EKR          82 non-null     int64
 52  ZMR          81 non-null     float64
 53  AVR          67 non-null     float64
 54  BRR          80 non-null     float64
 55  VRR          79 non-null     float64
 56  LAR          79 non-null     float64
 57  OSR          82 non-null     int64
 58  MOW          74 non-null     float64
 59  UFBR         82 non-null     int64
 60  UFHT         61 non-null     float64
 61  NAA          75 non-null     float64
 62  PRA          75 non-null     float64
 63  BAA          75 non-null     float64
 64  NBA          79 non-null     float64
 65  BBA          79 non-null     float64
 66  BRA          79 non-null     float64
 67  SSA          79 non-null     float64
 68  NFA          81 non-null     float64
 69  DKA          79 non-null     float64
 70  NDA          72 non-null     float64
 71  FRA          79 non-null     float64
 72  PAA          79 non-null     float64
 73  OCA          79 non-null     float64
 74  Sex          82 non-null     object
 75  Age          82 non-null     int64
 76  Population   82 non-null     object
 77  Population2  10 non-null     object
 78  Population3  5 non-null      object
 79  Population4  1 non-null      object
dtypes: float64(59), int64(15), object(6)
memory usage: 51.4+ KB

In [ ]:
cranmet_no_UV_outliers = pd.DataFrame(cranmet_no_univariate_outliers.iloc[:,2:74])

In [ ]:
cranmet_no_UV_outliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     78 non-null     float64
 1   NOL     78 non-null     float64
 2   BNL     81 non-null     float64
 3   BBH     80 non-null     float64
 4   XCB     82 non-null     int64
 5   XFB     81 non-null     float64
 6   WFB     82 non-null     int64
 7   ZYB     82 non-null     int64
 8   ASB     73 non-null     float64
 9   BPL     75 non-null     float64
 10  NPH     74 non-null     float64
 11  NLH     81 non-null     float64
 12  JUB     82 non-null     int64
 13  NLB     79 non-null     float64
 14  MAB     60 non-null     float64
 15  MAL     74 non-null     float64
 16  MDH     82 non-null     int64
 17  OBH     81 non-null     float64
 18  OBB     79 non-null     float64
 19  DKB     79 non-null     float64
 20  NDS     72 non-null     float64
 21  WNB     80 non-null     float64
 22  SIS     73 non-null     float64
 23  ZMB     80 non-null     float64
 24  SSS     79 non-null     float64
 25  FMB     82 non-null     int64
 26  NAS     81 non-null     float64
 27  EKB     81 non-null     float64
 28  DKS     79 non-null     float64
 29  IML     81 non-null     float64
 30  XML     81 non-null     float64
 31  MLS     79 non-null     float64
 32  WMH     82 non-null     int64
 33  GLS     81 non-null     float64
 34  STB     81 non-null     float64
 35  FRC     79 non-null     float64
 36  FRS     79 non-null     float64
 37  PAC     79 non-null     float64
 38  PAS     79 non-null     float64
 39  OCC     79 non-null     float64
 40  OCS     79 non-null     float64
 41  FOL     82 non-null     int64
 42  FOB     82 non-null     int64
 43  NAR     81 non-null     float64
 44  SSR     81 non-null     float64
 45  PRR     75 non-null     float64
 46  DKR     79 non-null     float64
 47  ZOR     81 non-null     float64
 48  FMR     82 non-null     int64
 49  EKR     82 non-null     int64
 50  ZMR     81 non-null     float64
 51  AVR     67 non-null     float64
 52  BRR     80 non-null     float64
 53  VRR     79 non-null     float64
 54  LAR     79 non-null     float64
 55  OSR     82 non-null     int64
 56  MOW     74 non-null     float64
 57  UFBR    82 non-null     int64
 58  UFHT    61 non-null     float64
 59  NAA     75 non-null     float64
 60  PRA     75 non-null     float64
 61  BAA     75 non-null     float64
 62  NBA     79 non-null     float64
 63  BBA     79 non-null     float64
 64  BRA     79 non-null     float64
 65  SSA     79 non-null     float64
 66  NFA     81 non-null     float64
 67  DKA     79 non-null     float64
 68  NDA     72 non-null     float64
 69  FRA     79 non-null     float64
 70  PAA     79 non-null     float64
 71  OCA     79 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 46.2 KB

In [ ]:
cranmet_mean_imp = pd.DataFrame(cranmet_no_UV_outliers)

In [ ]:
cranmet_mean_imp.head()

In [ ]:
cranmet_mean_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     78 non-null     float64
 1   NOL     78 non-null     float64
 2   BNL     81 non-null     float64
 3   BBH     80 non-null     float64
 4   XCB     82 non-null     int64
 5   XFB     81 non-null     float64
 6   WFB     82 non-null     int64
 7   ZYB     82 non-null     int64
 8   ASB     73 non-null     float64
 9   BPL     75 non-null     float64
 10  NPH     74 non-null     float64
 11  NLH     81 non-null     float64
 12  JUB     82 non-null     int64
 13  NLB     79 non-null     float64
 14  MAB     60 non-null     float64
 15  MAL     74 non-null     float64
 16  MDH     82 non-null     int64
 17  OBH     81 non-null     float64
 18  OBB     79 non-null     float64
 19  DKB     79 non-null     float64
 20  NDS     72 non-null     float64
 21  WNB     80 non-null     float64
 22  SIS     73 non-null     float64
 23  ZMB     80 non-null     float64
 24  SSS     79 non-null     float64
 25  FMB     82 non-null     int64
 26  NAS     81 non-null     float64
 27  EKB     81 non-null     float64
 28  DKS     79 non-null     float64
 29  IML     81 non-null     float64
 30  XML     81 non-null     float64
 31  MLS     79 non-null     float64
 32  WMH     82 non-null     int64
 33  GLS     81 non-null     float64
 34  STB     81 non-null     float64
 35  FRC     79 non-null     float64
 36  FRS     79 non-null     float64
 37  PAC     79 non-null     float64
 38  PAS     79 non-null     float64
 39  OCC     79 non-null     float64
 40  OCS     79 non-null     float64
 41  FOL     82 non-null     int64
 42  FOB     82 non-null     int64
 43  NAR     81 non-null     float64
 44  SSR     81 non-null     float64
 45  PRR     75 non-null     float64
 46  DKR     79 non-null     float64
 47  ZOR     81 non-null     float64
 48  FMR     82 non-null     int64
 49  EKR     82 non-null     int64
 50  ZMR     81 non-null     float64
 51  AVR     67 non-null     float64
 52  BRR     80 non-null     float64
 53  VRR     79 non-null     float64
 54  LAR     79 non-null     float64
 55  OSR     82 non-null     int64
 56  MOW     74 non-null     float64
 57  UFBR    82 non-null     int64
 58  UFHT    61 non-null     float64
 59  NAA     75 non-null     float64
 60  PRA     75 non-null     float64
 61  BAA     75 non-null     float64
 62  NBA     79 non-null     float64
 63  BBA     79 non-null     float64
 64  BRA     79 non-null     float64
 65  SSA     79 non-null     float64
 66  NFA     81 non-null     float64
 67  DKA     79 non-null     float64
 68  NDA     72 non-null     float64
 69  FRA     79 non-null     float64
 70  PAA     79 non-null     float64
 71  OCA     79 non-null     float64
dtypes: float64(59), int64(13)
memory usage: 46.2 KB

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')

In [ ]:
imputer.fit(cranmet_mean_imp)

SimpleImputer()

In [ ]:
cranmet_mean_imp = imputer.transform(cranmet_mean_imp)          # replace missing values in numeric columns with the average for each column
# the result is a numpy array. So you have to convert it back into a dataframe and then assign column names.

In [ ]:
# save column names from cranmet_VarsOnly df

column_names = cranmet_VarsOnly.columns
print(column_names)

Index(['GOL', 'NOL', 'BNL', 'BBH', 'XCB', 'XFB', 'WFB', 'ZYB', 'ASB', 'BPL', 'NPH', 'NLH', 'JUB', 'NLB', 'MAB', 'MAL', 'MDH', 'OBH', 'OBB', 'DKB', 'NDS', 'WNB', 'SIS', 'ZMB', 'SSS', 'FMB', 'NAS', 'EKB', 'DKS', 'IML', 'XML', 'MLS', 'WMH', 'GLS', 'STB', 'FRC', 'FRS', 'PAC', 'PAS', 'OCC', 'OCS', 'FOL', 'FOB', 'NAR', 'SSR', 'PRR', 'DKR', 'ZOR', 'FMR', 'EKR', 'ZMR', 'AVR', 'BRR', 'VRR', 'LAR', 'OSR', 'MOW', 'UFBR', 'UFHT', 'NAA', 'PRA', 'BAA', 'NBA', 'BBA', 'BRA', 'SSA', 'NFA', 'DKA', 'NDA', 'FRA', 'PAA', 'OCA'], dtype='object')

In [ ]:
print(cranmet_mean_imp)

In [ ]:
cranmet_mean_imp = pd.DataFrame(cranmet_mean_imp)

In [ ]:
# assign column names

cranmet_mean_imp.columns = column_names

In [ ]:
cranmet_mean_imp.head()

In [ ]:
cranmet_mean_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     82 non-null     float64
 1   NOL     82 non-null     float64
 2   BNL     82 non-null     float64
 3   BBH     82 non-null     float64
 4   XCB     82 non-null     float64
 5   XFB     82 non-null     float64
 6   WFB     82 non-null     float64
 7   ZYB     82 non-null     float64
 8   ASB     82 non-null     float64
 9   BPL     82 non-null     float64
 10  NPH     82 non-null     float64
 11  NLH     82 non-null     float64
 12  JUB     82 non-null     float64
 13  NLB     82 non-null     float64
 14  MAB     82 non-null     float64
 15  MAL     82 non-null     float64
 16  MDH     82 non-null     float64
 17  OBH     82 non-null     float64
 18  OBB     82 non-null     float64
 19  DKB     82 non-null     float64
 20  NDS     82 non-null     float64
 21  WNB     82 non-null     float64
 22  SIS     82 non-null     float64
 23  ZMB     82 non-null     float64
 24  SSS     82 non-null     float64
 25  FMB     82 non-null     float64
 26  NAS     82 non-null     float64
 27  EKB     82 non-null     float64
 28  DKS     82 non-null     float64
 29  IML     82 non-null     float64
 30  XML     82 non-null     float64
 31  MLS     82 non-null     float64
 32  WMH     82 non-null     float64
 33  GLS     82 non-null     float64
 34  STB     82 non-null     float64
 35  FRC     82 non-null     float64
 36  FRS     82 non-null     float64
 37  PAC     82 non-null     float64
 38  PAS     82 non-null     float64
 39  OCC     82 non-null     float64
 40  OCS     82 non-null     float64
 41  FOL     82 non-null     float64
 42  FOB     82 non-null     float64
 43  NAR     82 non-null     float64
 44  SSR     82 non-null     float64
 45  PRR     82 non-null     float64
 46  DKR     82 non-null     float64
 47  ZOR     82 non-null     float64
 48  FMR     82 non-null     float64
 49  EKR     82 non-null     float64
 50  ZMR     82 non-null     float64
 51  AVR     82 non-null     float64
 52  BRR     82 non-null     float64
 53  VRR     82 non-null     float64
 54  LAR     82 non-null     float64
 55  OSR     82 non-null     float64
 56  MOW     82 non-null     float64
 57  UFBR    82 non-null     float64
 58  UFHT    82 non-null     float64
 59  NAA     82 non-null     float64
 60  PRA     82 non-null     float64
 61  BAA     82 non-null     float64
 62  NBA     82 non-null     float64
 63  BBA     82 non-null     float64
 64  BRA     82 non-null     float64
 65  SSA     82 non-null     float64
 66  NFA     82 non-null     float64
 67  DKA     82 non-null     float64
 68  NDA     82 non-null     float64
 69  FRA     82 non-null     float64
 70  PAA     82 non-null     float64
 71  OCA     82 non-null     float64
dtypes: float64(72)
memory usage: 46.2 KB

##### Add demographics

In [ ]:
cranmet.head()

In [ ]:
selected_columns = cranmet[['SkelID', 'Collection', 'Sex', 'Age', 'Population', 'Population2', 'Population3', 'Population4']]
dems2 = selected_columns.copy()
dems2.head(50)

In [ ]:
cranmet_mean_imp = pd.merge(dems2, cranmet_mean_imp, left_index=True, right_index=True)

In [ ]:
cranmet_mean_imp.head()

In [ ]:
cranmet_mean_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   Sex          82 non-null     object
 3   Age          82 non-null     int64
 4   Population   82 non-null     object
 5   Population2  10 non-null     object
 6   Population3  5 non-null      object
 7   Population4  1 non-null      object
 8   GOL          82 non-null     float64
 9   NOL          82 non-null     float64
 10  BNL          82 non-null     float64
 11  BBH          82 non-null     float64
 12  XCB          82 non-null     float64
 13  XFB          82 non-null     float64
 14  WFB          82 non-null     float64
 15  ZYB          82 non-null     float64
 16  ASB          82 non-null     float64
 17  BPL          82 non-null     float64
 18  NPH          82 non-null     float64
 19  NLH          82 non-null     float64
 20  JUB          82 non-null     float64
 21  NLB          82 non-null     float64
 22  MAB          82 non-null     float64
 23  MAL          82 non-null     float64
 24  MDH          82 non-null     float64
 25  OBH          82 non-null     float64
 26  OBB          82 non-null     float64
 27  DKB          82 non-null     float64
 28  NDS          82 non-null     float64
 29  WNB          82 non-null     float64
 30  SIS          82 non-null     float64
 31  ZMB          82 non-null     float64
 32  SSS          82 non-null     float64
 33  FMB          82 non-null     float64
 34  NAS          82 non-null     float64
 35  EKB          82 non-null     float64
 36  DKS          82 non-null     float64
 37  IML          82 non-null     float64
 38  XML          82 non-null     float64
 39  MLS          82 non-null     float64
 40  WMH          82 non-null     float64
 41  GLS          82 non-null     float64
 42  STB          82 non-null     float64
 43  FRC          82 non-null     float64
 44  FRS          82 non-null     float64
 45  PAC          82 non-null     float64
 46  PAS          82 non-null     float64
 47  OCC          82 non-null     float64
 48  OCS          82 non-null     float64
 49  FOL          82 non-null     float64
 50  FOB          82 non-null     float64
 51  NAR          82 non-null     float64
 52  SSR          82 non-null     float64
 53  PRR          82 non-null     float64
 54  DKR          82 non-null     float64
 55  ZOR          82 non-null     float64
 56  FMR          82 non-null     float64
 57  EKR          82 non-null     float64
 58  ZMR          82 non-null     float64
 59  AVR          82 non-null     float64
 60  BRR          82 non-null     float64
 61  VRR          82 non-null     float64
 62  LAR          82 non-null     float64
 63  OSR          82 non-null     float64
 64  MOW          82 non-null     float64
 65  UFBR         82 non-null     float64
 66  UFHT         82 non-null     float64
 67  NAA          82 non-null     float64
 68  PRA          82 non-null     float64
 69  BAA          82 non-null     float64
 70  NBA          82 non-null     float64
 71  BBA          82 non-null     float64
 72  BRA          82 non-null     float64
 73  SSA          82 non-null     float64
 74  NFA          82 non-null     float64
 75  DKA          82 non-null     float64
 76  NDA          82 non-null     float64
 77  FRA          82 non-null     float64
 78  PAA          82 non-null     float64
 79  OCA          82 non-null     float64
dtypes: float64(72), int64(2), object(6)
memory usage: 51.4+ KB

##### Output data file: mean imputation

In [ ]:
cranmet_mean_imp.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_mean_imp.xlsx', index=False)

### k-NN imputation

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [ ]:
cranmet_kNN_imp = pd.DataFrame(cranmet_no_UV_outliers)

In [ ]:
cranmet_kNN_imp.head()

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
imputer.fit(cranmet_kNN_imp)
cranmet_kNN_imp = imputer.transform(cranmet_kNN_imp)          # replace missing values in numeric columns with the average for each column

In [ ]:
print(cranmet_kNN_imp)

In [ ]:
cranmet_kNN_imp = pd.DataFrame(cranmet_kNN_imp)

In [ ]:
# save column names from cranmet_VarsOnly df

#column_names = cranmet_VarsOnly.columns
print(column_names)

Index(['GOL', 'NOL', 'BNL', 'BBH', 'XCB', 'XFB', 'WFB', 'ZYB', 'ASB', 'BPL', 'NPH', 'NLH', 'JUB', 'NLB', 'MAB', 'MAL', 'MDH', 'OBH', 'OBB', 'DKB', 'NDS', 'WNB', 'SIS', 'ZMB', 'SSS', 'FMB', 'NAS', 'EKB', 'DKS', 'IML', 'XML', 'MLS', 'WMH', 'GLS', 'STB', 'FRC', 'FRS', 'PAC', 'PAS', 'OCC', 'OCS', 'FOL', 'FOB', 'NAR', 'SSR', 'PRR', 'DKR', 'ZOR', 'FMR', 'EKR', 'ZMR', 'AVR', 'BRR', 'VRR', 'LAR', 'OSR', 'MOW', 'UFBR', 'UFHT', 'NAA', 'PRA', 'BAA', 'NBA', 'BBA', 'BRA', 'SSA', 'NFA', 'DKA', 'NDA', 'FRA', 'PAA', 'OCA'], dtype='object')

In [ ]:
# assign column names

cranmet_kNN_imp.columns = column_names

In [ ]:
cranmet_kNN_imp.head()

In [ ]:
cranmet_kNN_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     82 non-null     float64
 1   NOL     82 non-null     float64
 2   BNL     82 non-null     float64
 3   BBH     82 non-null     float64
 4   XCB     82 non-null     float64
 5   XFB     82 non-null     float64
 6   WFB     82 non-null     float64
 7   ZYB     82 non-null     float64
 8   ASB     82 non-null     float64
 9   BPL     82 non-null     float64
 10  NPH     82 non-null     float64
 11  NLH     82 non-null     float64
 12  JUB     82 non-null     float64
 13  NLB     82 non-null     float64
 14  MAB     82 non-null     float64
 15  MAL     82 non-null     float64
 16  MDH     82 non-null     float64
 17  OBH     82 non-null     float64
 18  OBB     82 non-null     float64
 19  DKB     82 non-null     float64
 20  NDS     82 non-null     float64
 21  WNB     82 non-null     float64
 22  SIS     82 non-null     float64
 23  ZMB     82 non-null     float64
 24  SSS     82 non-null     float64
 25  FMB     82 non-null     float64
 26  NAS     82 non-null     float64
 27  EKB     82 non-null     float64
 28  DKS     82 non-null     float64
 29  IML     82 non-null     float64
 30  XML     82 non-null     float64
 31  MLS     82 non-null     float64
 32  WMH     82 non-null     float64
 33  GLS     82 non-null     float64
 34  STB     82 non-null     float64
 35  FRC     82 non-null     float64
 36  FRS     82 non-null     float64
 37  PAC     82 non-null     float64
 38  PAS     82 non-null     float64
 39  OCC     82 non-null     float64
 40  OCS     82 non-null     float64
 41  FOL     82 non-null     float64
 42  FOB     82 non-null     float64
 43  NAR     82 non-null     float64
 44  SSR     82 non-null     float64
 45  PRR     82 non-null     float64
 46  DKR     82 non-null     float64
 47  ZOR     82 non-null     float64
 48  FMR     82 non-null     float64
 49  EKR     82 non-null     float64
 50  ZMR     82 non-null     float64
 51  AVR     82 non-null     float64
 52  BRR     82 non-null     float64
 53  VRR     82 non-null     float64
 54  LAR     82 non-null     float64
 55  OSR     82 non-null     float64
 56  MOW     82 non-null     float64
 57  UFBR    82 non-null     float64
 58  UFHT    82 non-null     float64
 59  NAA     82 non-null     float64
 60  PRA     82 non-null     float64
 61  BAA     82 non-null     float64
 62  NBA     82 non-null     float64
 63  BBA     82 non-null     float64
 64  BRA     82 non-null     float64
 65  SSA     82 non-null     float64
 66  NFA     82 non-null     float64
 67  DKA     82 non-null     float64
 68  NDA     82 non-null     float64
 69  FRA     82 non-null     float64
 70  PAA     82 non-null     float64
 71  OCA     82 non-null     float64
dtypes: float64(72)
memory usage: 46.2 KB

##### Add demographics

In [ ]:
cranmet.head()

In [ ]:
#selected_columns = cranmet[['SkelID', 'Collection', 'Sex', 'Age', 'Population', 'Population2', 'Population3', 'Population4']]
#dems2 = selected_columns.copy()
dems2.head(50)

In [ ]:
cranmet_kNN_imp = pd.merge(dems2, cranmet_kNN_imp, left_index=True, right_index=True)

In [ ]:
cranmet_kNN_imp.head()

In [ ]:
cranmet_kNN_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   Sex          82 non-null     object
 3   Age          82 non-null     int64
 4   Population   82 non-null     object
 5   Population2  10 non-null     object
 6   Population3  5 non-null      object
 7   Population4  1 non-null      object
 8   GOL          82 non-null     float64
 9   NOL          82 non-null     float64
 10  BNL          82 non-null     float64
 11  BBH          82 non-null     float64
 12  XCB          82 non-null     float64
 13  XFB          82 non-null     float64
 14  WFB          82 non-null     float64
 15  ZYB          82 non-null     float64
 16  ASB          82 non-null     float64
 17  BPL          82 non-null     float64
 18  NPH          82 non-null     float64
 19  NLH          82 non-null     float64
 20  JUB          82 non-null     float64
 21  NLB          82 non-null     float64
 22  MAB          82 non-null     float64
 23  MAL          82 non-null     float64
 24  MDH          82 non-null     float64
 25  OBH          82 non-null     float64
 26  OBB          82 non-null     float64
 27  DKB          82 non-null     float64
 28  NDS          82 non-null     float64
 29  WNB          82 non-null     float64
 30  SIS          82 non-null     float64
 31  ZMB          82 non-null     float64
 32  SSS          82 non-null     float64
 33  FMB          82 non-null     float64
 34  NAS          82 non-null     float64
 35  EKB          82 non-null     float64
 36  DKS          82 non-null     float64
 37  IML          82 non-null     float64
 38  XML          82 non-null     float64
 39  MLS          82 non-null     float64
 40  WMH          82 non-null     float64
 41  GLS          82 non-null     float64
 42  STB          82 non-null     float64
 43  FRC          82 non-null     float64
 44  FRS          82 non-null     float64
 45  PAC          82 non-null     float64
 46  PAS          82 non-null     float64
 47  OCC          82 non-null     float64
 48  OCS          82 non-null     float64
 49  FOL          82 non-null     float64
 50  FOB          82 non-null     float64
 51  NAR          82 non-null     float64
 52  SSR          82 non-null     float64
 53  PRR          82 non-null     float64
 54  DKR          82 non-null     float64
 55  ZOR          82 non-null     float64
 56  FMR          82 non-null     float64
 57  EKR          82 non-null     float64
 58  ZMR          82 non-null     float64
 59  AVR          82 non-null     float64
 60  BRR          82 non-null     float64
 61  VRR          82 non-null     float64
 62  LAR          82 non-null     float64
 63  OSR          82 non-null     float64
 64  MOW          82 non-null     float64
 65  UFBR         82 non-null     float64
 66  UFHT         82 non-null     float64
 67  NAA          82 non-null     float64
 68  PRA          82 non-null     float64
 69  BAA          82 non-null     float64
 70  NBA          82 non-null     float64
 71  BBA          82 non-null     float64
 72  BRA          82 non-null     float64
 73  SSA          82 non-null     float64
 74  NFA          82 non-null     float64
 75  DKA          82 non-null     float64
 76  NDA          82 non-null     float64
 77  FRA          82 non-null     float64
 78  PAA          82 non-null     float64
 79  OCA          82 non-null     float64
dtypes: float64(72), int64(2), object(6)
memory usage: 51.4+ KB

##### Output data file: k-NN imputation

In [ ]:
cranmet_kNN_imp.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_kNN_imp.xlsx', index=False)

### Iterative imputation

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [ ]:
cranmet_iterative_imp = pd.DataFrame(cranmet_no_UV_outliers)

In [ ]:
cranmet_iterative_imp.head()

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer(max_iter=200, random_state=0)
imputer.fit(cranmet_iterative_imp)
cranmet_iterative_imp = imputer.transform(cranmet_iterative_imp)

In [ ]:
print(cranmet_iterative_imp)

In [ ]:
cranmet_iterative_imp = pd.DataFrame(cranmet_iterative_imp)

In [ ]:
# save column names from cranmet_VarsOnly df

#column_names = cranmet_VarsOnly.columns
print(column_names)

Index(['GOL', 'NOL', 'BNL', 'BBH', 'XCB', 'XFB', 'WFB', 'ZYB', 'ASB', 'BPL', 'NPH', 'NLH', 'JUB', 'NLB', 'MAB', 'MAL', 'MDH', 'OBH', 'OBB', 'DKB', 'NDS', 'WNB', 'SIS', 'ZMB', 'SSS', 'FMB', 'NAS', 'EKB', 'DKS', 'IML', 'XML', 'MLS', 'WMH', 'GLS', 'STB', 'FRC', 'FRS', 'PAC', 'PAS', 'OCC', 'OCS', 'FOL', 'FOB', 'NAR', 'SSR', 'PRR', 'DKR', 'ZOR', 'FMR', 'EKR', 'ZMR', 'AVR', 'BRR', 'VRR', 'LAR', 'OSR', 'MOW', 'UFBR', 'UFHT', 'NAA', 'PRA', 'BAA', 'NBA', 'BBA', 'BRA', 'SSA', 'NFA', 'DKA', 'NDA', 'FRA', 'PAA', 'OCA'], dtype='object')

In [ ]:
# assign column names

cranmet_iterative_imp.columns = column_names

In [ ]:
cranmet_iterative_imp.head()

In [ ]:
cranmet_iterative_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GOL     82 non-null     float64
 1   NOL     82 non-null     float64
 2   BNL     82 non-null     float64
 3   BBH     82 non-null     float64
 4   XCB     82 non-null     float64
 5   XFB     82 non-null     float64
 6   WFB     82 non-null     float64
 7   ZYB     82 non-null     float64
 8   ASB     82 non-null     float64
 9   BPL     82 non-null     float64
 10  NPH     82 non-null     float64
 11  NLH     82 non-null     float64
 12  JUB     82 non-null     float64
 13  NLB     82 non-null     float64
 14  MAB     82 non-null     float64
 15  MAL     82 non-null     float64
 16  MDH     82 non-null     float64
 17  OBH     82 non-null     float64
 18  OBB     82 non-null     float64
 19  DKB     82 non-null     float64
 20  NDS     82 non-null     float64
 21  WNB     82 non-null     float64
 22  SIS     82 non-null     float64
 23  ZMB     82 non-null     float64
 24  SSS     82 non-null     float64
 25  FMB     82 non-null     float64
 26  NAS     82 non-null     float64
 27  EKB     82 non-null     float64
 28  DKS     82 non-null     float64
 29  IML     82 non-null     float64
 30  XML     82 non-null     float64
 31  MLS     82 non-null     float64
 32  WMH     82 non-null     float64
 33  GLS     82 non-null     float64
 34  STB     82 non-null     float64
 35  FRC     82 non-null     float64
 36  FRS     82 non-null     float64
 37  PAC     82 non-null     float64
 38  PAS     82 non-null     float64
 39  OCC     82 non-null     float64
 40  OCS     82 non-null     float64
 41  FOL     82 non-null     float64
 42  FOB     82 non-null     float64
 43  NAR     82 non-null     float64
 44  SSR     82 non-null     float64
 45  PRR     82 non-null     float64
 46  DKR     82 non-null     float64
 47  ZOR     82 non-null     float64
 48  FMR     82 non-null     float64
 49  EKR     82 non-null     float64
 50  ZMR     82 non-null     float64
 51  AVR     82 non-null     float64
 52  BRR     82 non-null     float64
 53  VRR     82 non-null     float64
 54  LAR     82 non-null     float64
 55  OSR     82 non-null     float64
 56  MOW     82 non-null     float64
 57  UFBR    82 non-null     float64
 58  UFHT    82 non-null     float64
 59  NAA     82 non-null     float64
 60  PRA     82 non-null     float64
 61  BAA     82 non-null     float64
 62  NBA     82 non-null     float64
 63  BBA     82 non-null     float64
 64  BRA     82 non-null     float64
 65  SSA     82 non-null     float64
 66  NFA     82 non-null     float64
 67  DKA     82 non-null     float64
 68  NDA     82 non-null     float64
 69  FRA     82 non-null     float64
 70  PAA     82 non-null     float64
 71  OCA     82 non-null     float64
dtypes: float64(72)
memory usage: 46.2 KB

##### Add demographics

In [ ]:
cranmet.head()

In [ ]:
#selected_columns = cranmet[['SkelID', 'Collection', 'Sex', 'Age', 'Population', 'Population2', 'Population3', 'Population4']]
#dems2 = selected_columns.copy()
dems2.head(50)

In [ ]:
cranmet_iterative_imp = pd.merge(dems2, cranmet_iterative_imp, left_index=True, right_index=True)

In [ ]:
cranmet_iterative_imp.head()

In [ ]:
cranmet_iterative_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 80 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SkelID       82 non-null     int64
 1   Collection   82 non-null     object
 2   Sex          82 non-null     object
 3   Age          82 non-null     int64
 4   Population   82 non-null     object
 5   Population2  10 non-null     object
 6   Population3  5 non-null      object
 7   Population4  1 non-null      object
 8   GOL          82 non-null     float64
 9   NOL          82 non-null     float64
 10  BNL          82 non-null     float64
 11  BBH          82 non-null     float64
 12  XCB          82 non-null     float64
 13  XFB          82 non-null     float64
 14  WFB          82 non-null     float64
 15  ZYB          82 non-null     float64
 16  ASB          82 non-null     float64
 17  BPL          82 non-null     float64
 18  NPH          82 non-null     float64
 19  NLH          82 non-null     float64
 20  JUB          82 non-null     float64
 21  NLB          82 non-null     float64
 22  MAB          82 non-null     float64
 23  MAL          82 non-null     float64
 24  MDH          82 non-null     float64
 25  OBH          82 non-null     float64
 26  OBB          82 non-null     float64
 27  DKB          82 non-null     float64
 28  NDS          82 non-null     float64
 29  WNB          82 non-null     float64
 30  SIS          82 non-null     float64
 31  ZMB          82 non-null     float64
 32  SSS          82 non-null     float64
 33  FMB          82 non-null     float64
 34  NAS          82 non-null     float64
 35  EKB          82 non-null     float64
 36  DKS          82 non-null     float64
 37  IML          82 non-null     float64
 38  XML          82 non-null     float64
 39  MLS          82 non-null     float64
 40  WMH          82 non-null     float64
 41  GLS          82 non-null     float64
 42  STB          82 non-null     float64
 43  FRC          82 non-null     float64
 44  FRS          82 non-null     float64
 45  PAC          82 non-null     float64
 46  PAS          82 non-null     float64
 47  OCC          82 non-null     float64
 48  OCS          82 non-null     float64
 49  FOL          82 non-null     float64
 50  FOB          82 non-null     float64
 51  NAR          82 non-null     float64
 52  SSR          82 non-null     float64
 53  PRR          82 non-null     float64
 54  DKR          82 non-null     float64
 55  ZOR          82 non-null     float64
 56  FMR          82 non-null     float64
 57  EKR          82 non-null     float64
 58  ZMR          82 non-null     float64
 59  AVR          82 non-null     float64
 60  BRR          82 non-null     float64
 61  VRR          82 non-null     float64
 62  LAR          82 non-null     float64
 63  OSR          82 non-null     float64
 64  MOW          82 non-null     float64
 65  UFBR         82 non-null     float64
 66  UFHT         82 non-null     float64
 67  NAA          82 non-null     float64
 68  PRA          82 non-null     float64
 69  BAA          82 non-null     float64
 70  NBA          82 non-null     float64
 71  BBA          82 non-null     float64
 72  BRA          82 non-null     float64
 73  SSA          82 non-null     float64
 74  NFA          82 non-null     float64
 75  DKA          82 non-null     float64
 76  NDA          82 non-null     float64
 77  FRA          82 non-null     float64
 78  PAA          82 non-null     float64
 79  OCA          82 non-null     float64
dtypes: float64(72), int64(2), object(6)
memory usage: 51.4+ KB

##### Output data file: k-NN imputation

In [ ]:
cranmet_iterative_imp.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/cranmet_iterative_imp.xlsx', index=False)

# Output data files:
*   *cranmet.xlsx*: This file includes the cranial measurements and demographics
##### **Sex**
*   *cranmet_sex.xlsx*
*   *Comp1_cranmet_sex.xlsx*
*   *Comp2_sex.xlsx*
*   These files contain the numbers of males and females by Collection for each database.
##### **Outliers**
*   *cranmet_no_univariate_outliers.xlsx*: This file includes the entire craniometrics df without univariate outliers. **Use this file for further analyses!**
*   *cranmet_no_outliers.xlsx*: This file includes the entire craniometrics df without univariate outliers. **Maybe use this file for further analyses!**
*   *cranmet_Mahalanobis_outliers.xlsx*: This file includes the US and Japan outliers with D2 and p-values
##### **Normality**
*   *cranmet_US_shapiro_results.xlsx* and *cranmet_Japan_shapiro_results.xlsx*: These files contain the Shapiro-Wilks results for US and Japan separately. The two Shapiro-Wilks results files were merged into one table in excel.
*   *cranmet_females_shapiro_results.xlsx* and *cranmet_males_shapiro_results.xlsx*: These files contain the Shapiro-Wilks results for females and males separately. The two Shapiro-Wilks results files were merged into one table in excel.
*   *cranmet_levene_results.xlsx*: This file contains the females vs. males levene results for homogeneity of variances.
##### **Sexual dimorphism**
*   *cranmet_SD_ind_t-test_results.xlsx*: This file contains the independent t-test results for sexual dimorphism
*   *cranmet_SD_Garn_results.xlsx*: This file contains the Garn (1967) % Sexual Dimorphism (calculated) results
*   *cranmet_SD_merged_results.xlsx*: This file contains the merged results from the independent t-test and the Garn %SD results
##### **Intertrait correlations**
*   *cranmet_pearsons_correlation.xlsx*
##### **Missing data**
*   *cranmet_mean_imp.xlsx*: This file contains the craniometrics dataset with univariate outliers imputed using the variable median and missing values were imputed using variable mean. The measurement variables were rounded to whole numbers in excel.
*   *cranmet_kNN_imp.xlsx*: This file contains the craniometrics dataset with univariate outliers imputed using the variable median and missing values were imputed using the k-NN imputation method (k = 5). The measurement variables were rounded to whole numbers in excel.
*   *cranmet_iterative_imp.xlsx*: This file contains the craniometrics dataset with univariate outliers imputed using the variable median and missing values were imputed using the iterative imputation method (max 200 iterations). The measurement variables were rounded to whole numbers in excel.