<a href="https://colab.research.google.com/github/cskipper07/Data-Science/blob/main/3_Aim2_cnm_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aim 2: Microevolution: CNM**
* This file contains the code to prepare the dfs for comparison in the TMD software.
* Some outputs have been removed to protect PII and the raw data.

The cnm data will be tested using the Konigsberg (1990) R workspace for tetrachoric Malahanobis distance (TMD).

## Input data file:
**My data**
*   *cnm_cleaned2.xlsx*: This file includes the cranial nonmetric and macromorphoscopic data and demographics after traits with > 50% missing data were removed.


**Comp1 data**
*   *Comp1_cnm_for_analysis.xlsx*

**Comp2 data**
*   *Comp2_cnm_recoded_popAff.xlsx*: This file contains the recoded Comp2 data with added population affinities (added in Excel)

**Comp3 data**
*   *Comp3_cnm_for_analysis.xlsx*

### Import libraries

In [ ]:
# Import libraries
import pandas as pd
import scipy
import numpy as np
import seaborn as sns
import os

In [ ]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

### Set print options

In [ ]:
import sys

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
np.set_printoptions(threshold=sys.maxsize)

### Set export

In [ ]:
from google.colab import  drive
drive.mount('/drive')

Mounted at /drive

# My Data

### Import data

In [ ]:
cnm_cleaned2 = pd.read_excel('cnm_cleaned2.xlsx')

The output for the following code cells related to cnm_cleaned2.head() and cnm_cleaned2.tail() were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
cnm_cleaned2.head()

In [ ]:
cnm_cleaned2.tail()

In [ ]:
# add an empty row (row 97) to the end of the df to standardize decimals across the df
cnm_cleaned2.loc[cnm_cleaned2.shape[0]] = np.nan

In [ ]:
cnm_cleaned2.tail()

In [ ]:
# drop empty row 97
cnm_cleaned2 = cnm_cleaned2.drop(97)

In [ ]:
cnm_cleaned2.tail()

In [ ]:
for c in cnm_cleaned2.columns:
  print(c)

SkelID
Collection
Sex
Age
Population
Population2
Population3
Population4
SSSF
ANS
INA
IOB
NAS
NAW
NBC
NBS
NFS
OBS
TPS
INCA
BREG
PALT
METO
MANT
SON
SOF
IFS
ZFF
CCO
FOI
FSI
PTB
TYM
AUD
MT
NO
PZT
ZS
LBM
LBLa
PF
MF
CRB
EPB
FTA
PNB
AST
OMB
HYP
APF
FF
MHB
MEN
MIF
CIV
MFLo
PHAR

In [ ]:
cnm_cleaned2.head(50)

In [ ]:
cnm_cleaned2['SSSF'].unique()

array([ 1.,  3.,  2., nan])

In [ ]:
cnm_recoded = pd.DataFrame(cnm_cleaned2)

In [ ]:
#cnm_recoded['SSSF'] = cnm_recoded['SSSF'].replace([1.0, 2.0, 3.0], [1, 0, 1])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
cnm_recoded.head(50)

In [ ]:
cnm_recoded['CCO'].unique()

array([1., 0.])

## Recode My Data

In [ ]:
cnm_recoded['SSSF'] = cnm_recoded['SSSF'].replace([1.0, 2.0, 3.0], [1, 0, 1])
# ANS
# INA
# IOB
# NAS
# NAW
# NBC
# NBS
# OBS
# TPS
# INCA
# BREG
# PALT
# METO
cnm_recoded['METO'] = cnm_recoded['METO'].replace([0.0, 1.0, 2.0], [0, 0, 1])
# MANT
# SON
cnm_recoded['SOF'] = cnm_recoded['SOF'].replace([0.0, 1.0, 2.0], [0, 1, 1])
cnm_recoded['IFS'] = cnm_recoded['IFS'].replace([0.0, 1.0, 2.0], [0, 0, 1])
# ZFF
# CCO
# FOI
# FSI
# PTB
cnm_recoded['TYM'] = cnm_recoded['TYM'].replace([0.0, 1.0, 2.0, 3.0], [0, 0, 0, 1])
# AUD
# MT
# NO
# PZT
# ZS
# LBM
# LBLa
# PF
# MF
cnm_recoded['MF'] = cnm_recoded['MF'].replace([0.0, 1.0, 2.0, 3.0], [0, 1, 1, 1])
# CRB
# EPB
# FTA
# PNB
# AST
# OMB
cnm_recoded['HYP'] = cnm_recoded['HYP'].replace([0.0, 1.0, 2.0, 3.0, 4.0], [0, 0, 0, 1, 1])
cnm_recoded['APF'] = cnm_recoded['APF'].replace([0.0, 1.0, 2.0, 3.0], [0, 1, 1, 1])
# FF
cnm_recoded['FF'] = cnm_recoded['FF'].replace([0.0, 1.0, 2.0, 3.0], [0, 1, 1, 1])
cnm_recoded['MHB'] = cnm_recoded['MHB'].replace([0.0, 1.0, 2.0], [0, 1, 1])
cnm_recoded['MEN'] = cnm_recoded['MEN'].replace([0.0, 1.0, 2.0], [0, 1, 1])
cnm_recoded['MIF'] = cnm_recoded['MIF'].replace([0.0, 1.0, 2.0, 3.0], [0, 0, 1, 1])
cnm_recoded['CIV'] = cnm_recoded['CIV'].replace([0.0, 1.0, 2.0, 3.0], [0, 0, 0, 1])
cnm_recoded['MFLo'] = cnm_recoded['MFLo'].replace([0.0, 1.0, 2.0, 3.0, 4.0, 5.0], [0, 1, 1, 1, 1, 1])
# PHAR

The output for the following two code cells were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
cnm_recoded.head()

In [ ]:
conditions = [
    (cnm_recoded['Collection'] == 'US'),
    (cnm_recoded['Collection'] == 'Japan')]
choices = ['Asian American', 'Japanese']
cnm_recoded['Population Affinity'] = np.select(conditions, choices)
print(cnm_recoded)

In [ ]:
cnm_recoded = pd.read_excel('cnm_recoded.xlsx')

In [ ]:
cnm_recoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               97 non-null     int64
 1   Collection           97 non-null     object
 2   Sex                  97 non-null     object
 3   Age                  97 non-null     int64
 4   Population           97 non-null     object
 5   Population2          19 non-null     object
 6   Population3          10 non-null     object
 7   Population4          1 non-null      object
 8   SSSF                 95 non-null     float64
 9   ANS                  95 non-null     float64
 10  INA                  97 non-null     int64
 11  IOB                  96 non-null     float64
 12  NAS                  96 non-null     float64
 13  NAW                  95 non-null     float64
 14  NBC                  94 non-null     float64
 15  NBS                  94 non-null     float64
 16  NFS                  95 non-null     float64
 17  OBS                  96 non-null     float64
 18  TPS                  89 non-null     float64
 19  INCA                 80 non-null     float64
 20  BREG                 83 non-null     float64
 21  PALT                 95 non-null     float64
 22  METO                 96 non-null     float64
 23  MANT                 91 non-null     float64
 24  SON                  97 non-null     int64
 25  SOF                  97 non-null     int64
 26  IFS                  95 non-null     float64
 27  ZFF                  97 non-null     int64
 28  CCO                  97 non-null     int64
 29  FOI                  96 non-null     float64
 30  FSI                  96 non-null     float64
 31  PTB                  97 non-null     int64
 32  TYM                  97 non-null     int64
 33  AUD                  97 non-null     int64
 34  MT                   97 non-null     int64
 35  NO                   94 non-null     float64
 36  PZT                  97 non-null     int64
 37  ZS                   92 non-null     float64
 38  LBM                  64 non-null     float64
 39  LBLa                 80 non-null     float64
 40  PF                   95 non-null     float64
 41  MF                   96 non-null     float64
 42  CRB                  81 non-null     float64
 43  EPB                  70 non-null     float64
 44  FTA                  81 non-null     float64
 45  PNB                  94 non-null     float64
 46  AST                  88 non-null     float64
 47  OMB                  64 non-null     float64
 48  HYP                  96 non-null     float64
 49  APF                  97 non-null     int64
 50  MHB                  97 non-null     int64
 51  MEN                  96 non-null     float64
 52  MIF                  96 non-null     float64
 53  CIV                  95 non-null     float64
 54  MFLo                 94 non-null     float64
 55  PHAR                 95 non-null     float64
 56  Population Affinity  97 non-null     object
dtypes: float64(36), int64(14), object(7)
memory usage: 43.3+ KB

In [ ]:
del cnm_recoded['FF']

#### Output file: CES_cnm_recoded

In [ ]:
cnm_recoded.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_cnm_recoded.xlsx', index=False)

In [ ]:
CES_cnm_recoded = pd.read_excel('CES_cnm_recoded.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
CES_cnm_recoded.head()

In [ ]:
CES_cnm_recoded['OMB'].unique()

array([ 0., nan,  1.])

### Prep my data for analyses

In [ ]:
CES_cnm_recoded_backup = pd.DataFrame(CES_cnm_recoded)

In [ ]:
CES_cnm = pd.DataFrame(CES_cnm_recoded)

The output for the following code cells related to CES_cnm.head() were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
CES_cnm.head()

In [ ]:
del CES_cnm['Population']
del CES_cnm['Population2']
del CES_cnm['Population3']
del CES_cnm['Population4']

In [ ]:
CES_cnm.head()

In [ ]:
CES_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               97 non-null     int64
 1   Collection           97 non-null     object
 2   Sex                  97 non-null     object
 3   Age                  97 non-null     int64
 4   SSSF                 95 non-null     float64
 5   ANS                  95 non-null     float64
 6   INA                  97 non-null     int64
 7   IOB                  96 non-null     float64
 8   NAS                  96 non-null     float64
 9   NAW                  95 non-null     float64
 10  NBC                  94 non-null     float64
 11  NBS                  94 non-null     float64
 12  NFS                  95 non-null     float64
 13  OBS                  96 non-null     float64
 14  TPS                  89 non-null     float64
 15  INCA                 80 non-null     float64
 16  BREG                 83 non-null     float64
 17  PALT                 95 non-null     float64
 18  METO                 96 non-null     float64
 19  MANT                 91 non-null     float64
 20  SON                  97 non-null     int64
 21  SOF                  97 non-null     int64
 22  IFS                  95 non-null     float64
 23  ZFF                  97 non-null     int64
 24  CCO                  97 non-null     int64
 25  FOI                  96 non-null     float64
 26  FSI                  96 non-null     float64
 27  PTB                  97 non-null     int64
 28  TYM                  97 non-null     int64
 29  AUD                  97 non-null     int64
 30  MT                   97 non-null     int64
 31  NO                   94 non-null     float64
 32  PZT                  97 non-null     int64
 33  ZS                   92 non-null     float64
 34  LBM                  64 non-null     float64
 35  LBLa                 80 non-null     float64
 36  PF                   95 non-null     float64
 37  MF                   96 non-null     float64
 38  CRB                  81 non-null     float64
 39  EPB                  70 non-null     float64
 40  FTA                  81 non-null     float64
 41  PNB                  94 non-null     float64
 42  AST                  88 non-null     float64
 43  OMB                  64 non-null     float64
 44  HYP                  96 non-null     float64
 45  APF                  97 non-null     int64
 46  MHB                  97 non-null     int64
 47  MEN                  96 non-null     float64
 48  MIF                  96 non-null     float64
 49  CIV                  95 non-null     float64
 50  MFLo                 94 non-null     float64
 51  PHAR                 95 non-null     float64
 52  Population Affinity  97 non-null     object
dtypes: float64(36), int64(14), object(3)
memory usage: 40.3+ KB

In [ ]:
CES_cnm.replace(9, np.nan, inplace=True)

Add an empty row (row 97) to make the decimals uniform and then drop that row

In [ ]:
CES_cnm.loc[97] = np.nan

The output for the following code cells related to CES_cnm.tail() and CES_cnm.drop() were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
CES_cnm.tail()

In [ ]:
CES_cnm.drop(97)

In [ ]:
CES_cnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 97
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               97 non-null     float64
 1   Collection           97 non-null     object
 2   Sex                  97 non-null     object
 3   Age                  97 non-null     float64
 4   SSSF                 95 non-null     float64
 5   ANS                  95 non-null     float64
 6   INA                  97 non-null     float64
 7   IOB                  96 non-null     float64
 8   NAS                  96 non-null     float64
 9   NAW                  95 non-null     float64
 10  NBC                  94 non-null     float64
 11  NBS                  94 non-null     float64
 12  NFS                  95 non-null     float64
 13  OBS                  96 non-null     float64
 14  TPS                  89 non-null     float64
 15  INCA                 80 non-null     float64
 16  BREG                 83 non-null     float64
 17  PALT                 95 non-null     float64
 18  METO                 96 non-null     float64
 19  MANT                 91 non-null     float64
 20  SON                  97 non-null     float64
 21  SOF                  97 non-null     float64
 22  IFS                  95 non-null     float64
 23  ZFF                  97 non-null     float64
 24  CCO                  97 non-null     float64
 25  FOI                  96 non-null     float64
 26  FSI                  96 non-null     float64
 27  PTB                  97 non-null     float64
 28  TYM                  97 non-null     float64
 29  AUD                  97 non-null     float64
 30  MT                   97 non-null     float64
 31  NO                   94 non-null     float64
 32  PZT                  97 non-null     float64
 33  ZS                   92 non-null     float64
 34  LBM                  64 non-null     float64
 35  LBLa                 80 non-null     float64
 36  PF                   95 non-null     float64
 37  MF                   96 non-null     float64
 38  CRB                  81 non-null     float64
 39  EPB                  70 non-null     float64
 40  FTA                  81 non-null     float64
 41  PNB                  94 non-null     float64
 42  AST                  88 non-null     float64
 43  OMB                  64 non-null     float64
 44  HYP                  96 non-null     float64
 45  APF                  97 non-null     float64
 46  MHB                  97 non-null     float64
 47  MEN                  96 non-null     float64
 48  MIF                  96 non-null     float64
 49  CIV                  95 non-null     float64
 50  MFLo                 94 non-null     float64
 51  PHAR                 95 non-null     float64
 52  Population Affinity  97 non-null     object
dtypes: float64(50), object(3)
memory usage: 43.4+ KB

In [ ]:
CES_cnm_sorted = CES_cnm.sort_index(axis=1, ascending=False)
CES_cnm_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 97
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ZS                   92 non-null     float64
 1   ZFF                  97 non-null     float64
 2   TYM                  97 non-null     float64
 3   TPS                  89 non-null     float64
 4   SkelID               97 non-null     float64
 5   Sex                  97 non-null     object
 6   SSSF                 95 non-null     float64
 7   SON                  97 non-null     float64
 8   SOF                  97 non-null     float64
 9   Population Affinity  97 non-null     object
 10  PZT                  97 non-null     float64
 11  PTB                  97 non-null     float64
 12  PNB                  94 non-null     float64
 13  PHAR                 95 non-null     float64
 14  PF                   95 non-null     float64
 15  PALT                 95 non-null     float64
 16  OMB                  64 non-null     float64
 17  OBS                  96 non-null     float64
 18  NO                   94 non-null     float64
 19  NFS                  95 non-null     float64
 20  NBS                  94 non-null     float64
 21  NBC                  94 non-null     float64
 22  NAW                  95 non-null     float64
 23  NAS                  96 non-null     float64
 24  MT                   97 non-null     float64
 25  MIF                  96 non-null     float64
 26  MHB                  97 non-null     float64
 27  MFLo                 94 non-null     float64
 28  MF                   96 non-null     float64
 29  METO                 96 non-null     float64
 30  MEN                  96 non-null     float64
 31  MANT                 91 non-null     float64
 32  LBM                  64 non-null     float64
 33  LBLa                 80 non-null     float64
 34  IOB                  96 non-null     float64
 35  INCA                 80 non-null     float64
 36  INA                  97 non-null     float64
 37  IFS                  95 non-null     float64
 38  HYP                  96 non-null     float64
 39  FTA                  81 non-null     float64
 40  FSI                  96 non-null     float64
 41  FOI                  96 non-null     float64
 42  EPB                  70 non-null     float64
 43  Collection           97 non-null     object
 44  CRB                  81 non-null     float64
 45  CIV                  95 non-null     float64
 46  CCO                  97 non-null     float64
 47  BREG                 83 non-null     float64
 48  Age                  97 non-null     float64
 49  AUD                  97 non-null     float64
 50  AST                  88 non-null     float64
 51  APF                  97 non-null     float64
 52  ANS                  95 non-null     float64
dtypes: float64(50), object(3)
memory usage: 43.4+ KB

In [ ]:
CES_cnm = CES_cnm.rename(columns={'Population Affinity': 'Population Name'})

In [ ]:
CES_cnm.replace(9, np.nan, inplace=True)

The output for the following code cells related to CES_cnm were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, SSSF, ANS....Population Name

In [ ]:
CES_cnm.head()

In [ ]:
conditions = [
    (CES_cnm['Collection'] == 'US'),
    (CES_cnm['Collection'] == 'Japan')]
choices = ['AA', 'J']
CES_cnm['Population Code'] = np.select(conditions, choices)
print(CES_cnm)

In [ ]:
CES_cnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 97
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           97 non-null     float64
 1   Collection       97 non-null     object
 2   Sex              97 non-null     object
 3   Age              97 non-null     float64
 4   SSSF             95 non-null     float64
 5   ANS              95 non-null     float64
 6   INA              97 non-null     float64
 7   IOB              96 non-null     float64
 8   NAS              96 non-null     float64
 9   NAW              95 non-null     float64
 10  NBC              94 non-null     float64
 11  NBS              94 non-null     float64
 12  NFS              95 non-null     float64
 13  OBS              96 non-null     float64
 14  TPS              89 non-null     float64
 15  INCA             80 non-null     float64
 16  BREG             83 non-null     float64
 17  PALT             95 non-null     float64
 18  METO             96 non-null     float64
 19  MANT             91 non-null     float64
 20  SON              97 non-null     float64
 21  SOF              97 non-null     float64
 22  IFS              95 non-null     float64
 23  ZFF              97 non-null     float64
 24  CCO              97 non-null     float64
 25  FOI              96 non-null     float64
 26  FSI              96 non-null     float64
 27  PTB              97 non-null     float64
 28  TYM              97 non-null     float64
 29  AUD              97 non-null     float64
 30  MT               97 non-null     float64
 31  NO               94 non-null     float64
 32  PZT              97 non-null     float64
 33  ZS               92 non-null     float64
 34  LBM              64 non-null     float64
 35  LBLa             80 non-null     float64
 36  PF               95 non-null     float64
 37  MF               96 non-null     float64
 38  CRB              81 non-null     float64
 39  EPB              70 non-null     float64
 40  FTA              81 non-null     float64
 41  PNB              94 non-null     float64
 42  AST              88 non-null     float64
 43  OMB              64 non-null     float64
 44  HYP              96 non-null     float64
 45  APF              97 non-null     float64
 46  MHB              97 non-null     float64
 47  MEN              96 non-null     float64
 48  MIF              96 non-null     float64
 49  CIV              95 non-null     float64
 50  MFLo             94 non-null     float64
 51  PHAR             95 non-null     float64
 52  Population Name  97 non-null     object
 53  Population Code  98 non-null     object
dtypes: float64(50), object(4)
memory usage: 44.2+ KB

In [ ]:
CES_cnm.head()

In [ ]:
CES_cnm_dems = pd.DataFrame()
CES_cnm_dems['SkelID'] = CES_cnm['SkelID']
CES_cnm_dems['Collection'] = CES_cnm['Collection']
CES_cnm_dems['Sex'] = CES_cnm['Sex']
CES_cnm_dems['Age'] = CES_cnm['Age']
CES_cnm_dems['Population Name'] = CES_cnm['Population Name']
CES_cnm_dems['Population Code'] = CES_cnm['Population Code']

The output for the following code cell related to CES_cnm_dems was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code

In [ ]:
CES_cnm_dems.head()

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SSSF, ANS....PHAR

In [ ]:
CES_cnm_VarsOnly = pd.DataFrame(CES_cnm.iloc[:, 4:52])
CES_cnm_VarsOnly.head()

In [ ]:
CES_cnm_VarsOnly_sorted = CES_cnm_VarsOnly.sort_index(axis=1, ascending=True)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ANS, APF....ZS

In [ ]:
CES_cnm_VarsOnly_sorted.head()

In [ ]:
CES_cnm_prepped = pd.concat([CES_cnm_dems, CES_cnm_VarsOnly_sorted], axis=1)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS

In [ ]:
CES_cnm_prepped.head()

In [ ]:
CES_cnm_prepped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 97
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           97 non-null     float64
 1   Collection       97 non-null     object
 2   Sex              97 non-null     object
 3   Age              97 non-null     float64
 4   Population Name  97 non-null     object
 5   Population Code  98 non-null     object
 6   ANS              95 non-null     float64
 7   APF              97 non-null     float64
 8   AST              88 non-null     float64
 9   AUD              97 non-null     float64
 10  BREG             83 non-null     float64
 11  CCO              97 non-null     float64
 12  CIV              95 non-null     float64
 13  CRB              81 non-null     float64
 14  EPB              70 non-null     float64
 15  FOI              96 non-null     float64
 16  FSI              96 non-null     float64
 17  FTA              81 non-null     float64
 18  HYP              96 non-null     float64
 19  IFS              95 non-null     float64
 20  INA              97 non-null     float64
 21  INCA             80 non-null     float64
 22  IOB              96 non-null     float64
 23  LBLa             80 non-null     float64
 24  LBM              64 non-null     float64
 25  MANT             91 non-null     float64
 26  MEN              96 non-null     float64
 27  METO             96 non-null     float64
 28  MF               96 non-null     float64
 29  MFLo             94 non-null     float64
 30  MHB              97 non-null     float64
 31  MIF              96 non-null     float64
 32  MT               97 non-null     float64
 33  NAS              96 non-null     float64
 34  NAW              95 non-null     float64
 35  NBC              94 non-null     float64
 36  NBS              94 non-null     float64
 37  NFS              95 non-null     float64
 38  NO               94 non-null     float64
 39  OBS              96 non-null     float64
 40  OMB              64 non-null     float64
 41  PALT             95 non-null     float64
 42  PF               95 non-null     float64
 43  PHAR             95 non-null     float64
 44  PNB              94 non-null     float64
 45  PTB              97 non-null     float64
 46  PZT              97 non-null     float64
 47  SOF              97 non-null     float64
 48  SON              97 non-null     float64
 49  SSSF             95 non-null     float64
 50  TPS              89 non-null     float64
 51  TYM              97 non-null     float64
 52  ZFF              97 non-null     float64
 53  ZS               92 non-null     float64
dtypes: float64(50), object(4)
memory usage: 44.2+ KB

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS

In [ ]:
CES_cnm_prepped_US = CES_cnm_prepped[CES_cnm_prepped['Collection'] == 'US']
CES_cnm_prepped_US.head(100)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS

The prefix 'US-' was added to all SkelID values.

In [ ]:
CES_cnm_prepped_US['SkelID'] ='US-' + CES_cnm_prepped_US['SkelID'].astype(str)
CES_cnm_prepped_US.head()

The output for the following code cells were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS

In the second code cell, the prefix 'J-' was added to all SkelID values.

In [ ]:
CES_cnm_prepped_Japan = CES_cnm_prepped[CES_cnm_prepped['Collection'] == 'Japan']
CES_cnm_prepped_Japan.head(100)

In [ ]:
CES_cnm_prepped_Japan['SkelID'] ='J-' + CES_cnm_prepped_Japan['SkelID'].astype(str)
CES_cnm_prepped_Japan.head()

In [ ]:
CES_cnm_prepped = CES_cnm_prepped_US.append(CES_cnm_prepped_Japan)

The output for the following code cells related to CES_cnm_prepped were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS
* SkelID values include either prefix 'US-' or 'J-'

In [ ]:
CES_cnm_prepped.head()

In [ ]:
CES_cnm_prepped.tail()

In [ ]:
'''
CES_cnm = CES_cnm[['SkelID', 'Collection', 'Sex', 'Age', 'Population Name', 'Population Code', 'SSSF', 'ANS', 'INA', 'IOB', 'NAS', 'NAW', 'NBC', 'NBS', 'NFS', 'OBS', 'TPS', 'INCA', 'BREG',
                   'PALT', 'METO', 'MANT', 'SON', 'SOF', 'IFS', 'ZFF', 'CCO', 'FOI', 'FSI', 'PTB', 'TYM', 'AUD', 'MT', 'NO', 'PZT', 'ZS', 'LBM', 'LBLa', 'PF', 'MF', 'CRB', 'EPB', 'FTA',
                   'PNB', 'AST', 'OMB', 'HYP', 'APF', 'MHB', 'MEN', 'CIV', 'MFLo', 'PHAR']]
                   '''

In [ ]:
del CES_cnm_prepped['AUD']

#### Output file: CES_cnm_prepped

In [ ]:
CES_cnm_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_cnm_prepped.xlsx', index=False)

## Prep CES for Comp1 & Comp2

In [ ]:
CES_cnm_prepped = pd.read_excel('CES_cnm_prepped.xlsx')

In [ ]:
CES_cnm_prepped.head()

In [ ]:
CES_Comp1_Comp2_prepped = pd.DataFrame(CES_cnm_prepped.iloc[:,:])

In [ ]:
del CES_Comp1_Comp2_prepped['ZFF']
del CES_Comp1_Comp2_prepped['FOI']
del CES_Comp1_Comp2_prepped['FSI']
#del CES_Comp1_Comp2_prepped['AUD']
del CES_Comp1_Comp2_prepped['ANS']
del CES_Comp1_Comp2_prepped['INA']
del CES_Comp1_Comp2_prepped['IOB']
del CES_Comp1_Comp2_prepped['MT']
del CES_Comp1_Comp2_prepped['NAS']
del CES_Comp1_Comp2_prepped['NAW']
del CES_Comp1_Comp2_prepped['NBC']
del CES_Comp1_Comp2_prepped['NBS']
del CES_Comp1_Comp2_prepped['NO']
del CES_Comp1_Comp2_prepped['NFS']
del CES_Comp1_Comp2_prepped['OBS']
#del CES_Comp1_Comp2_prepped['PBD']
del CES_Comp1_Comp2_prepped['PZT']
#del CES_Comp1_Comp2_prepped['SPS']
del CES_Comp1_Comp2_prepped['TPS']
#del CES_Comp1_Comp2_prepped['PS']
del CES_Comp1_Comp2_prepped['ZS']
#del CES_Comp1_Comp2_prepped['FF']
#del CES_Comp1_Comp2_prepped['MVP']
#del CES_Comp1_Comp2_prepped['TWIG']
#del CES_Comp1_Comp2_prepped['LBSO']
#del CES_Comp1_Comp2_prepped['APIC']
#del CES_Comp1_Comp2_prepped['SAGB']

## Prep CES for Comp3 match

In [ ]:
CES_cnm_prepped = pd.read_excel('CES_cnm_prepped.xlsx')

In [ ]:
CES_cnm_prepped.head()

In [ ]:
CES_Comp3_match = pd.DataFrame()

In [ ]:
CES_Comp3_match['SkelID'] = CES_cnm_prepped['SkelID']
CES_Comp3_match['Collection'] = CES_cnm_prepped['Collection']
CES_Comp3_match['Sex'] = CES_cnm_prepped['Sex']
CES_Comp3_match['Age'] = CES_cnm_prepped['Age']
CES_Comp3_match['Population Name'] = CES_cnm_prepped['Population Name']
CES_Comp3_match['Population Code'] = CES_cnm_prepped['Population Code']
CES_Comp3_match['ANS'] = CES_cnm_prepped['ANS']
CES_Comp3_match['INA'] = CES_cnm_prepped['INA']
CES_Comp3_match['IOB'] = CES_cnm_prepped['IOB']
CES_Comp3_match['MT'] = CES_cnm_prepped['MT']
CES_Comp3_match['NAS'] = CES_cnm_prepped['NAS']
CES_Comp3_match['NAW'] = CES_cnm_prepped['NAW']
CES_Comp3_match['NBC'] = CES_cnm_prepped['NBC']
CES_Comp3_match['NBS'] = CES_cnm_prepped['NBS']
CES_Comp3_match['NO'] = CES_cnm_prepped['NO']
CES_Comp3_match['NFS'] = CES_cnm_prepped['NFS']
CES_Comp3_match['OBS'] = CES_cnm_prepped['OBS']
#CES_Comp3_match['PBD'] = CES_cnm_prepped['PBD']     # removed previously due to low IO agreement
CES_Comp3_match['PZT'] = CES_cnm_prepped['PZT']
#CES_Comp3_match['SPS'] = CES_cnm_prepped['SPS']     # removed previously due to IO agreement
CES_Comp3_match['TPS'] = CES_cnm_prepped['TPS']
#CES_Comp3_match['PS'] = CES_cnm_prepped['PS']       # removed previously because the Japan collection didn't have this trait
CES_Comp3_match['ZS'] = CES_cnm_prepped['ZS']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF...ZS

In [ ]:
CES_Comp3_match.head()

#### Output file: CES_Comp3_match

In [ ]:
CES_Comp3_match.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_Comp3_match.xlsx', index=False)

Because TMD can only handle present/absent traits, the only traits that can be used in the TMD analysis for the CES and Comp3 datasets are:


*   MT
*   NO
*   PBD
*   SPS
*   ZS

But I cannot use PBD or SPS because they had low IO agreement...so the only traits in the analysis will be MT, NO, and ZS...

In [ ]:
CES_Comp3_prepped = pd.DataFrame()

In [ ]:
CES_Comp3_prepped['SkelID'] = CES_Comp3_match['SkelID']
CES_Comp3_prepped['Collection'] = CES_Comp3_match['Collection']
CES_Comp3_prepped['Sex'] = CES_Comp3_match['Sex']
CES_Comp3_prepped['Age'] = CES_Comp3_match['Age']
CES_Comp3_prepped['Population Name'] = CES_Comp3_match['Population Name']
CES_Comp3_prepped['Population Code'] = CES_Comp3_match['Population Code']
CES_Comp3_prepped['MT'] = CES_Comp3_match['MT']
CES_Comp3_prepped['NO'] = CES_Comp3_match['NO']
CES_Comp3_prepped['PZT'] = CES_Comp3_match['PZT']
CES_Comp3_prepped['ZS'] = CES_Comp3_match['ZS']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, MT, NO, PZT, ZS

In [ ]:
CES_Comp3_prepped.head()

In [ ]:
CES_Comp3_prepped['MT'].unique()

array([3, 2, 1, 0])

#### Output file: CES_Comp3_for_TMD

In [ ]:
CES_Comp3_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_Comp3_prepped.xlsx', index=False)

---

# Comp1 data

In [ ]:
Comp1_cnm = pd.read_excel('Comp1_cnm_for_analysis.xlsx')

The output for the following code cells were removed to protect PII and/or the raw data. The outputs contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, Lamb Oss Med R, Lamb Odd Med L....

In [ ]:
Comp1_cnm.head()

In [ ]:
Comp1_cnm.info()

### Rename Comp1 data

In [ ]:
Comp1cnm_renamed = Comp1_cnm.rename(columns={'Meto': 'METO',
                                  'Inca': 'INCA',
                                  'Lamb Oss Med R': 'LBMR',
                                  'Lamb Oss Med L': 'LBML',
                                  'Lamb Oss Lat R': 'LBLaR',
                                  'Lamb Oss Lat L': 'LBLaL',
                                  'Mast for R': 'OMBR',
                                  'Mast for L': 'OMBL',
                                  'Oss Ast R': 'ASTR',
                                  'Oss Ast L': 'ASTL',
                                  'Par not R': 'PNBR',
                                  'Par not L': 'PNBL',
                                  'Pharyng fos': 'PHAR',
                                  'Ant cc dbl R': 'HYPR',
                                  'Ant cc dbl L': 'HYPL',
                                  'Os Mast R': 'OMBR',
                                  'Os Mast L': 'OMBL',
                                  'Huschke R': 'TYMR',
                                  'Huschke L': 'TYML',
                                  'Sup comp R': 'SOFR',
                                  'Sup comp L': 'SOFL',
                                  'Acc mf R': 'MENR',
                                  'Acc mf L': 'MENL',
                                  'Mylo brg R': 'MHBR',
                                  'Mylo brg L': 'MHBL',
                                  'Par Form R': 'PFR',
                                  'Par Form L': 'PFL',
                                  'Mast for R': 'MFR',
                                  'Mast for L': 'MFL',
                                  'Cor oss R': 'CRBR',
                                  'Cor oss L': 'CRBL',
                                  'Epit R': 'EPBR',
                                  'Epit L': 'EPBL',
                                  'F-T Art R': 'FTAR',
                                  'F-T Art L': 'FTAL',
                                  'Acc pal R': 'APFR',
                                  'Acc pal L': 'APFL',
                                  'Sut inforb for R': 'IFSR',
                                  'Sut inforb for L': 'IFSL',
                                  'Acc infra for R': 'MIFR',
                                  'Acc infra for L': 'MIFL',
                                  'Sag oss': 'SAGB',
                                  'Bregma bone': 'BREG',
                                  'Pal torus': 'PALT',
                                  'Mand torus': 'MANT',
                                  'Sup left': 'SSSF',
                                  'Mast for exsut R': 'MFLoR',
                                  'Mast for exsut L': 'MFLoL',
                                  'Fr for R': 'FFR',
                                  'Fr for L': 'FFL',
                                  'Oss lambda': 'APIC'})
Comp1cnm_renamed.info()

### Collapse Comp1 sided traits

In [ ]:
Comp1_cnm_sidedVars_collapsing = pd.DataFrame(Comp1cnm_renamed.iloc[:, 6:46])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* LBMR, LBML....MENR, MENL

In [ ]:
Comp1_cnm_sidedVars_collapsing.head()

In [ ]:
Comp1_cnm_sidedVars_collapsing.info()

In [ ]:
our_column_names = []                    # create an empty list for the column names
for t in list(Comp1_cnm_sidedVars_collapsing.columns):
    if t[-1] == 'L':                     # find all column names that end in L (double check that on Lefts end in L prior to this step)
        our_column_names.append(t[:-1])  # t[:-1] truncates the last letter (L or R) from the col name
print(our_column_names)

['LBM', 'LBLa', 'PF', 'MF', 'MFLo', 'CRB', 'EPB', 'FTA', 'PNB', 'AST', 'OMB', 'TYM', 'HYP', 'APF', 'SOF', 'FF', 'IFS', 'MIF', 'MHB', 'MEN']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* LBMR, LBML....MENR, MENL

In [ ]:
Comp1_cnm_sidedVars_collapsing.head()

In [ ]:
for c in our_column_names:
    c_l = c +'L'                                # loop through all Lefts in variable c_l
    c_r = c + 'R'                               # loop through all Rights in variable c_r
    #print(value)
    Comp1_cnm_sidedVars_collapsing[c] = Comp1_cnm_sidedVars_collapsing[c_l]                     # overwrite the base (unsided) column variables (c) with Left values (c_l)
    Comp1_cnm_sidedVars_collapsing['mask'] = (Comp1_cnm_sidedVars_collapsing[c].isnull())       # create a mask variable where all NaNs will be True

    Comp1_cnm_sidedVars_collapsing.loc[Comp1_cnm_sidedVars_collapsing['mask'], c] = Comp1_cnm_sidedVars_collapsing[c_r] # for rows that have NaNs in 'mask', overwrite the corresponding value in c with the value from the Right side (c_r)
    print(Comp1_cnm_sidedVars_collapsing[c].tail(15))                   # print the unsided columns tail to check for
#print(Comp1_cnm_sidedVars_collapsing['SON'].head())
#print(Comp1_cnm_sidedVars_collapsing['FOI'].tail(10))

225    1.0
226    0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    NaN
232    0.0
233    0.0
234    0.0
235    0.0
236    NaN
237    0.0
238    1.0
239    0.0
Name: LBM, dtype: float64
225    0.0
226    0.0
227    1.0
228    0.0
229    1.0
230    1.0
231    NaN
232    0.0
233    0.0
234    1.0
235    1.0
236    1.0
237    0.0
238    0.0
239    0.0
Name: LBLa, dtype: float64
225    1.0
226    0.0
227    1.0
228    1.0
229    1.0
230    1.0
231    1.0
232    1.0
233    1.0
234    1.0
235    0.0
236    1.0
237    1.0
238    1.0
239    1.0
Name: PF, dtype: float64
225    1.0
226    1.0
227    1.0
228    1.0
229    0.0
230    1.0
231    1.0
232    1.0
233    1.0
234    0.0
235    1.0
236    1.0
237    1.0
238    1.0
239    1.0
Name: MF, dtype: float64
225    1.0
226    0.0
227    1.0
228    0.0
229    0.0
230    0.0
231    1.0
232    0.0
233    0.0
234    0.0
235    0.0
236    0.0
237    1.0
238    1.0
239    1.0
Name: MFLo, dtype: float64
225    1.0
226    0.0
227    1.0
228    NaN
229    0.0
230    1.0
231    1.0
232    1.0
233    0.0
234    1.0
235    0.0
236    1.0
237    1.0
238    1.0
239    0.0
Name: CRB, dtype: float64
225    1.0
226    0.0
227    0.0
228    NaN
229    0.0
230    NaN
231    0.0
232    0.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: EPB, dtype: float64
225    0.0
226    0.0
227    0.0
228    NaN
229    0.0
230    1.0
231    0.0
232    0.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: FTA, dtype: float64
225    1.0
226    0.0
227    0.0
228    1.0
229    0.0
230    0.0
231    0.0
232    1.0
233    0.0
234    0.0
235    0.0
236    0.0
237    NaN
238    0.0
239    0.0
Name: PNB, dtype: float64
225    0.0
226    0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    1.0
233    0.0
234    1.0
235    0.0
236    1.0
237    0.0
238    0.0
239    0.0
Name: AST, dtype: float64
225    0.0
226    0.0
227    0.0
228    NaN
229    0.0
230    1.0
231    NaN
232    0.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    1.0
Name: OMB, dtype: float64
225    0.0
226    0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    1.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: TYM, dtype: float64
225    0.0
226    0.0
227    1.0
228    1.0
229    0.0
230    0.0
231    0.0
232    0.0
233    1.0
234    0.0
235    1.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: HYP, dtype: float64
225    0.0
226    0.0
227    0.0
228    NaN
229    0.0
230    0.0
231    1.0
232    0.0
233    0.0
234    1.0
235    0.0
236    0.0
237    1.0
238    NaN
239    0.0
Name: APF, dtype: float64
225    0.0
226    0.0
227    1.0
228    NaN
229    1.0
230    0.0
231    0.0
232    0.0
233    1.0
234    0.0
235    1.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: SOF, dtype: float64
225    0.0
226    0.0
227    1.0
228    NaN
229    0.0
230    0.0
231    0.0
232    1.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: FF, dtype: float64
225    1.0
226    1.0
227    1.0
228    NaN
229    0.0
230    0.0
231    1.0
232    1.0
233    1.0
234    1.0
235    1.0
236    0.0
237    1.0
238    0.0
239    1.0
Name: IFS, dtype: float64
225    0.0
226    1.0
227    0.0
228    NaN
229    0.0
230    0.0
231    0.0
232    1.0
233    0.0
234    0.0
235    1.0
236    0.0
237    0.0
238    0.0
239    0.0
Name: MIF, dtype: float64
225    0.0
226    NaN
227    0.0
228    0.0
229    1.0
230    0.0
231    0.0
232    1.0
233    0.0
234    0.0
235    NaN
236    0.0
237    0.0
238    0.0
239    NaN
Name: MHB, dtype: float64
225    0.0
226    NaN
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    0.0
233    0.0
234    0.0
235    NaN
236    0.0
237    0.0
238    0.0
239    NaN
Name: MEN, dtype: float64

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* LBMR, LBML....MENR, MENL

In [ ]:
Comp1_cnm_sidedVars_collapsing.head()

In [ ]:
Comp1_cnm_sidedVars_collapsing.info()

In [ ]:
Comp1_cnm_sidedVars_collapsed = pd.DataFrame(Comp1_cnm_sidedVars_collapsing.iloc[:, 40:])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* LBM, mask, LBLa....MEN

In [ ]:
Comp1_cnm_sidedVars_collapsed.head()

In [ ]:
del Comp1_cnm_sidedVars_collapsed['mask']

In [ ]:
Comp1_cnm_sidedVars_collapsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LBM     191 non-null    float64
 1   LBLa    208 non-null    float64
 2   PF      235 non-null    float64
 3   MF      237 non-null    float64
 4   MFLo    230 non-null    float64
 5   CRB     216 non-null    float64
 6   EPB     210 non-null    float64
 7   FTA     227 non-null    float64
 8   PNB     230 non-null    float64
 9   AST     229 non-null    float64
 10  OMB     222 non-null    float64
 11  TYM     224 non-null    float64
 12  HYP     235 non-null    float64
 13  APF     214 non-null    float64
 14  SOF     236 non-null    float64
 15  FF      228 non-null    float64
 16  IFS     216 non-null    float64
 17  MIF     218 non-null    float64
 18  MHB     216 non-null    float64
 19  MEN     213 non-null    float64
dtypes: float64(20)
memory usage: 37.6 KB

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, LBMR, LBML...

In [ ]:
Comp1cnm_renamed.info()

In [ ]:
dems = pd.DataFrame(Comp1cnm_renamed.iloc[:, :6])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death

In [ ]:
dems.info()

In [ ]:
Comp1_cnm_unsidedVars = pd.DataFrame(Comp1cnm_renamed.iloc[:, 46:])

In [ ]:
Comp1_cnm_unsidedVars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   APIC    210 non-null    float64
 1   INCA    232 non-null    float64
 2   SAGB    174 non-null    float64
 3   BREG    216 non-null    float64
 4   PALT    219 non-null    float64
 5   MANT    205 non-null    float64
 6   METO    232 non-null    float64
 7   PHAR    196 non-null    float64
 8   SSSF    187 non-null    float64
dtypes: float64(9)
memory usage: 17.0 KB

### Remerge Comp1 demographics, sided Vars, unsided Vars

In [ ]:
Comp1_cnm_collapsed = pd.concat([dems, Comp1_cnm_sidedVars_collapsed, Comp1_cnm_unsidedVars], axis=1)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, LBM, LBLa...

In [ ]:
Comp1_cnm_collapsed.head()

In [ ]:
Comp1_cnm_collapsed.describe()

Comp1 cnm df does not need to be recoded! I just removed FF because of the scoring error in my data.

In [ ]:
del Comp1_cnm_collapsed['FF']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, LBM, LBLa...

In [ ]:
Comp1_cnm_collapsed.head()

#### Output file: Comp1 data collapsed
This file was subsequently altered in Excel to delete rows where Race was blank

In [ ]:
Comp1_cnm_collapsed.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp1_cnm_collapsed.xlsx', index=False)

### Prep Comp1 data for analyses

In [ ]:
Comp1_cnm_collapsed = pd.read_excel('Comp1_cnm_collapsed.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, LBM, LBLa...

In [ ]:
Comp1_cnm_collapsed.info()

In [ ]:
Comp1_cnm_collapsed['SAGB'].head()

0    0.0
1    NaN
2    0.0
3    0.0
4    0.0
Name: SAGB, dtype: float64

In [ ]:
Comp1_cnm = pd.DataFrame(Comp1_cnm_collapsed.iloc[:, :])

In [ ]:
# drop SAGB from Comp1 because I dropped it from my data due to low IO agreement
del Comp1_cnm['SAGB']

# drop these columns because they are not in my data
del Comp1_cnm['Birth Year']
del Comp1_cnm['Curator']
#del Comp1_cnm['FF']

# drop APIC because I had to drop it from my data from Japan didn't have it

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Curator, Sex, Race, Birth Year, Age at Death, LBM, LBLa...

In [ ]:
Comp1_cnm.info()

In [ ]:
Comp1_cnm = Comp1_cnm.rename(columns={'ID': 'SkelID', 'Race': 'Population Affinity',
                                         'Age at Death': 'Age'})

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               236 non-null    int64
 1   Sex                  236 non-null    object
 2   Population Affinity  236 non-null    object
 3   Age                  187 non-null    object
 4   LBM                  188 non-null    float64
 5   LBLa                 205 non-null    float64
 6   PF                   231 non-null    float64
 7   MF                   233 non-null    float64
 8   MFLo                 226 non-null    float64
 9   CRB                  212 non-null    float64
 10  EPB                  207 non-null    float64
 11  FTA                  223 non-null    float64
 12  PNB                  226 non-null    float64
 13  AST                  225 non-null    float64
 14  OMB                  218 non-null    float64
 15  TYM                  220 non-null    float64
 16  HYP                  232 non-null    float64
 17  APF                  211 non-null    float64
 18  SOF                  232 non-null    float64
 19  IFS                  213 non-null    float64
 20  MIF                  215 non-null    float64
 21  MHB                  213 non-null    float64
 22  MEN                  210 non-null    float64
 23  APIC                 206 non-null    float64
 24  INCA                 228 non-null    float64
 25  BREG                 212 non-null    float64
 26  PALT                 215 non-null    float64
 27  MANT                 202 non-null    float64
 28  METO                 228 non-null    float64
 29  PHAR                 192 non-null    float64
 30  SSSF                 184 non-null    float64
dtypes: float64(27), int64(1), object(3)
memory usage: 57.3+ KB

In [ ]:
Comp1_cnm['Collection'] = 'Comp1'

In [ ]:
Comp1_cnm.head()

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               236 non-null    int64
 1   Sex                  236 non-null    object
 2   Population Affinity  236 non-null    object
 3   Age                  187 non-null    object
 4   LBM                  188 non-null    float64
 5   LBLa                 205 non-null    float64
 6   PF                   231 non-null    float64
 7   MF                   233 non-null    float64
 8   MFLo                 226 non-null    float64
 9   CRB                  212 non-null    float64
 10  EPB                  207 non-null    float64
 11  FTA                  223 non-null    float64
 12  PNB                  226 non-null    float64
 13  AST                  225 non-null    float64
 14  OMB                  218 non-null    float64
 15  TYM                  220 non-null    float64
 16  HYP                  232 non-null    float64
 17  APF                  211 non-null    float64
 18  SOF                  232 non-null    float64
 19  IFS                  213 non-null    float64
 20  MIF                  215 non-null    float64
 21  MHB                  213 non-null    float64
 22  MEN                  210 non-null    float64
 23  APIC                 206 non-null    float64
 24  INCA                 228 non-null    float64
 25  BREG                 212 non-null    float64
 26  PALT                 215 non-null    float64
 27  MANT                 202 non-null    float64
 28  METO                 228 non-null    float64
 29  PHAR                 192 non-null    float64
 30  SSSF                 184 non-null    float64
 31  Collection           236 non-null    object
dtypes: float64(27), int64(1), object(4)
memory usage: 59.1+ KB

In [ ]:
# add empty columns to match the other three dfs

Comp1_cnm['SON'] = np.nan
Comp1_cnm['PTB'] = np.nan
Comp1_cnm['CIV'] = np.nan
Comp1_cnm['ZFF'] = np.nan
Comp1_cnm['CCO'] = np.nan
Comp1_cnm['FOI'] = np.nan
Comp1_cnm['FSI'] = np.nan
Comp1_cnm['AUD'] = np.nan
Comp1_cnm['ANS'] = np.nan
Comp1_cnm['INA'] = np.nan
Comp1_cnm['IOB'] = np.nan
Comp1_cnm['MT'] = np.nan
Comp1_cnm['NAS'] = np.nan
Comp1_cnm['NAW'] = np.nan
Comp1_cnm['NBC'] = np.nan
Comp1_cnm['NBS'] = np.nan
Comp1_cnm['NO'] = np.nan
Comp1_cnm['NFS'] = np.nan
Comp1_cnm['OBS'] = np.nan
#Comp1_cnm['PBD'] = np.nan
Comp1_cnm['PZT'] = np.nan
#Comp1_cnm['SPS'] = np.nan
Comp1_cnm['TPS'] = np.nan
#Comp1_cnm['PS'] = np.nan
Comp1_cnm['ZS'] = np.nan
#Comp1_cnm['LBSO'] = np.nan
Comp1_cnm['FF'] = np.nan
#Comp1_cnm['MVP'] = np.nan
#Comp1_cnm['TWIG'] = np.nan

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               236 non-null    int64
 1   Sex                  236 non-null    object
 2   Population Affinity  236 non-null    object
 3   Age                  187 non-null    object
 4   LBM                  188 non-null    float64
 5   LBLa                 205 non-null    float64
 6   PF                   231 non-null    float64
 7   MF                   233 non-null    float64
 8   MFLo                 226 non-null    float64
 9   CRB                  212 non-null    float64
 10  EPB                  207 non-null    float64
 11  FTA                  223 non-null    float64
 12  PNB                  226 non-null    float64
 13  AST                  225 non-null    float64
 14  OMB                  218 non-null    float64
 15  TYM                  220 non-null    float64
 16  HYP                  232 non-null    float64
 17  APF                  211 non-null    float64
 18  SOF                  232 non-null    float64
 19  IFS                  213 non-null    float64
 20  MIF                  215 non-null    float64
 21  MHB                  213 non-null    float64
 22  MEN                  210 non-null    float64
 23  APIC                 206 non-null    float64
 24  INCA                 228 non-null    float64
 25  BREG                 212 non-null    float64
 26  PALT                 215 non-null    float64
 27  MANT                 202 non-null    float64
 28  METO                 228 non-null    float64
 29  PHAR                 192 non-null    float64
 30  SSSF                 184 non-null    float64
 31  Collection           236 non-null    object
 32  SON                  0 non-null      float64
 33  PTB                  0 non-null      float64
 34  CIV                  0 non-null      float64
 35  ZFF                  0 non-null      float64
 36  CCO                  0 non-null      float64
 37  FOI                  0 non-null      float64
 38  FSI                  0 non-null      float64
 39  AUD                  0 non-null      float64
 40  ANS                  0 non-null      float64
 41  INA                  0 non-null      float64
 42  IOB                  0 non-null      float64
 43  MT                   0 non-null      float64
 44  NAS                  0 non-null      float64
 45  NAW                  0 non-null      float64
 46  NBC                  0 non-null      float64
 47  NBS                  0 non-null      float64
 48  NO                   0 non-null      float64
 49  NFS                  0 non-null      float64
 50  OBS                  0 non-null      float64
 51  PZT                  0 non-null      float64
 52  TPS                  0 non-null      float64
 53  ZS                   0 non-null      float64
 54  FF                   0 non-null      float64
dtypes: float64(50), int64(1), object(4)
memory usage: 101.5+ KB

In [ ]:
del Comp1_cnm['FF']

In [ ]:
del Comp1_cnm['APIC']

In [ ]:
Comp1_cnm_sorted = Comp1_cnm.sort_index(axis=1, ascending=True)
Comp1_cnm_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANS                  0 non-null      float64
 1   APF                  211 non-null    float64
 2   AST                  225 non-null    float64
 3   AUD                  0 non-null      float64
 4   Age                  187 non-null    object
 5   BREG                 212 non-null    float64
 6   CCO                  0 non-null      float64
 7   CIV                  0 non-null      float64
 8   CRB                  212 non-null    float64
 9   Collection           236 non-null    object
 10  EPB                  207 non-null    float64
 11  FOI                  0 non-null      float64
 12  FSI                  0 non-null      float64
 13  FTA                  223 non-null    float64
 14  HYP                  232 non-null    float64
 15  IFS                  213 non-null    float64
 16  INA                  0 non-null      float64
 17  INCA                 228 non-null    float64
 18  IOB                  0 non-null      float64
 19  LBLa                 205 non-null    float64
 20  LBM                  188 non-null    float64
 21  MANT                 202 non-null    float64
 22  MEN                  210 non-null    float64
 23  METO                 228 non-null    float64
 24  MF                   233 non-null    float64
 25  MFLo                 226 non-null    float64
 26  MHB                  213 non-null    float64
 27  MIF                  215 non-null    float64
 28  MT                   0 non-null      float64
 29  NAS                  0 non-null      float64
 30  NAW                  0 non-null      float64
 31  NBC                  0 non-null      float64
 32  NBS                  0 non-null      float64
 33  NFS                  0 non-null      float64
 34  NO                   0 non-null      float64
 35  OBS                  0 non-null      float64
 36  OMB                  218 non-null    float64
 37  PALT                 215 non-null    float64
 38  PF                   231 non-null    float64
 39  PHAR                 192 non-null    float64
 40  PNB                  226 non-null    float64
 41  PTB                  0 non-null      float64
 42  PZT                  0 non-null      float64
 43  Population Affinity  236 non-null    object
 44  SOF                  232 non-null    float64
 45  SON                  0 non-null      float64
 46  SSSF                 184 non-null    float64
 47  Sex                  236 non-null    object
 48  SkelID               236 non-null    int64
 49  TPS                  0 non-null      float64
 50  TYM                  220 non-null    float64
 51  ZFF                  0 non-null      float64
 52  ZS                   0 non-null      float64
dtypes: float64(48), int64(1), object(4)
memory usage: 97.8+ KB

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SkelID               236 non-null    int64
 1   Sex                  236 non-null    object
 2   Population Affinity  236 non-null    object
 3   Age                  187 non-null    object
 4   LBM                  188 non-null    float64
 5   LBLa                 205 non-null    float64
 6   PF                   231 non-null    float64
 7   MF                   233 non-null    float64
 8   MFLo                 226 non-null    float64
 9   CRB                  212 non-null    float64
 10  EPB                  207 non-null    float64
 11  FTA                  223 non-null    float64
 12  PNB                  226 non-null    float64
 13  AST                  225 non-null    float64
 14  OMB                  218 non-null    float64
 15  TYM                  220 non-null    float64
 16  HYP                  232 non-null    float64
 17  APF                  211 non-null    float64
 18  SOF                  232 non-null    float64
 19  IFS                  213 non-null    float64
 20  MIF                  215 non-null    float64
 21  MHB                  213 non-null    float64
 22  MEN                  210 non-null    float64
 23  INCA                 228 non-null    float64
 24  BREG                 212 non-null    float64
 25  PALT                 215 non-null    float64
 26  MANT                 202 non-null    float64
 27  METO                 228 non-null    float64
 28  PHAR                 192 non-null    float64
 29  SSSF                 184 non-null    float64
 30  Collection           236 non-null    object
 31  SON                  0 non-null      float64
 32  PTB                  0 non-null      float64
 33  CIV                  0 non-null      float64
 34  ZFF                  0 non-null      float64
 35  CCO                  0 non-null      float64
 36  FOI                  0 non-null      float64
 37  FSI                  0 non-null      float64
 38  AUD                  0 non-null      float64
 39  ANS                  0 non-null      float64
 40  INA                  0 non-null      float64
 41  IOB                  0 non-null      float64
 42  MT                   0 non-null      float64
 43  NAS                  0 non-null      float64
 44  NAW                  0 non-null      float64
 45  NBC                  0 non-null      float64
 46  NBS                  0 non-null      float64
 47  NO                   0 non-null      float64
 48  NFS                  0 non-null      float64
 49  OBS                  0 non-null      float64
 50  PZT                  0 non-null      float64
 51  TPS                  0 non-null      float64
 52  ZS                   0 non-null      float64
dtypes: float64(48), int64(1), object(4)
memory usage: 97.8+ KB

In [ ]:
Comp1_cnm = Comp1_cnm.rename(columns = {'Population Affinity': 'Population Name'})

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           236 non-null    int64
 1   Sex              236 non-null    object
 2   Population Name  236 non-null    object
 3   Age              187 non-null    object
 4   LBM              188 non-null    float64
 5   LBLa             205 non-null    float64
 6   PF               231 non-null    float64
 7   MF               233 non-null    float64
 8   MFLo             226 non-null    float64
 9   CRB              212 non-null    float64
 10  EPB              207 non-null    float64
 11  FTA              223 non-null    float64
 12  PNB              226 non-null    float64
 13  AST              225 non-null    float64
 14  OMB              218 non-null    float64
 15  TYM              220 non-null    float64
 16  HYP              232 non-null    float64
 17  APF              211 non-null    float64
 18  SOF              232 non-null    float64
 19  IFS              213 non-null    float64
 20  MIF              215 non-null    float64
 21  MHB              213 non-null    float64
 22  MEN              210 non-null    float64
 23  INCA             228 non-null    float64
 24  BREG             212 non-null    float64
 25  PALT             215 non-null    float64
 26  MANT             202 non-null    float64
 27  METO             228 non-null    float64
 28  PHAR             192 non-null    float64
 29  SSSF             184 non-null    float64
 30  Collection       236 non-null    object
 31  SON              0 non-null      float64
 32  PTB              0 non-null      float64
 33  CIV              0 non-null      float64
 34  ZFF              0 non-null      float64
 35  CCO              0 non-null      float64
 36  FOI              0 non-null      float64
 37  FSI              0 non-null      float64
 38  AUD              0 non-null      float64
 39  ANS              0 non-null      float64
 40  INA              0 non-null      float64
 41  IOB              0 non-null      float64
 42  MT               0 non-null      float64
 43  NAS              0 non-null      float64
 44  NAW              0 non-null      float64
 45  NBC              0 non-null      float64
 46  NBS              0 non-null      float64
 47  NO               0 non-null      float64
 48  NFS              0 non-null      float64
 49  OBS              0 non-null      float64
 50  PZT              0 non-null      float64
 51  TPS              0 non-null      float64
 52  ZS               0 non-null      float64
dtypes: float64(48), int64(1), object(4)
memory usage: 97.8+ KB

In [ ]:
Comp1_cnm['Population Name'].unique()

array(['B', 'W', 'H', 'EA'], dtype=object)

In [ ]:
#Comp1_cnm.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp1_cnm.xlsx', index=False)

In [ ]:
# drop the EA population because there are only 4 individuals

Comp1_cnm.drop(Comp1_cnm.index[Comp1_cnm['Population Name'] == 'EA'], inplace=True)

In [ ]:
Comp1_cnm['Population Name'].unique()

array(['B', 'W', 'H'], dtype=object)

In [ ]:
# rename Population Name values

Comp1_cnm['Population Name'].replace({'B': 'Black', 'W': 'White', 'H': 'Hispanic'}, inplace=True)

In [ ]:
Comp1_cnm['Population Name'].unique()

array(['Black', 'White', 'Hispanic'], dtype=object)

In [ ]:
conditions = [
    (Comp1_cnm['Population Name'] == 'Black'),
    (Comp1_cnm['Population Name'] == 'White'),
    (Comp1_cnm['Population Name'] == 'Hispanic')]
choices = ['B', 'WH', 'H']
Comp1_cnm['Population Code'] = np.select(conditions, choices)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Sex, Population Name, Age, LBM, LBLa...

In [ ]:
Comp1_cnm.head(25)

In [ ]:
Comp1_cnm['SkelID'] ='F-' + Comp1_cnm['SkelID'].astype(str)
Comp1_cnm.head()

In [ ]:
Comp1_cnm_dems = pd.DataFrame()
Comp1_cnm_dems['SkelID'] = Comp1_cnm['SkelID']
Comp1_cnm_dems['Collection'] = Comp1_cnm['Collection']
Comp1_cnm_dems['Sex'] = Comp1_cnm['Sex']
Comp1_cnm_dems['Age'] = Comp1_cnm['Age']
Comp1_cnm_dems['Population Name'] = Comp1_cnm['Population Name']
Comp1_cnm_dems['Population Code'] = Comp1_cnm['Population Code']

In [ ]:
Comp1_cnm_dems.head()

In [ ]:
Comp1_cnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 0 to 235
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           232 non-null    object
 1   Sex              232 non-null    object
 2   Population Name  232 non-null    object
 3   Age              183 non-null    object
 4   LBM              186 non-null    float64
 5   LBLa             203 non-null    float64
 6   PF               227 non-null    float64
 7   MF               229 non-null    float64
 8   MFLo             222 non-null    float64
 9   CRB              210 non-null    float64
 10  EPB              203 non-null    float64
 11  FTA              219 non-null    float64
 12  PNB              222 non-null    float64
 13  AST              221 non-null    float64
 14  OMB              214 non-null    float64
 15  TYM              216 non-null    float64
 16  HYP              228 non-null    float64
 17  APF              207 non-null    float64
 18  SOF              228 non-null    float64
 19  IFS              210 non-null    float64
 20  MIF              211 non-null    float64
 21  MHB              209 non-null    float64
 22  MEN              206 non-null    float64
 23  INCA             225 non-null    float64
 24  BREG             210 non-null    float64
 25  PALT             212 non-null    float64
 26  MANT             198 non-null    float64
 27  METO             224 non-null    float64
 28  PHAR             190 non-null    float64
 29  SSSF             180 non-null    float64
 30  Collection       232 non-null    object
 31  SON              0 non-null      float64
 32  PTB              0 non-null      float64
 33  CIV              0 non-null      float64
 34  ZFF              0 non-null      float64
 35  CCO              0 non-null      float64
 36  FOI              0 non-null      float64
 37  FSI              0 non-null      float64
 38  AUD              0 non-null      float64
 39  ANS              0 non-null      float64
 40  INA              0 non-null      float64
 41  IOB              0 non-null      float64
 42  MT               0 non-null      float64
 43  NAS              0 non-null      float64
 44  NAW              0 non-null      float64
 45  NBC              0 non-null      float64
 46  NBS              0 non-null      float64
 47  NO               0 non-null      float64
 48  NFS              0 non-null      float64
 49  OBS              0 non-null      float64
 50  PZT              0 non-null      float64
 51  TPS              0 non-null      float64
 52  ZS               0 non-null      float64
 53  Population Code  232 non-null    object
dtypes: float64(48), object(6)
memory usage: 99.7+ KB

In [ ]:
Comp1_cnm_VarsOnly = pd.DataFrame(Comp1_cnm.iloc[:, 4:53])
Comp1_cnm_VarsOnly.head()

In [ ]:
del Comp1_cnm_VarsOnly['Collection']

In [ ]:
Comp1_cnm_VarsOnly.head()

Sort columns in ascending order (A-Z)

In [ ]:
Comp1_cnm_VarsOnly_sorted = Comp1_cnm_VarsOnly.sort_index(axis=1, ascending=True)

In [ ]:
Comp1_cnm_VarsOnly_sorted.head()

In [ ]:
Comp1_cnm_prepped = pd.concat([Comp1_cnm_dems, Comp1_cnm_VarsOnly_sorted], axis=1)

In [ ]:
Comp1_cnm_prepped.head()

In [ ]:
CES_cnm_prepped.info()

In [ ]:
Comp1_cnm_prepped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 0 to 235
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           232 non-null    object
 1   Collection       232 non-null    object
 2   Sex              232 non-null    object
 3   Age              183 non-null    object
 4   Population Name  232 non-null    object
 5   Population Code  232 non-null    object
 6   ANS              0 non-null      float64
 7   APF              207 non-null    float64
 8   AST              221 non-null    float64
 9   AUD              0 non-null      float64
 10  BREG             210 non-null    float64
 11  CCO              0 non-null      float64
 12  CIV              0 non-null      float64
 13  CRB              210 non-null    float64
 14  EPB              203 non-null    float64
 15  FOI              0 non-null      float64
 16  FSI              0 non-null      float64
 17  FTA              219 non-null    float64
 18  HYP              228 non-null    float64
 19  IFS              210 non-null    float64
 20  INA              0 non-null      float64
 21  INCA             225 non-null    float64
 22  IOB              0 non-null      float64
 23  LBLa             203 non-null    float64
 24  LBM              186 non-null    float64
 25  MANT             198 non-null    float64
 26  MEN              206 non-null    float64
 27  METO             224 non-null    float64
 28  MF               229 non-null    float64
 29  MFLo             222 non-null    float64
 30  MHB              209 non-null    float64
 31  MIF              211 non-null    float64
 32  MT               0 non-null      float64
 33  NAS              0 non-null      float64
 34  NAW              0 non-null      float64
 35  NBC              0 non-null      float64
 36  NBS              0 non-null      float64
 37  NFS              0 non-null      float64
 38  NO               0 non-null      float64
 39  OBS              0 non-null      float64
 40  OMB              214 non-null    float64
 41  PALT             212 non-null    float64
 42  PF               227 non-null    float64
 43  PHAR             190 non-null    float64
 44  PNB              222 non-null    float64
 45  PTB              0 non-null      float64
 46  PZT              0 non-null      float64
 47  SOF              228 non-null    float64
 48  SON              0 non-null      float64
 49  SSSF             180 non-null    float64
 50  TPS              0 non-null      float64
 51  TYM              216 non-null    float64
 52  ZFF              0 non-null      float64
 53  ZS               0 non-null      float64
dtypes: float64(48), object(6)
memory usage: 99.7+ KB

In [ ]:
del Comp1_cnm_prepped['AUD']

#### Output file: Comp1_cnm_prepped

In [ ]:
Comp1_cnm_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp1_cnm_prepped.xlsx', index=False)

 ---

# Comp2 data

In [ ]:
Comp2_cnm = pd.read_excel('Comp2_cnm_for_analysis.xlsx')

In [ ]:
Comp2_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7471 entries, 0 to 7470
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file.name       6678 non-null   object
 1   GP1             2528 non-null   object
 2   GP2             6513 non-null   object
 3   GP3             6420 non-null   object
 4   GP4             6068 non-null   object
 5   GP5             5388 non-null   object
 6   Site            5812 non-null   object
 7   CatalogNo       6678 non-null   object
 8   Museum          6678 non-null   object
 9   AgeC            6678 non-null   float64
 10  AgeY            720 non-null    object
 11  Sex             6678 non-null   float64
 12  DeformOriginal  6678 non-null   object
 13  DeformGrade     6678 non-null   float64
 14  DeformLRS       6678 non-null   object
 15  METO            6678 non-null   float64
 16  APIC            6678 non-null   float64
 17  INCA            6678 non-null   float64
 18  OMBL            6678 non-null   float64
 19  OMBR            6678 non-null   float64
 20  ASTL            6678 non-null   float64
 21  ASTR            6678 non-null   float64
 22  PNBL            6678 non-null   float64
 23  PNBR            6678 non-null   float64
 24  POSL            6678 non-null   float64
 25  POSR            6678 non-null   float64
 26  PCTB            6678 non-null   float64
 27  ODON            6678 non-null   float64
 28  TRFS            6678 non-null   float64
 29  PHAR            6678 non-null   float64
 30  HYPL            6678 non-null   float64
 31  HYPR            6678 non-null   float64
 32  PCPL            6678 non-null   float64
 33  PCPR            6678 non-null   float64
 34  ICCL            6678 non-null   float64
 35  ICCR            6678 non-null   float64
 36  SQSL            6678 non-null   float64
 37  SQSR            6678 non-null   float64
 38  SPSL            6678 non-null   float64
 39  SPSR            6678 non-null   float64
 40  MARL            6677 non-null   float64
 41  MARR            6678 non-null   float64
 42  TYML            6678 non-null   float64
 43  TYMR            6678 non-null   float64
 44  FSPL            6678 non-null   float64
 45  FSPR            6678 non-null   float64
 46  LPFL            6678 non-null   float64
 47  LPFR            6678 non-null   float64
 48  CIVL            6678 non-null   float64
 49  CIVR            6678 non-null   float64
 50  PTBL            6678 non-null   float64
 51  PTBR            6678 non-null   float64
 52  CLNL            6678 non-null   float64
 53  CLNR            6678 non-null   float64
 54  SOFL            6678 non-null   float64
 55  SOFR            6678 non-null   float64
 56  FRGL            6678 non-null   float64
 57  FRGR            6678 non-null   float64
 58  TRSL            6678 non-null   float64
 59  TRSR            6678 non-null   float64
 60  OPTL            6676 non-null   float64
 61  OPTR            6678 non-null   float64
 62  ORBL            6678 non-null   float64
 63  ORBR            6678 non-null   float64
 64  CONL            6678 non-null   float64
 65  CONR            6678 non-null   float64
 66  JAPL            6678 non-null   float64
 67  JAPR            6678 non-null   float64
 68  M3UL            6678 non-null   float64
 69  M3UR            6678 non-null   float64
 70  MENL            6678 non-null   float64
 71  MENR            6678 non-null   float64
 72  MHBL            6678 non-null   float64
 73  MHBR            6678 non-null   float64
 74  BUCL            6678 non-null   float64
 75  BUCR            6678 non-null   float64
 76  M3LL            6678 non-null   float64
 77  M3LR            6678 non-null   float64
 78  TRML            6678 non-null   float64
 79  TRMR            6678 non-null   float64
 80  ATAL            6678 non-null   float64
 81  ATAR            6678 non-null   float64
 82  ATBL            6678 non-null   float64
 83  ATBR            6678 non-null   float64
dtypes: float64(72), object(12)
memory usage: 4.8+ MB

In [ ]:
Comp2_cnm.head()

### Rename Comp2 data

In [ ]:
Comp2_cnm_renamed = Comp2_cnm.rename(columns={'CONL': 'IFSL',
                                  'CONR': 'IFSR',
                                  'POSR': 'CCOR',
                                  'POSL': 'CCOL'})
Comp2_cnm_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7471 entries, 0 to 7470
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file.name       6678 non-null   object
 1   GP1             2528 non-null   object
 2   GP2             6513 non-null   object
 3   GP3             6420 non-null   object
 4   GP4             6068 non-null   object
 5   GP5             5388 non-null   object
 6   Site            5812 non-null   object
 7   CatalogNo       6678 non-null   object
 8   Museum          6678 non-null   object
 9   AgeC            6678 non-null   float64
 10  AgeY            720 non-null    object
 11  Sex             6678 non-null   float64
 12  DeformOriginal  6678 non-null   object
 13  DeformGrade     6678 non-null   float64
 14  DeformLRS       6678 non-null   object
 15  METO            6678 non-null   float64
 16  APIC            6678 non-null   float64
 17  INCA            6678 non-null   float64
 18  OMBL            6678 non-null   float64
 19  OMBR            6678 non-null   float64
 20  ASTL            6678 non-null   float64
 21  ASTR            6678 non-null   float64
 22  PNBL            6678 non-null   float64
 23  PNBR            6678 non-null   float64
 24  CCOL            6678 non-null   float64
 25  CCOR            6678 non-null   float64
 26  PCTB            6678 non-null   float64
 27  ODON            6678 non-null   float64
 28  TRFS            6678 non-null   float64
 29  PHAR            6678 non-null   float64
 30  HYPL            6678 non-null   float64
 31  HYPR            6678 non-null   float64
 32  PCPL            6678 non-null   float64
 33  PCPR            6678 non-null   float64
 34  ICCL            6678 non-null   float64
 35  ICCR            6678 non-null   float64
 36  SQSL            6678 non-null   float64
 37  SQSR            6678 non-null   float64
 38  SPSL            6678 non-null   float64
 39  SPSR            6678 non-null   float64
 40  MARL            6677 non-null   float64
 41  MARR            6678 non-null   float64
 42  TYML            6678 non-null   float64
 43  TYMR            6678 non-null   float64
 44  FSPL            6678 non-null   float64
 45  FSPR            6678 non-null   float64
 46  LPFL            6678 non-null   float64
 47  LPFR            6678 non-null   float64
 48  CIVL            6678 non-null   float64
 49  CIVR            6678 non-null   float64
 50  PTBL            6678 non-null   float64
 51  PTBR            6678 non-null   float64
 52  CLNL            6678 non-null   float64
 53  CLNR            6678 non-null   float64
 54  SOFL            6678 non-null   float64
 55  SOFR            6678 non-null   float64
 56  FRGL            6678 non-null   float64
 57  FRGR            6678 non-null   float64
 58  TRSL            6678 non-null   float64
 59  TRSR            6678 non-null   float64
 60  OPTL            6676 non-null   float64
 61  OPTR            6678 non-null   float64
 62  ORBL            6678 non-null   float64
 63  ORBR            6678 non-null   float64
 64  IFSL            6678 non-null   float64
 65  IFSR            6678 non-null   float64
 66  JAPL            6678 non-null   float64
 67  JAPR            6678 non-null   float64
 68  M3UL            6678 non-null   float64
 69  M3UR            6678 non-null   float64
 70  MENL            6678 non-null   float64
 71  MENR            6678 non-null   float64
 72  MHBL            6678 non-null   float64
 73  MHBR            6678 non-null   float64
 74  BUCL            6678 non-null   float64
 75  BUCR            6678 non-null   float64
 76  M3LL            6678 non-null   float64
 77  M3LR            6678 non-null   float64
 78  TRML            6678 non-null   float64
 79  TRMR            6678 non-null   float64
 80  ATAL            6678 non-null   float64
 81  ATAR            6678 non-null   float64
 82  ATBL            6678 non-null   float64
 83  ATBR            6678 non-null   float64
dtypes: float64(72), object(12)
memory usage: 4.8+ MB

In [ ]:
Comp2_cnm_renamed_keep = pd.DataFrame(Comp2_cnm_renamed.iloc[:, :12])

In [ ]:
Comp2_cnm_renamed_keep['Collection'] = 'Comp2'

In [ ]:
Comp2_cnm_renamed_keep.head()

In [ ]:
Comp2_cnm_renamed_keep['METO'] = Comp2_cnm_renamed['METO']
Comp2_cnm_renamed_keep['INCA'] = Comp2_cnm_renamed['INCA']
Comp2_cnm_renamed_keep['PHAR'] = Comp2_cnm_renamed['PHAR']
Comp2_cnm_renamed_keep['APIC'] = Comp2_cnm_renamed['APIC']

In [ ]:
Comp2_cnm_renamed_keep.head()

### Collapse Comp2 sided traits

In [ ]:
selected_columns = Comp2_cnm_renamed[['OMBL', 'OMBR', 'ASTL', 'ASTR', 'PNBL', 'PNBR',
                                          'HYPL', 'HYPR', 'TYML', 'TYMR', 'CIVL', 'CIVR',
                                          'PTBL', 'PTBR', 'SOFL', 'SOFR', 'MENL', 'MENR',
                                          'MHBL', 'MHBR', 'IFSL', 'IFSR', 'CCOL', 'CCOR']]
Comp2_cnm_sidedVars_collapsing = selected_columns.copy()

In [ ]:
Comp2_cnm_sidedVars_collapsing.head()

In [ ]:
our_column_names = []                    # create an empty list for the column names
for t in list(Comp2_cnm_sidedVars_collapsing.columns):
    if t[-1] == 'L':                     # find all column names that end in L (double check that on Lefts end in L prior to this step)
        our_column_names.append(t[:-1])  # t[:-1] truncates the last letter (L or R) from the col name
print(our_column_names)

['OMB', 'AST', 'PNB', 'HYP', 'TYM', 'CIV', 'PTB', 'SOF', 'MEN', 'MHB', 'IFS', 'CCO']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* LBMR, LBML, LBLaR, LBLaL...MENR, MENL

In [ ]:
Comp2_cnm_sidedVars_collapsing.head()

In [ ]:
for c in our_column_names:
    c_l = c +'L'                                # loop through all Lefts in variable c_l
    c_r = c + 'R'                               # loop through all Rights in variable c_r
    #print(value)
    Comp2_cnm_sidedVars_collapsing[c] = Comp2_cnm_sidedVars_collapsing[c_l]                     # overwrite the base (unsided) column variables (c) with Left values (c_l)
    Comp2_cnm_sidedVars_collapsing['mask'] = (Comp2_cnm_sidedVars_collapsing[c].isnull())       # create a mask variable where all NaNs will be True

    Comp2_cnm_sidedVars_collapsing.loc[Comp2_cnm_sidedVars_collapsing['mask'], c] = Comp2_cnm_sidedVars_collapsing[c_r] # for rows that have NaNs in 'mask', overwrite the corresponding value in c with the value from the Right side (c_r)
    print(Comp2_cnm_sidedVars_collapsing[c].tail(15))                   # print the unsided columns tail to check for
#print(Comp2_cnm_sidedVars_collapsing['SON'].head())
#print(Comp2_cnm_sidedVars_collapsing['FOI'].tail(10))

In [ ]:
del Comp2_cnm_sidedVars_collapsing['mask']

In [ ]:
Comp2_cnm_sidedVars_collapsing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7471 entries, 0 to 7470
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   OMBL    6678 non-null   float64
 1   OMBR    6678 non-null   float64
 2   ASTL    6678 non-null   float64
 3   ASTR    6678 non-null   float64
 4   PNBL    6678 non-null   float64
 5   PNBR    6678 non-null   float64
 6   HYPL    6678 non-null   float64
 7   HYPR    6678 non-null   float64
 8   TYML    6678 non-null   float64
 9   TYMR    6678 non-null   float64
 10  CIVL    6678 non-null   float64
 11  CIVR    6678 non-null   float64
 12  PTBL    6678 non-null   float64
 13  PTBR    6678 non-null   float64
 14  SOFL    6678 non-null   float64
 15  SOFR    6678 non-null   float64
 16  MENL    6678 non-null   float64
 17  MENR    6678 non-null   float64
 18  MHBL    6678 non-null   float64
 19  MHBR    6678 non-null   float64
 20  IFSL    6678 non-null   float64
 21  IFSR    6678 non-null   float64
 22  CCOL    6678 non-null   float64
 23  CCOR    6678 non-null   float64
 24  OMB     6678 non-null   float64
 25  AST     6678 non-null   float64
 26  PNB     6678 non-null   float64
 27  HYP     6678 non-null   float64
 28  TYM     6678 non-null   float64
 29  CIV     6678 non-null   float64
 30  PTB     6678 non-null   float64
 31  SOF     6678 non-null   float64
 32  MEN     6678 non-null   float64
 33  MHB     6678 non-null   float64
 34  IFS     6678 non-null   float64
 35  CCO     6678 non-null   float64
dtypes: float64(36)
memory usage: 2.1 MB

In [ ]:
Comp2_cnm_sidedVars_collapsed = pd.DataFrame(Comp2_cnm_sidedVars_collapsing.iloc[:, 24:])

In [ ]:
Comp2_cnm_sidedVars_collapsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7471 entries, 0 to 7470
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   OMB     6678 non-null   float64
 1   AST     6678 non-null   float64
 2   PNB     6678 non-null   float64
 3   HYP     6678 non-null   float64
 4   TYM     6678 non-null   float64
 5   CIV     6678 non-null   float64
 6   PTB     6678 non-null   float64
 7   SOF     6678 non-null   float64
 8   MEN     6678 non-null   float64
 9   MHB     6678 non-null   float64
 10  IFS     6678 non-null   float64
 11  CCO     6678 non-null   float64
dtypes: float64(12)
memory usage: 700.5 KB

In [ ]:
Comp2_cnm_collapsed = pd.concat([Comp2_cnm_renamed_keep, Comp2_cnm_sidedVars_collapsed], axis=1)

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* file.name, GP1, GP2, GP3, GP4, GP5, Site, CatalogNo, Museum, AgeC, AgeY, Sex, Collection, METO, INCA...

In [ ]:
Comp2_cnm_collapsed.head()

In [ ]:
Comp2_cnm_recoded = pd.DataFrame(Comp2_cnm_collapsed.iloc[:, :])

In [ ]:
Comp2_cnm_recoded['PHAR'] = Comp2_cnm_collapsed['PHAR'].replace([0.0, 1.0, 2.0, 3.0], [0, 1, 1, 1])
Comp2_cnm_recoded['SOF'] = Comp2_cnm_collapsed['SOF'].replace([0.0, 1.0, 2.0], [0, 1, 1])
Comp2_cnm_recoded['CCO'] = Comp2_cnm_collapsed['CCO'].replace([0.0, 1.0], [1, 0])

In [ ]:
Comp2_cnm_recoded.head()

#### Output file: Comp2 data recoded

In [ ]:
Comp2_cnm_recoded.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp2_cnm_recoded.xlsx', index=False)

### Prep Comp2 data for analyses
*Comp2_cnm_recoded_popAff.xlsx* is the *Comp2_cnm_recoded.xlsx* file with Population Affinity added manually in Excel

In [ ]:
Comp2_cnm_recoded_popAff = pd.read_excel('Comp2_cnm_recoded_popAff.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* file.name, GP1, GP2, GP3, GP4, GP5, Site, CatalogNo, Museum, AgeC, AgeY, Sex, Collection, METO, INCA...

In [ ]:
Comp2_cnm_recoded_popAff.head()

In [ ]:
Comp2_cnm_recoded_popAff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6678 entries, 0 to 6677
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   file.name        6678 non-null   object
 1   Population Code  6678 non-null   object
 2   Population Name  6678 non-null   object
 3   GP1              2528 non-null   object
 4   GP2              6513 non-null   object
 5   GP3              6420 non-null   object
 6   GP4              6068 non-null   object
 7   GP5              5388 non-null   object
 8   Site             5812 non-null   object
 9   CatalogNo        6678 non-null   object
 10  Museum           6678 non-null   object
 11  AgeC             6678 non-null   int64
 12  AgeY             720 non-null    object
 13  Sex              6678 non-null   int64
 14  Collection       6678 non-null   object
 15  METO             6678 non-null   int64
 16  INCA             6678 non-null   int64
 17  PHAR             6678 non-null   int64
 18  APIC             6678 non-null   int64
 19  OMB              6678 non-null   int64
 20  AST              6678 non-null   int64
 21  PNB              6678 non-null   int64
 22  HYP              6678 non-null   int64
 23  TYM              6678 non-null   int64
 24  CIV              6678 non-null   int64
 25  PTB              6678 non-null   int64
 26  SOF              6678 non-null   int64
 27  MEN              6678 non-null   int64
 28  MHB              6678 non-null   int64
 29  IFS              6678 non-null   int64
 30  CCO              6678 non-null   int64
dtypes: int64(18), object(13)
memory usage: 1.6+ MB

#### Remove pop count < 5

In [ ]:
Comp2_cnm_recoded_popAff[Comp2_cnm_recoded_popAff['Population Code'] == 'CAM']

In [ ]:
Comp2_cnm_recoded_popAff['Population Code'].value_counts(ascending=True)

FR        1
LIB       2
CAM       2
EU        4
GAB       6
GE        7
BV        7
PT       12
CZ       13
RU       13
TF       14
CHAT     20
KEN      21
NIG      28
GHA      31
CH       32
NFL      35
IC       38
NZ       44
TAN      47
AU       50
MQ       51
NN       52
HU       58
MON      59
S        60
USB      60
ONT      63
SUD      67
CHN      68
SIE      87
ILL      92
ARM     117
IND     118
PEC     152
AT      165
SIB     176
HK      189
N       192
PLT     205
CAN     216
PLN     225
W       267
CAR     328
EAR     333
SLS     348
C       357
NMV     366
AL      395
NAL     414
NPC     428
SAL     543
Name: Population Code, dtype: int64

In [ ]:
# Remove CAM, LIB, EU, and FR because each of these populations has less than 5 individuals

Comp2_cnm_recoded_popAff.drop(Comp2_cnm_recoded_popAff.index[Comp2_cnm_recoded_popAff['Population Code'] == 'FR'], inplace=True)
Comp2_cnm_recoded_popAff.drop(Comp2_cnm_recoded_popAff.index[Comp2_cnm_recoded_popAff['Population Code'] == 'LIB'], inplace=True)
Comp2_cnm_recoded_popAff.drop(Comp2_cnm_recoded_popAff.index[Comp2_cnm_recoded_popAff['Population Code'] == 'CAM'], inplace=True)
Comp2_cnm_recoded_popAff.drop(Comp2_cnm_recoded_popAff.index[Comp2_cnm_recoded_popAff['Population Code'] == 'EU'], inplace=True)

In [ ]:
# Check to make sure all populations with < 5 were removed
Comp2_cnm_recoded_popAff['Population Code'].value_counts(ascending=True)

GAB       6
BV        7
GE        7
PT       12
CZ       13
RU       13
TF       14
CHAT     20
KEN      21
NIG      28
GHA      31
CH       32
NFL      35
IC       38
NZ       44
TAN      47
AU       50
MQ       51
NN       52
HU       58
MON      59
USB      60
S        60
ONT      63
SUD      67
CHN      68
SIE      87
ILL      92
ARM     117
IND     118
PEC     152
AT      165
SIB     176
HK      189
N       192
PLT     205
CAN     216
PLN     225
W       267
CAR     328
EAR     333
SLS     348
C       357
NMV     366
AL      395
NAL     414
NPC     428
SAL     543
Name: Population Code, dtype: int64

In [ ]:
Comp2_cnm_recoded_popAff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6669 entries, 0 to 6677
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   file.name        6669 non-null   object
 1   Population Code  6669 non-null   object
 2   Population Name  6669 non-null   object
 3   GP1              2519 non-null   object
 4   GP2              6504 non-null   object
 5   GP3              6416 non-null   object
 6   GP4              6068 non-null   object
 7   GP5              5383 non-null   object
 8   Site             5812 non-null   object
 9   CatalogNo        6669 non-null   object
 10  Museum           6669 non-null   object
 11  AgeC             6669 non-null   int64
 12  AgeY             720 non-null    object
 13  Sex              6669 non-null   int64
 14  Collection       6669 non-null   object
 15  METO             6669 non-null   int64
 16  INCA             6669 non-null   int64
 17  PHAR             6669 non-null   int64
 18  APIC             6669 non-null   int64
 19  OMB              6669 non-null   int64
 20  AST              6669 non-null   int64
 21  PNB              6669 non-null   int64
 22  HYP              6669 non-null   int64
 23  TYM              6669 non-null   int64
 24  CIV              6669 non-null   int64
 25  PTB              6669 non-null   int64
 26  SOF              6669 non-null   int64
 27  MEN              6669 non-null   int64
 28  MHB              6669 non-null   int64
 29  IFS              6669 non-null   int64
 30  CCO              6669 non-null   int64
dtypes: int64(18), object(13)
memory usage: 1.6+ MB

#### Age

In [ ]:
Comp2_cnm_recoded_popAff['AgeC'].unique()

array([5, 6, 9, 8])

In [ ]:
# drop AgeC == 8 because 8s are children

Comp2_cnm_recoded_popAff.drop(Comp2_cnm_recoded_popAff.index[Comp2_cnm_recoded_popAff['AgeC'] == 8], inplace=True)

In [ ]:
Comp2_cnm_recoded_popAff['AgeC'].unique()

array([5, 6, 9])

#### Sex

In [ ]:
Comp2_sex = Comp2_cnm_recoded_popAff.groupby('Population Code').apply(lambda x: x['Sex'].value_counts())
print(Comp2_sex)

Population Code
AL               4    198
                 0    197
ARM              0     69
                 4     48
AT               4     84
                 0     81
AU               0     29
                 4     21
BV               0      4
                 4      3
C                0    223
                 4    134
CAN              0    118
                 4     98
CAR              4    165
                 0    163
CH               0     25
                 4      7
CHAT             0     11
                 4      9
CHN              0     55
                 4     13
CZ               0     10
                 4      3
EAR              4    185
                 0    148
GAB              4      3
                 0      3
GE               0      5
                 4      2
GHA              0     17
                 4     14
HK               0    102
                 4     87
HU               0     41
                 4     17
IC               4     19
                 0     19
ILL              0     51
                 4     41
IND              0     68
                 4     50
KEN              4     14
                 0      7
MON              0     35
                 4     24
MQ               0     37
                 4     14
N                0    106
                 4     86
NAL              0    218
                 4    196
NFL              0     20
                 4     15
NIG              0     15
                 4     13
NMV              0    217
                 4    147
NN               0     31
                 4     21
NPC              0    248
                 4    180
NZ               0     24
                 4     20
ONT              4     34
                 0     29
PEC              4     81
                 0     71
PLN              0    133
                 4     92
PLT              0    114
                 4     91
PT               0     10
                 4      2
RU               0     13
S                0     42
                 4     18
SAL              4    282
                 0    261
SIB              0     93
                 4     83
SIE              0     44
                 4     43
SLS              0    180
                 4    168
SUD              0     42
                 4     25
TAN              4     31
                 0     16
TF               0      9
                 4      5
USB              0     33
                 4     27
W                0    161
                 4    106
Name: Sex, dtype: int64

In [ ]:
# total number of females in the df

females = (Comp2_cnm_recoded_popAff['Sex']==4).sum()
females

3019

In [ ]:
# total number of males in the df

males = (Comp2_cnm_recoded_popAff['Sex']==0).sum()
males

3648

In [ ]:
# number of USB females

females_USB = ((Comp2_cnm_recoded_popAff['Population Code']=='USB') & (Comp2_cnm_recoded_popAff['Sex']==4)).sum()
females_USB

27

In [ ]:
# number of USB males

males_USB = ((Comp2_cnm_recoded_popAff['Population Code']=='USB') & (Comp2_cnm_recoded_popAff['Sex']==0)).sum()
males_USB

33

In [ ]:
# group the entire df by Population Code
pop = Comp2_cnm_recoded_popAff.groupby(['Population Code'])
pop.head()

In [ ]:
Comp2_cnm_recoded_popAff['Population Code'].describe()

count     6667
unique      48
top        SAL
freq       543
Name: Population Code, dtype: object

In [ ]:
Comp2_cnm_recoded_popAff['Population Code'].unique()

array(['USB', 'KEN', 'TAN', 'SUD', 'S', 'GAB', 'GHA', 'NIG', 'W', 'HK',
       'AL', 'SAL', 'SLS', 'NAL', 'CAR', 'EAR', 'ARM', 'AT', 'CAN', 'BV',
       'CZ', 'GE', 'RU', 'HU', 'IC', 'IND', 'SIE', 'C', 'N', 'NN', 'CHN',
       'MON', 'SIB', 'NMV', 'ILL', 'NFL', 'ONT', 'NPC', 'PEC', 'PLN',
       'PLT', 'CH', 'PT', 'TF', 'AU', 'CHAT', 'MQ', 'NZ'], dtype=object)

In [ ]:
# create a list of the unique Population Code values

pops = Comp2_cnm_recoded_popAff['Population Code'].unique()
pops

array(['USB', 'KEN', 'TAN', 'SUD', 'S', 'GAB', 'GHA', 'NIG', 'W', 'HK',
       'AL', 'SAL', 'SLS', 'NAL', 'CAR', 'EAR', 'ARM', 'AT', 'CAN', 'BV',
       'CZ', 'GE', 'RU', 'HU', 'IC', 'IND', 'SIE', 'C', 'N', 'NN', 'CHN',
       'MON', 'SIB', 'NMV', 'ILL', 'NFL', 'ONT', 'NPC', 'PEC', 'PLN',
       'PLT', 'CH', 'PT', 'TF', 'AU', 'CHAT', 'MQ', 'NZ'], dtype=object)

In [ ]:
column_names = ['Population Code', 'Females', 'Males', 'Total']
Comp2_sex = pd.DataFrame(columns = column_names)

for i, pop in enumerate(pops):
  females = ((Comp2_cnm_recoded_popAff['Population Code']==pop) & (Comp2_cnm_recoded_popAff['Sex']==4)).sum()
  males = ((Comp2_cnm_recoded_popAff['Population Code']==pop) & (Comp2_cnm_recoded_popAff['Sex']==0)).sum()
  total = females + males
  #print(females)
  Comp2_sex.loc[i] = [pop,  females, males, total]

In [ ]:
print(Comp2_sex)

   Population Code Females Males Total
0              USB      27    33    60
1              KEN      14     7    21
2              TAN      31    16    47
3              SUD      25    42    67
4                S      18    42    60
5              GAB       3     3     6
6              GHA      14    17    31
7              NIG      13    15    28
8                W     106   161   267
9               HK      87   102   189
10              AL     198   197   395
11             SAL     282   261   543
12             SLS     168   180   348
13             NAL     196   218   414
14             CAR     165   163   328
15             EAR     185   148   333
16             ARM      48    69   117
17              AT      84    81   165
18             CAN      98   118   216
19              BV       3     4     7
20              CZ       3    10    13
21              GE       2     5     7
22              RU       0    13    13
23              HU      17    41    58
24              IC      19    19    38
25             IND      50    68   118
26             SIE      43    44    87
27               C     134   223   357
28               N      86   106   192
29              NN      21    31    52
30             CHN      13    55    68
31             MON      24    35    59
32             SIB      83    93   176
33             NMV     147   217   364
34             ILL      41    51    92
35             NFL      15    20    35
36             ONT      34    29    63
37             NPC     180   248   428
38             PEC      81    71   152
39             PLN      92   133   225
40             PLT      91   114   205
41              CH       7    25    32
42              PT       2    10    12
43              TF       5     9    14
44              AU      21    29    50
45            CHAT       9    11    20
46              MQ      14    37    51
47              NZ      20    24    44

In [ ]:
# path to this file: "C:\Users\cskip\Documents\Dissertation\Tables_dissertation"

Comp2_demographics = pd.read_excel('Comp2_cnm_demographics.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* Population Code, Population Name, Location, Source

In [ ]:
Comp2_demographics.head()

In [ ]:
Comp2_sex = pd.merge(Comp2_sex, Comp2_demographics, on='Population Code')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* Population Code, Females, Males, Total, Population Name, Location, Source

In [ ]:
Comp2_sex.head(15)

In [ ]:
Comp2_sex = Comp2_sex[['Population Code', 'Population Name', 'Location', 'Females', 'Males', 'Total', 'Source']]

In [ ]:
Comp2_sex.head()

In [ ]:
Comp2_sex.tail()

##### Output file: Comp2 sex

In [ ]:
Comp2_sex.to_excel('/drive/My Drive/Colab Notebooks/Pre-statistical treatments/2_EDA/Comp2_sex.xlsx', index=False)

---

### Back to prep

In [ ]:
Comp2_cnm_recoded_popAff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   file.name        6667 non-null   object
 1   Population Code  6667 non-null   object
 2   Population Name  6667 non-null   object
 3   GP1              2519 non-null   object
 4   GP2              6502 non-null   object
 5   GP3              6414 non-null   object
 6   GP4              6066 non-null   object
 7   GP5              5381 non-null   object
 8   Site             5810 non-null   object
 9   CatalogNo        6667 non-null   object
 10  Museum           6667 non-null   object
 11  AgeC             6667 non-null   int64
 12  AgeY             720 non-null    object
 13  Sex              6667 non-null   int64
 14  Collection       6667 non-null   object
 15  METO             6667 non-null   int64
 16  INCA             6667 non-null   int64
 17  PHAR             6667 non-null   int64
 18  APIC             6667 non-null   int64
 19  OMB              6667 non-null   int64
 20  AST              6667 non-null   int64
 21  PNB              6667 non-null   int64
 22  HYP              6667 non-null   int64
 23  TYM              6667 non-null   int64
 24  CIV              6667 non-null   int64
 25  PTB              6667 non-null   int64
 26  SOF              6667 non-null   int64
 27  MEN              6667 non-null   int64
 28  MHB              6667 non-null   int64
 29  IFS              6667 non-null   int64
 30  CCO              6667 non-null   int64
dtypes: int64(18), object(13)
memory usage: 1.6+ MB

In [ ]:
del Comp2_cnm_recoded_popAff['file.name']
del Comp2_cnm_recoded_popAff['GP1']
del Comp2_cnm_recoded_popAff['GP2']
del Comp2_cnm_recoded_popAff['GP3']
del Comp2_cnm_recoded_popAff['GP4']
del Comp2_cnm_recoded_popAff['GP5']
del Comp2_cnm_recoded_popAff['Site']
del Comp2_cnm_recoded_popAff['Museum']
del Comp2_cnm_recoded_popAff['AgeY']

In [ ]:
Comp2_cnm_recoded_popAff = Comp2_cnm_recoded_popAff.rename(columns={'AgeC': 'Age', 'CatalogNo': 'SkelID'})

In [ ]:
Comp2_cnm_recoded_popAff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Population Code  6667 non-null   object
 1   Population Name  6667 non-null   object
 2   SkelID           6667 non-null   object
 3   Age              6667 non-null   int64
 4   Sex              6667 non-null   int64
 5   Collection       6667 non-null   object
 6   METO             6667 non-null   int64
 7   INCA             6667 non-null   int64
 8   PHAR             6667 non-null   int64
 9   APIC             6667 non-null   int64
 10  OMB              6667 non-null   int64
 11  AST              6667 non-null   int64
 12  PNB              6667 non-null   int64
 13  HYP              6667 non-null   int64
 14  TYM              6667 non-null   int64
 15  CIV              6667 non-null   int64
 16  PTB              6667 non-null   int64
 17  SOF              6667 non-null   int64
 18  MEN              6667 non-null   int64
 19  MHB              6667 non-null   int64
 20  IFS              6667 non-null   int64
 21  CCO              6667 non-null   int64
dtypes: int64(18), object(4)
memory usage: 1.2+ MB

#### Recode Comp2

In [ ]:
Comp2_cnm_recoded_popAff['CCO'] = Comp2_cnm_recoded_popAff['CCO'].replace([0.0, 1.0], [1, 0])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* Population Code, Population Name, SkelID, Age, Sex, Collection, METO, INCA...CCO

In [ ]:
Comp2_cnm_recoded_popAff.head()

In [ ]:
Comp2_cnm = pd.DataFrame(Comp2_cnm_recoded_popAff.iloc[:, :])

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* Population Code, Population Name, SkelID, Age, Sex, Collection, METO, INCA...CCO

In [ ]:
Comp2_cnm.head()

In [ ]:
# add empty columns to match other 3 dfs

Comp2_cnm['SON'] = np.nan
Comp2_cnm['LBLa'] = np.nan
Comp2_cnm['LBM'] = np.nan
Comp2_cnm['PF'] = np.nan
Comp2_cnm['MF'] = np.nan
Comp2_cnm['MFLo'] = np.nan
Comp2_cnm['CRB'] = np.nan
Comp2_cnm['EPB'] = np.nan
Comp2_cnm['FTA'] = np.nan
Comp2_cnm['APF'] = np.nan
#Comp2_cnm['FF'] = np.nan
Comp2_cnm['MIF'] = np.nan
Comp2_cnm['BREG'] = np.nan
Comp2_cnm['PALT'] = np.nan
Comp2_cnm['MANT'] = np.nan
Comp2_cnm['SSSF'] = np.nan
Comp2_cnm['ZFF'] = np.nan
Comp2_cnm['FOI'] = np.nan
Comp2_cnm['FSI'] = np.nan
Comp2_cnm['ANS'] = np.nan
Comp2_cnm['INA'] = np.nan
Comp2_cnm['IOB'] = np.nan
Comp2_cnm['MT'] = np.nan
Comp2_cnm['NAS'] = np.nan
Comp2_cnm['NAW'] = np.nan
Comp2_cnm['NBC'] = np.nan
Comp2_cnm['NBS'] = np.nan
Comp2_cnm['NO'] = np.nan
Comp2_cnm['NFS'] = np.nan
Comp2_cnm['OBS'] = np.nan
Comp2_cnm['PZT'] = np.nan
Comp2_cnm['TPS'] = np.nan
Comp2_cnm['ZS'] = np.nan

In [ ]:
Comp2_cnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Population Code  6667 non-null   object
 1   Population Name  6667 non-null   object
 2   SkelID           6667 non-null   object
 3   Age              6667 non-null   int64
 4   Sex              6667 non-null   int64
 5   Collection       6667 non-null   object
 6   METO             6667 non-null   int64
 7   INCA             6667 non-null   int64
 8   PHAR             6667 non-null   int64
 9   APIC             6667 non-null   int64
 10  OMB              6667 non-null   int64
 11  AST              6667 non-null   int64
 12  PNB              6667 non-null   int64
 13  HYP              6667 non-null   int64
 14  TYM              6667 non-null   int64
 15  CIV              6667 non-null   int64
 16  PTB              6667 non-null   int64
 17  SOF              6667 non-null   int64
 18  MEN              6667 non-null   int64
 19  MHB              6667 non-null   int64
 20  IFS              6667 non-null   int64
 21  CCO              6667 non-null   int64
 22  SON              0 non-null      float64
 23  LBLa             0 non-null      float64
 24  LBM              0 non-null      float64
 25  PF               0 non-null      float64
 26  MF               0 non-null      float64
 27  MFLo             0 non-null      float64
 28  CRB              0 non-null      float64
 29  EPB              0 non-null      float64
 30  FTA              0 non-null      float64
 31  APF              0 non-null      float64
 32  MIF              0 non-null      float64
 33  BREG             0 non-null      float64
 34  PALT             0 non-null      float64
 35  MANT             0 non-null      float64
 36  SSSF             0 non-null      float64
 37  ZFF              0 non-null      float64
 38  FOI              0 non-null      float64
 39  FSI              0 non-null      float64
 40  AUD              0 non-null      float64
 41  ANS              0 non-null      float64
 42  INA              0 non-null      float64
 43  IOB              0 non-null      float64
 44  MT               0 non-null      float64
 45  NAS              0 non-null      float64
 46  NAW              0 non-null      float64
 47  NBC              0 non-null      float64
 48  NBS              0 non-null      float64
 49  NO               0 non-null      float64
 50  NFS              0 non-null      float64
 51  OBS              0 non-null      float64
 52  PZT              0 non-null      float64
 53  TPS              0 non-null      float64
 54  ZS               0 non-null      float64
dtypes: float64(33), int64(18), object(4)
memory usage: 2.8+ MB

In [ ]:
Comp2_cnm.head(25)

Add prefix 'O-' to SkelID values

In [ ]:
Comp2_cnm['SkelID'] ='O-' + Comp2_cnm['SkelID'].astype(str)
Comp2_cnm.head()

In [ ]:
Comp2_cnm_dems = pd.DataFrame()
Comp2_cnm_dems['SkelID'] = Comp2_cnm['SkelID']
Comp2_cnm_dems['Collection'] = Comp2_cnm['Collection']
Comp2_cnm_dems['Sex'] = Comp2_cnm['Sex']
Comp2_cnm_dems['Age'] = Comp2_cnm['Age']
Comp2_cnm_dems['Population Name'] = Comp2_cnm['Population Name']
Comp2_cnm_dems['Population Code'] = Comp2_cnm['Population Code']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code

In [ ]:
Comp2_cnm_dems.head()

In [ ]:
Comp2_cnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Population Code  6667 non-null   object
 1   Population Name  6667 non-null   object
 2   SkelID           6667 non-null   object
 3   Age              6667 non-null   int64
 4   Sex              6667 non-null   int64
 5   Collection       6667 non-null   object
 6   METO             6667 non-null   int64
 7   INCA             6667 non-null   int64
 8   PHAR             6667 non-null   int64
 9   APIC             6667 non-null   int64
 10  OMB              6667 non-null   int64
 11  AST              6667 non-null   int64
 12  PNB              6667 non-null   int64
 13  HYP              6667 non-null   int64
 14  TYM              6667 non-null   int64
 15  CIV              6667 non-null   int64
 16  PTB              6667 non-null   int64
 17  SOF              6667 non-null   int64
 18  MEN              6667 non-null   int64
 19  MHB              6667 non-null   int64
 20  IFS              6667 non-null   int64
 21  CCO              6667 non-null   int64
 22  SON              0 non-null      float64
 23  LBLa             0 non-null      float64
 24  LBM              0 non-null      float64
 25  PF               0 non-null      float64
 26  MF               0 non-null      float64
 27  MFLo             0 non-null      float64
 28  CRB              0 non-null      float64
 29  EPB              0 non-null      float64
 30  FTA              0 non-null      float64
 31  APF              0 non-null      float64
 32  MIF              0 non-null      float64
 33  BREG             0 non-null      float64
 34  PALT             0 non-null      float64
 35  MANT             0 non-null      float64
 36  SSSF             0 non-null      float64
 37  ZFF              0 non-null      float64
 38  FOI              0 non-null      float64
 39  FSI              0 non-null      float64
 40  AUD              0 non-null      float64
 41  ANS              0 non-null      float64
 42  INA              0 non-null      float64
 43  IOB              0 non-null      float64
 44  MT               0 non-null      float64
 45  NAS              0 non-null      float64
 46  NAW              0 non-null      float64
 47  NBC              0 non-null      float64
 48  NBS              0 non-null      float64
 49  NO               0 non-null      float64
 50  NFS              0 non-null      float64
 51  OBS              0 non-null      float64
 52  PZT              0 non-null      float64
 53  TPS              0 non-null      float64
 54  ZS               0 non-null      float64
dtypes: float64(33), int64(18), object(4)
memory usage: 2.8+ MB

In [ ]:
Comp2_cnm_VarsOnly = pd.DataFrame(Comp2_cnm.iloc[:, 6:])
Comp2_cnm_VarsOnly.head()

# METO....ZS

In [ ]:
Comp2_cnm_VarsOnly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   METO    6667 non-null   int64
 1   INCA    6667 non-null   int64
 2   PHAR    6667 non-null   int64
 3   APIC    6667 non-null   int64
 4   OMB     6667 non-null   int64
 5   AST     6667 non-null   int64
 6   PNB     6667 non-null   int64
 7   HYP     6667 non-null   int64
 8   TYM     6667 non-null   int64
 9   CIV     6667 non-null   int64
 10  PTB     6667 non-null   int64
 11  SOF     6667 non-null   int64
 12  MEN     6667 non-null   int64
 13  MHB     6667 non-null   int64
 14  IFS     6667 non-null   int64
 15  CCO     6667 non-null   int64
 16  SON     0 non-null      float64
 17  LBLa    0 non-null      float64
 18  LBM     0 non-null      float64
 19  PF      0 non-null      float64
 20  MF      0 non-null      float64
 21  MFLo    0 non-null      float64
 22  CRB     0 non-null      float64
 23  EPB     0 non-null      float64
 24  FTA     0 non-null      float64
 25  APF     0 non-null      float64
 26  MIF     0 non-null      float64
 27  BREG    0 non-null      float64
 28  PALT    0 non-null      float64
 29  MANT    0 non-null      float64
 30  SSSF    0 non-null      float64
 31  ZFF     0 non-null      float64
 32  FOI     0 non-null      float64
 33  FSI     0 non-null      float64
 34  AUD     0 non-null      float64
 35  ANS     0 non-null      float64
 36  INA     0 non-null      float64
 37  IOB     0 non-null      float64
 38  MT      0 non-null      float64
 39  NAS     0 non-null      float64
 40  NAW     0 non-null      float64
 41  NBC     0 non-null      float64
 42  NBS     0 non-null      float64
 43  NO      0 non-null      float64
 44  NFS     0 non-null      float64
 45  OBS     0 non-null      float64
 46  PZT     0 non-null      float64
 47  TPS     0 non-null      float64
 48  ZS      0 non-null      float64
dtypes: float64(33), int64(16)
memory usage: 2.5 MB

In [ ]:
Comp2_cnm_VarsOnly_sorted = Comp2_cnm_VarsOnly.sort_index(axis=1, ascending=True)

In [ ]:
Comp2_cnm_VarsOnly_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ANS     0 non-null      float64
 1   APF     0 non-null      float64
 2   APIC    6667 non-null   int64
 3   AST     6667 non-null   int64
 4   AUD     0 non-null      float64
 5   BREG    0 non-null      float64
 6   CCO     6667 non-null   int64
 7   CIV     6667 non-null   int64
 8   CRB     0 non-null      float64
 9   EPB     0 non-null      float64
 10  FOI     0 non-null      float64
 11  FSI     0 non-null      float64
 12  FTA     0 non-null      float64
 13  HYP     6667 non-null   int64
 14  IFS     6667 non-null   int64
 15  INA     0 non-null      float64
 16  INCA    6667 non-null   int64
 17  IOB     0 non-null      float64
 18  LBLa    0 non-null      float64
 19  LBM     0 non-null      float64
 20  MANT    0 non-null      float64
 21  MEN     6667 non-null   int64
 22  METO    6667 non-null   int64
 23  MF      0 non-null      float64
 24  MFLo    0 non-null      float64
 25  MHB     6667 non-null   int64
 26  MIF     0 non-null      float64
 27  MT      0 non-null      float64
 28  NAS     0 non-null      float64
 29  NAW     0 non-null      float64
 30  NBC     0 non-null      float64
 31  NBS     0 non-null      float64
 32  NFS     0 non-null      float64
 33  NO      0 non-null      float64
 34  OBS     0 non-null      float64
 35  OMB     6667 non-null   int64
 36  PALT    0 non-null      float64
 37  PF      0 non-null      float64
 38  PHAR    6667 non-null   int64
 39  PNB     6667 non-null   int64
 40  PTB     6667 non-null   int64
 41  PZT     0 non-null      float64
 42  SOF     6667 non-null   int64
 43  SON     0 non-null      float64
 44  SSSF    0 non-null      float64
 45  TPS     0 non-null      float64
 46  TYM     6667 non-null   int64
 47  ZFF     0 non-null      float64
 48  ZS      0 non-null      float64
dtypes: float64(33), int64(16)
memory usage: 2.5 MB

In [ ]:
Comp2_cnm_prepped = pd.concat([Comp2_cnm_dems, Comp2_cnm_VarsOnly_sorted], axis=1)

In [ ]:
Comp2_cnm_prepped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6667 entries, 0 to 6677
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           6667 non-null   object
 1   Collection       6667 non-null   object
 2   Sex              6667 non-null   int64
 3   Age              6667 non-null   int64
 4   Population Name  6667 non-null   object
 5   Population Code  6667 non-null   object
 6   ANS              0 non-null      float64
 7   APF              0 non-null      float64
 8   APIC             6667 non-null   int64
 9   AST              6667 non-null   int64
 10  AUD              0 non-null      float64
 11  BREG             0 non-null      float64
 12  CCO              6667 non-null   int64
 13  CIV              6667 non-null   int64
 14  CRB              0 non-null      float64
 15  EPB              0 non-null      float64
 16  FOI              0 non-null      float64
 17  FSI              0 non-null      float64
 18  FTA              0 non-null      float64
 19  HYP              6667 non-null   int64
 20  IFS              6667 non-null   int64
 21  INA              0 non-null      float64
 22  INCA             6667 non-null   int64
 23  IOB              0 non-null      float64
 24  LBLa             0 non-null      float64
 25  LBM              0 non-null      float64
 26  MANT             0 non-null      float64
 27  MEN              6667 non-null   int64
 28  METO             6667 non-null   int64
 29  MF               0 non-null      float64
 30  MFLo             0 non-null      float64
 31  MHB              6667 non-null   int64
 32  MIF              0 non-null      float64
 33  MT               0 non-null      float64
 34  NAS              0 non-null      float64
 35  NAW              0 non-null      float64
 36  NBC              0 non-null      float64
 37  NBS              0 non-null      float64
 38  NFS              0 non-null      float64
 39  NO               0 non-null      float64
 40  OBS              0 non-null      float64
 41  OMB              6667 non-null   int64
 42  PALT             0 non-null      float64
 43  PF               0 non-null      float64
 44  PHAR             6667 non-null   int64
 45  PNB              6667 non-null   int64
 46  PTB              6667 non-null   int64
 47  PZT              0 non-null      float64
 48  SOF              6667 non-null   int64
 49  SON              0 non-null      float64
 50  SSSF             0 non-null      float64
 51  TPS              0 non-null      float64
 52  TYM              6667 non-null   int64
 53  ZFF              0 non-null      float64
 54  ZS               0 non-null      float64
dtypes: float64(33), int64(18), object(4)
memory usage: 2.8+ MB

In [ ]:
Comp2_cnm_prepped.head()

In [ ]:
del Comp2_cnm_prepped['AUD']

In [ ]:
del Comp2_cnm_prepped['APIC']

#### Output file: Comp2_cnm_prepped

In [ ]:
Comp2_cnm_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp2_cnm_prepped.xlsx', index=False)

# Comp3 data

In [ ]:
Comp3_cnm = pd.read_excel('Comp3_for_analysis.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* ID, Provenience, Ancestry, Sex, Age, ANS, INA...

In [ ]:
Comp3_cnm.head()

In [ ]:
Comp3_cnm = Comp3_cnm.rename(columns={'ID': 'SkelID', 'Ancestry': 'Population Name'})

In [ ]:
del Comp3_cnm['Provenience']

In [ ]:
Comp3_cnm.head()

Add 'H-' prefix to SkelID values

In [ ]:
Comp3_cnm['SkelID'] ='H-' + Comp3_cnm['SkelID'].astype(str)
Comp3_cnm.head()

In [ ]:
Comp3_cnm['Population Name'].unique()

array(['Amerindian', 'Hispanic', 'AmericanWhite', 'AmericanBlack'],
      dtype=object)

In [ ]:
conditions = [
    (Comp3_cnm['Population Name'] == 'Amerindian'),
    (Comp3_cnm['Population Name'] == 'Hispanic'),
    (Comp3_cnm['Population Name'] == 'AmericanWhite'),
    (Comp3_cnm['Population Name'] == 'AmericanBlack'),]
choices = ['AI', 'HH', 'AMWH', 'AMBL']
Comp3_cnm['Population Code'] = np.select(conditions, choices)
print(Comp3_cnm)

In [ ]:
Comp3_cnm['METO'] = np.nan
Comp3_cnm['INCA'] = np.nan
Comp3_cnm['OMB'] = np.nan
Comp3_cnm['AST'] = np.nan
Comp3_cnm['PNB'] = np.nan
Comp3_cnm['PHAR'] = np.nan
Comp3_cnm['HYP'] = np.nan
Comp3_cnm['TYM'] = np.nan
Comp3_cnm['CIV'] = np.nan
Comp3_cnm['PTB'] = np.nan
Comp3_cnm['SOF'] = np.nan
Comp3_cnm['SON'] = np.nan
Comp3_cnm['MEN'] = np.nan
Comp3_cnm['MHB'] = np.nan
#Comp3_cnm['APIC'] = np.nan
Comp3_cnm['LBLa'] = np.nan
Comp3_cnm['LBM'] = np.nan
Comp3_cnm['PF'] = np.nan
Comp3_cnm['MF'] = np.nan
Comp3_cnm['MFLo'] = np.nan
Comp3_cnm['CRB'] = np.nan
Comp3_cnm['EPB'] = np.nan
Comp3_cnm['FTA'] = np.nan
Comp3_cnm['APF'] = np.nan
Comp3_cnm['IFS'] = np.nan
Comp3_cnm['MIF'] = np.nan
Comp3_cnm['BREG'] = np.nan
Comp3_cnm['PALT'] = np.nan
Comp3_cnm['MANT'] = np.nan
Comp3_cnm['SSSF'] = np.nan
Comp3_cnm['ZFF'] = np.nan
Comp3_cnm['CCO'] = np.nan
Comp3_cnm['FOI'] = np.nan
Comp3_cnm['FSI'] = np.nan

In [ ]:
Comp3_cnm['Collection'] = 'MaMD'

In [ ]:
Comp3_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           398 non-null    object
 1   Population Name  398 non-null    object
 2   Sex              299 non-null    object
 3   Age              240 non-null    float64
 4   ANS              336 non-null    float64
 5   INA              373 non-null    float64
 6   IOB              370 non-null    float64
 7   MT               374 non-null    float64
 8   NAS              171 non-null    float64
 9   NAW              365 non-null    float64
 10  NBC              344 non-null    float64
 11  NBS              177 non-null    float64
 12  NFS              170 non-null    float64
 13  NO               301 non-null    float64
 14  OBS              208 non-null    float64
 15  PBD              345 non-null    float64
 16  PS               81 non-null     float64
 17  PZT              334 non-null    float64
 18  SPS              263 non-null    float64
 19  TPS              183 non-null    float64
 20  ZS               327 non-null    float64
 21  Population Code  398 non-null    object
 22  METO             0 non-null      float64
 23  INCA             0 non-null      float64
 24  OMB              0 non-null      float64
 25  AST              0 non-null      float64
 26  PNB              0 non-null      float64
 27  PHAR             0 non-null      float64
 28  HYP              0 non-null      float64
 29  TYM              0 non-null      float64
 30  CIV              0 non-null      float64
 31  PTB              0 non-null      float64
 32  SOF              0 non-null      float64
 33  SON              0 non-null      float64
 34  MEN              0 non-null      float64
 35  MHB              0 non-null      float64
 36  APIC             0 non-null      float64
 37  LBLa             0 non-null      float64
 38  LBM              0 non-null      float64
 39  PF               0 non-null      float64
 40  MF               0 non-null      float64
 41  MFLo             0 non-null      float64
 42  CRB              0 non-null      float64
 43  EPB              0 non-null      float64
 44  FTA              0 non-null      float64
 45  APF              0 non-null      float64
 46  IFS              0 non-null      float64
 47  MIF              0 non-null      float64
 48  BREG             0 non-null      float64
 49  PALT             0 non-null      float64
 50  MANT             0 non-null      float64
 51  SSSF             0 non-null      float64
 52  ZFF              0 non-null      float64
 53  CCO              0 non-null      float64
 54  FOI              0 non-null      float64
 55  FSI              0 non-null      float64
 56  Collection       398 non-null    object
dtypes: float64(52), object(5)
memory usage: 177.4+ KB

In [ ]:
Comp3_cnm_dems = pd.DataFrame()
Comp3_cnm_dems['SkelID'] = Comp3_cnm['SkelID']
Comp3_cnm_dems['Collection'] = Comp3_cnm['Collection']
Comp3_cnm_dems['Sex'] = Comp3_cnm['Sex']
Comp3_cnm_dems['Age'] = Comp3_cnm['Age']
Comp3_cnm_dems['Population Name'] = Comp3_cnm['Population Name']
Comp3_cnm_dems['Population Code'] = Comp3_cnm['Population Code']

In [ ]:
Comp3_cnm_dems.head()

In [ ]:
Comp3_cnm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           398 non-null    object
 1   Population Name  398 non-null    object
 2   Sex              299 non-null    object
 3   Age              240 non-null    float64
 4   ANS              336 non-null    float64
 5   INA              373 non-null    float64
 6   IOB              370 non-null    float64
 7   MT               374 non-null    float64
 8   NAS              171 non-null    float64
 9   NAW              365 non-null    float64
 10  NBC              344 non-null    float64
 11  NBS              177 non-null    float64
 12  NFS              170 non-null    float64
 13  NO               301 non-null    float64
 14  OBS              208 non-null    float64
 15  PBD              345 non-null    float64
 16  PS               81 non-null     float64
 17  PZT              334 non-null    float64
 18  SPS              263 non-null    float64
 19  TPS              183 non-null    float64
 20  ZS               327 non-null    float64
 21  Population Code  398 non-null    object
 22  METO             0 non-null      float64
 23  INCA             0 non-null      float64
 24  OMB              0 non-null      float64
 25  AST              0 non-null      float64
 26  PNB              0 non-null      float64
 27  PHAR             0 non-null      float64
 28  HYP              0 non-null      float64
 29  TYM              0 non-null      float64
 30  CIV              0 non-null      float64
 31  PTB              0 non-null      float64
 32  SOF              0 non-null      float64
 33  SON              0 non-null      float64
 34  MEN              0 non-null      float64
 35  MHB              0 non-null      float64
 36  APIC             0 non-null      float64
 37  LBLa             0 non-null      float64
 38  LBM              0 non-null      float64
 39  PF               0 non-null      float64
 40  MF               0 non-null      float64
 41  MFLo             0 non-null      float64
 42  CRB              0 non-null      float64
 43  EPB              0 non-null      float64
 44  FTA              0 non-null      float64
 45  APF              0 non-null      float64
 46  IFS              0 non-null      float64
 47  MIF              0 non-null      float64
 48  BREG             0 non-null      float64
 49  PALT             0 non-null      float64
 50  MANT             0 non-null      float64
 51  SSSF             0 non-null      float64
 52  ZFF              0 non-null      float64
 53  CCO              0 non-null      float64
 54  FOI              0 non-null      float64
 55  FSI              0 non-null      float64
 56  Collection       398 non-null    object
dtypes: float64(52), object(5)
memory usage: 177.4+ KB

In [ ]:
Comp3_cnm_VarsOnly = pd.DataFrame(Comp3_cnm.iloc[:, 4:56])
Comp3_cnm_VarsOnly.head()

In [ ]:
del Comp3_cnm_VarsOnly['Population Code']

In [ ]:
Comp3_cnm_VarsOnly.head()

In [ ]:
Comp3_cnm_VarsOnly_sorted = Comp3_cnm_VarsOnly.sort_index(axis=1, ascending=True)

Sort columns in ascending order (A-Z)

In [ ]:
Comp3_cnm_VarsOnly_sorted.head()

In [ ]:
Comp3_cnm_prepped = pd.concat([Comp3_cnm_dems, Comp3_cnm_VarsOnly_sorted], axis=1)

In [ ]:
Comp3_cnm_prepped.head()

In [ ]:
del Comp3_cnm_prepped['PBD']
del Comp3_cnm_prepped['PS']
del Comp3_cnm_prepped['SPS']

In [ ]:
Comp3_cnm_prepped.head()

In [ ]:
del Comp3_cnm_prepped['APIC']

#### Output file: Comp3_cnm_prepped

In [ ]:
Comp3_cnm_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp3_cnm_prepped.xlsx', index=False)

## Prep Comp3 for CES match

In [ ]:
Comp3_cnm_prepped = pd.read_excel('Comp3_cnm_prepped.xlsx')

In [ ]:
Comp3_cnm_prepped.head()

In [ ]:
Comp3_CES_match = pd.DataFrame()

In [ ]:
Comp3_CES_match['SkelID'] = Comp3_cnm_prepped['SkelID']
Comp3_CES_match['Collection'] = Comp3_cnm_prepped['Collection']
Comp3_CES_match['Sex'] = Comp3_cnm_prepped['Sex']
Comp3_CES_match['Age'] = Comp3_cnm_prepped['Age']
Comp3_CES_match['Population Name'] = Comp3_cnm_prepped['Population Name']
Comp3_CES_match['Population Code'] = Comp3_cnm_prepped['Population Code']
Comp3_CES_match['ANS'] = Comp3_cnm_prepped['ANS']
Comp3_CES_match['INA'] = Comp3_cnm_prepped['INA']
Comp3_CES_match['IOB'] = Comp3_cnm_prepped['IOB']
Comp3_CES_match['MT'] = Comp3_cnm_prepped['MT']
Comp3_CES_match['NAS'] = Comp3_cnm_prepped['NAS']
Comp3_CES_match['NAW'] = Comp3_cnm_prepped['NAW']
Comp3_CES_match['NBC'] = Comp3_cnm_prepped['NBC']
Comp3_CES_match['NBS'] = Comp3_cnm_prepped['NBS']
Comp3_CES_match['NO'] = Comp3_cnm_prepped['NO']
Comp3_CES_match['NFS'] = Comp3_cnm_prepped['NFS']
Comp3_CES_match['OBS'] = Comp3_cnm_prepped['OBS']
#Comp3_CES_match['PBD'] = Comp3_cnm_prepped['PBD']     # removed previously due to low IO agreement
Comp3_CES_match['PZT'] = Comp3_cnm_prepped['PZT']
#Comp3_CES_match['SPS'] = Comp3_cnm_prepped['SPS']     # removed previously due to IO agreement
Comp3_CES_match['TPS'] = Comp3_cnm_prepped['TPS']
#Comp3_CES_match['PS'] = Comp3_cnm_prepped['PS']       # removed previously because Japan didn't have this trait
Comp3_CES_match['ZS'] = Comp3_cnm_prepped['ZS']

#### Output file: Comp3_CES_match

In [ ]:
Comp3_CES_match.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp3_CES_match.xlsx', index=False)

Because TMD can only handle present/absent traits, the only traits that can be used in the TMD analysis for the CES and Comp3 datasets are:


*   MT
*   NO
*   PBD
*   SPS
*   PZT
*   ZS

But I cannot use PBD or SPS because they had low IO agreement...so the only traits in the analysis will be MT, NO, PZT, and ZS...

In [ ]:
Comp3_cnm_prepped = pd.DataFrame()

In [ ]:
Comp3_cnm_prepped['SkelID'] = Comp3_CES_match['SkelID']
Comp3_cnm_prepped['Collection'] = Comp3_CES_match['Collection']
Comp3_cnm_prepped['Sex'] = Comp3_CES_match['Sex']
Comp3_cnm_prepped['Age'] = Comp3_CES_match['Age']
Comp3_cnm_prepped['Population Name'] = Comp3_CES_match['Population Name']
Comp3_cnm_prepped['Population Code'] = Comp3_CES_match['Population Code']
Comp3_cnm_prepped['MT'] = Comp3_CES_match['MT']
Comp3_cnm_prepped['NO'] = Comp3_CES_match['NO']
Comp3_cnm_prepped['PZT'] = Comp3_CES_match['PZT']
Comp3_cnm_prepped['ZS'] = Comp3_CES_match['ZS']

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, MT, NO, PZT, ZS

In [ ]:
Comp3_cnm_prepped.head()

In [ ]:
Comp3_cnm_prepped['MT'].unique()

array([ 1.,  2.,  0., nan,  3.])

#### Output file: Comp3_cnm_prepped

In [ ]:
Comp3_cnm_prepped.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/Comp3_cnm_prepped.xlsx', index=False)

# Merge CES and Comp3 for TMD

In [ ]:
CES_Comp3_for_TMD = CES_Comp3_prepped.append(Comp3_cnm_prepped)

In [ ]:
CES_Comp3_for_TMD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 397
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           495 non-null    object
 1   Collection       495 non-null    object
 2   Sex              396 non-null    object
 3   Age              337 non-null    float64
 4   Population Name  495 non-null    object
 5   Population Code  495 non-null    object
 6   MT               471 non-null    float64
 7   NO               395 non-null    float64
 8   PZT              431 non-null    float64
 9   ZS               419 non-null    float64
dtypes: float64(5), object(5)
memory usage: 42.5+ KB

#### Output file: CES_Comp3_for_TMD
**USE THIS FILE FOR CES/Comp3 TMD ANALYSIS!!**
This file was subsequently converted to a .csv from .xlsx. All demographics columns were removed except Population Name. The following scores were converted in excel (more efficient than here) 0 -> 0, 1, 2, 3+ -> 1 in excel

In [ ]:
CES_Comp3_for_TMD.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_Comp3_for_TMD.xlsx', index=False)

# Merge all cnm datasets

In [ ]:
cnm_for_TMD = CES_cnm_prepped.append(Comp1_cnm_prepped)

The output for the following two code cells were removed to protect PII and/or the raw data. The outputs contained the following columns:
* SkelID, Collection, Sex, Age, Population Name, Population Code, ANS, APF, AST...ZS

In [ ]:
cnm_for_TMD.head()

In [ ]:
cnm_for_TMD.tail()

In [ ]:
Comp2_cnm_prepped.head()

In [ ]:
cnm_for_TMD = cnm_for_TMD.append(Comp2_cnm_prepped)

In [ ]:
cnm_for_TMD.tail()

In [ ]:
cnm_for_TMD = cnm_for_TMD.append(Comp3_cnm_prepped)

In [ ]:
cnm_for_TMD.tail()

In [ ]:
cnm_for_TMD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7394 entries, 0 to 397
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           7394 non-null   object
 1   Collection       7394 non-null   object
 2   Sex              7295 non-null   object
 3   Age              7187 non-null   object
 4   Population Name  7394 non-null   object
 5   Population Code  7394 non-null   object
 6   ANS              431 non-null    float64
 7   APF              304 non-null    float64
 8   AST              6976 non-null   float64
 9   BREG             293 non-null    float64
 10  CCO              6764 non-null   float64
 11  CIV              6762 non-null   float64
 12  CRB              291 non-null    float64
 13  EPB              273 non-null    float64
 14  FOI              96 non-null     float64
 15  FSI              96 non-null     float64
 16  FTA              300 non-null    float64
 17  HYP              6991 non-null   float64
 18  IFS              6972 non-null   float64
 19  INA              470 non-null    float64
 20  INCA             6972 non-null   float64
 21  IOB              466 non-null    float64
 22  LBLa             283 non-null    float64
 23  LBM              250 non-null    float64
 24  MANT             289 non-null    float64
 25  MEN              6969 non-null   float64
 26  METO             6987 non-null   float64
 27  MF               325 non-null    float64
 28  MFLo             316 non-null    float64
 29  MHB              6973 non-null   float64
 30  MIF              307 non-null    float64
 31  MT               471 non-null    float64
 32  NAS              267 non-null    float64
 33  NAW              460 non-null    float64
 34  NBC              438 non-null    float64
 35  NBS              271 non-null    float64
 36  NFS              265 non-null    float64
 37  NO               395 non-null    float64
 38  OBS              304 non-null    float64
 39  OMB              6945 non-null   float64
 40  PALT             307 non-null    float64
 41  PF               322 non-null    float64
 42  PHAR             6952 non-null   float64
 43  PNB              6983 non-null   float64
 44  PTB              6764 non-null   float64
 45  PZT              431 non-null    float64
 46  SOF              6992 non-null   float64
 47  SON              97 non-null     float64
 48  SSSF             275 non-null    float64
 49  TPS              272 non-null    float64
 50  TYM              6980 non-null   float64
 51  ZFF              97 non-null     float64
 52  ZS               419 non-null    float64
dtypes: float64(47), object(6)
memory usage: 3.0+ MB

In [ ]:
# filter demographics

cnm_for_TMD_dems = pd.DataFrame(cnm_for_TMD.iloc[:, :6])

In [ ]:
cnm_for_TMD_dems.head()

In [ ]:
# filter for variables only

cnm_for_TMD_VarsOnly = pd.DataFrame(cnm_for_TMD.iloc[:, 6:])

In [ ]:
cnm_for_TMD_VarsOnly.head()

In [ ]:
# replace NaN/missing values with 9

cnm_for_TMD_VarsOnly.replace(np.nan, 9, inplace=True)

In [ ]:
cnm_for_TMD_VarsOnly.head()

In [ ]:
# merge demographics and variables only dfs

cnm_for_TMD = pd.concat([cnm_for_TMD_dems, cnm_for_TMD_VarsOnly], axis=1)

In [ ]:
cnm_for_TMD.head()

#### Output file: cnm_all_merged
This file was subsequently altered in Excel to remove all demographic columns except Population Code

In [ ]:
cnm_for_TMD.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/cnm_all_merged.xlsx', index=False)

## Prep CES and Comp1 for TMD

In [ ]:
cnm_all_merged = pd.read_excel('cnm_all_merged.xlsx')

In [ ]:
CES_Comp1_for_TMD = pd.DataFrame(cnm_all_merged.iloc[:,:])

In [ ]:
CES_Comp1_for_TMD = cnm_all_merged.drop(cnm_all_merged[cnm_all_merged['Collection'] == 'Comp2'].index)
CES_Comp1_for_TMD = cnm_all_merged.drop(cnm_all_merged[cnm_all_merged['Collection'] == 'Comp3'].index)

In [ ]:
CES_Comp1_for_TMD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329 entries, 0 to 328
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           329 non-null    object
 1   Collection       329 non-null    object
 2   Sex              329 non-null    object
 3   Age              280 non-null    object
 4   Population Name  329 non-null    object
 5   Population Code  329 non-null    object
 6   APF              304 non-null    float64
 7   AST              309 non-null    float64
 8   BREG             293 non-null    float64
 9   CCO              97 non-null     float64
 10  CIV              95 non-null     float64
 11  CRB              291 non-null    float64
 12  EPB              273 non-null    float64
 13  FTA              300 non-null    float64
 14  HYP              324 non-null    float64
 15  IFS              305 non-null    float64
 16  INCA             305 non-null    float64
 17  LBLa             283 non-null    float64
 18  LBM              250 non-null    float64
 19  MANT             289 non-null    float64
 20  MEN              302 non-null    float64
 21  METO             320 non-null    float64
 22  MF               325 non-null    float64
 23  MFLo             316 non-null    float64
 24  MHB              306 non-null    float64
 25  MIF              307 non-null    float64
 26  NFS              95 non-null     float64
 27  NO               94 non-null     float64
 28  OMB              278 non-null    float64
 29  PALT             307 non-null    float64
 30  PF               322 non-null    float64
 31  PHAR             285 non-null    float64
 32  PNB              316 non-null    float64
 33  SOF              325 non-null    float64
 34  TYM              313 non-null    float64
dtypes: float64(29), object(6)
memory usage: 92.5+ KB

In [ ]:
del CES_Comp1_for_TMD['PTB']
del CES_Comp1_for_TMD['CIV']
del CES_Comp1_for_TMD['CCO']
del CES_Comp1_for_TMD['ANS']
del CES_Comp1_for_TMD['INA']
del CES_Comp1_for_TMD['IOB']
del CES_Comp1_for_TMD['MT']
del CES_Comp1_for_TMD['NAS']
del CES_Comp1_for_TMD['NAW']
del CES_Comp1_for_TMD['NBC']
del CES_Comp1_for_TMD['NBS']
del CES_Comp1_for_TMD['NO']
del CES_Comp1_for_TMD['NFS']
del CES_Comp1_for_TMD['OBS']
#del CES_Comp1_for_TMD['PBD']
del CES_Comp1_for_TMD['PZT']
#del CES_Comp1_for_TMD['SPS']
del CES_Comp1_for_TMD['TPS']
#del CES_Comp1_for_TMD['PS']
del CES_Comp1_for_TMD['ZS']

In [ ]:
CES_Comp1_for_TMD3 = pd.DataFrame(CES_Comp1_for_TMD.iloc[:, 4:])

In [ ]:
CES_Comp1_for_TMD3.replace(9, np.nan, inplace=True)

In [ ]:
CES_Comp1_for_TMD3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329 entries, 0 to 328
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Population Name  329 non-null    object
 1   Population Code  329 non-null    object
 2   APF              304 non-null    float64
 3   AST              309 non-null    float64
 4   BREG             293 non-null    float64
 5   CCO              97 non-null     float64
 6   CIV              95 non-null     float64
 7   CRB              291 non-null    float64
 8   EPB              273 non-null    float64
 9   FTA              300 non-null    float64
 10  HYP              324 non-null    float64
 11  IFS              305 non-null    float64
 12  INCA             305 non-null    float64
 13  LBLa             283 non-null    float64
 14  LBM              250 non-null    float64
 15  MANT             289 non-null    float64
 16  MEN              302 non-null    float64
 17  METO             320 non-null    float64
 18  MF               325 non-null    float64
 19  MFLo             316 non-null    float64
 20  MHB              306 non-null    float64
 21  MIF              307 non-null    float64
 22  NFS              95 non-null     float64
 23  NO               94 non-null     float64
 24  OMB              278 non-null    float64
 25  PALT             307 non-null    float64
 26  PF               322 non-null    float64
 27  PHAR             285 non-null    float64
 28  PNB              316 non-null    float64
 29  SOF              325 non-null    float64
 30  TYM              313 non-null    float64
dtypes: float64(29), object(2)
memory usage: 82.2+ KB

In [ ]:
CES_Comp1_for_TMD3.tail()

#### Output file: CES_Comp1_for_TMD
This file was subsequently altered in Excel to remove the Population Code column, and scores greater than 2 were recoded to 1.

In [ ]:
CES_Comp1_for_TMD3.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_Comp1_for_TMD3.xlsx', index=False)

## Prep CES and Comp2 for TMD

In [ ]:
cnm_all_merged = pd.read_excel('cnm_all_merged.xlsx')

In [ ]:
CES_Comp2_for_TMD = pd.DataFrame(cnm_all_merged.iloc[:,:])

In [ ]:
CES_Comp2_for_TMD = cnm_all_merged.drop(cnm_all_merged[cnm_all_merged['Collection'] == 'Comp1'].index)
CES_Comp2_for_TMD = cnm_all_merged.drop(cnm_all_merged[cnm_all_merged['Collection'] == 'Comp3'].index)

In [ ]:
CES_Comp2_for_TMD['Collection'].unique()

# result: US, Japan, Comp2

In [ ]:
CES_Comp2_for_TMD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6764 entries, 0 to 6995
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           6764 non-null   object
 1   Collection       6764 non-null   object
 2   Sex              6764 non-null   object
 3   Age              6764 non-null   object
 4   Population Name  6764 non-null   object
 5   Population Code  6764 non-null   object
 6   APF              6764 non-null   int64
 7   AST              6764 non-null   int64
 8   BREG             6764 non-null   int64
 9   CCO              6764 non-null   int64
 10  CIV              6764 non-null   int64
 11  CRB              6764 non-null   int64
 12  EPB              6764 non-null   int64
 13  FTA              6764 non-null   int64
 14  HYP              6764 non-null   int64
 15  IFS              6764 non-null   int64
 16  INCA             6764 non-null   int64
 17  LBLa             6764 non-null   int64
 18  LBM              6764 non-null   int64
 19  MANT             6764 non-null   int64
 20  MEN              6764 non-null   int64
 21  METO             6764 non-null   int64
 22  MF               6764 non-null   int64
 23  MFLo             6764 non-null   int64
 24  MHB              6764 non-null   int64
 25  MIF              6764 non-null   int64
 26  NFS              6764 non-null   int64
 27  NO               6764 non-null   int64
 28  OMB              6764 non-null   int64
 29  PALT             6764 non-null   int64
 30  PF               6764 non-null   int64
 31  PHAR             6764 non-null   int64
 32  PNB              6764 non-null   int64
 33  PTB              6764 non-null   int64
 34  SOF              6764 non-null   int64
 35  TYM              6764 non-null   int64
dtypes: int64(30), object(6)
memory usage: 1.9+ MB

In [ ]:
#del CES_Comp2_for_TMD['SON']      # already removed earlier
#del CES_Comp2_for_TMD['APIC']      #low IO agreement
del CES_Comp2_for_TMD['LBLa']
del CES_Comp2_for_TMD['LBM']
del CES_Comp2_for_TMD['PF']
del CES_Comp2_for_TMD['MF']
del CES_Comp2_for_TMD['MFLo']
del CES_Comp2_for_TMD['CRB']
del CES_Comp2_for_TMD['EPB']
del CES_Comp2_for_TMD['FTA']
del CES_Comp2_for_TMD['APF']
#del CES_Comp2_for_TMD['FF']        # low IO agreement
del CES_Comp2_for_TMD['MIF']
#del CES_Comp2_for_TMD['SAGB']      # low IO agreeement
del CES_Comp2_for_TMD['BREG']
del CES_Comp2_for_TMD['PALT']
del CES_Comp2_for_TMD['MANT']
#del CES_Comp2_for_TMD['SSSF']      # already removed earlier
#del CES_Comp2_for_TMD['ZFF']
del CES_Comp2_for_TMD['CCO']         # removing CCO because it has NAs in the _z file for the TMD analysis
#del CES_Comp2_for_TMD['FOI']
#del CES_Comp2_for_TMD['FSI']
#del CES_Comp2_for_TMD['AUD']
del CES_Comp2_for_TMD['ANS']
del CES_Comp2_for_TMD['INA']
del CES_Comp2_for_TMD['IOB']
del CES_Comp2_for_TMD['MT']
del CES_Comp2_for_TMD['NAS']
del CES_Comp2_for_TMD['NAW']
del CES_Comp2_for_TMD['NBC']
del CES_Comp2_for_TMD['NBS']
del CES_Comp2_for_TMD['NO']
del CES_Comp2_for_TMD['NFS']
del CES_Comp2_for_TMD['OBS']
#del CES_Comp2_for_TMD['PBD']
del CES_Comp2_for_TMD['PZT']
#del CES_Comp2_for_TMD['SPS']
del CES_Comp2_for_TMD['TPS']
#del CES_Comp2_for_TMD['PS']
del CES_Comp2_for_TMD['ZS']

In [ ]:
CES_Comp2_for_TMD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6764 entries, 0 to 6995
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SkelID           6764 non-null   object
 1   Collection       6764 non-null   object
 2   Sex              6764 non-null   object
 3   Age              6764 non-null   object
 4   Population Name  6764 non-null   object
 5   Population Code  6764 non-null   object
 6   AST              6764 non-null   int64
 7   CIV              6764 non-null   int64
 8   HYP              6764 non-null   int64
 9   IFS              6764 non-null   int64
 10  INCA             6764 non-null   int64
 11  MEN              6764 non-null   int64
 12  METO             6764 non-null   int64
 13  MHB              6764 non-null   int64
 14  OMB              6764 non-null   int64
 15  PHAR             6764 non-null   int64
 16  PNB              6764 non-null   int64
 17  PTB              6764 non-null   int64
 18  SOF              6764 non-null   int64
 19  TYM              6764 non-null   int64
dtypes: int64(14), object(6)
memory usage: 1.1+ MB

#### Output file: CES_Comp2_for_TMD
This file was subsequently altered in Excel to remove all demographic columns except Population Code, and and scores greater than 2 were recoded to 1.

In [ ]:
CES_Comp2_for_TMD.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 2 - Microevolution/CES_Comp2_for_TMD.xlsx', index=False)

# Output data files:

** My data**
*   *CES_cnm_recoded.xlsx*: This file includes the cranial nonmetric and macromorphoscopic data and demographics after left and right sides have been collapsed and all traits have been recoded.
*   *CES_cnm_prepped.xlsx*: Contains my data that is prepared to merge with the other dfs

**Comp1 data**
*   *Comp1_cnm_collapsed.xlsx*: This file contains the Comp1 cnm data with the left and right sides collapsed (prior to being recoded).
*   *Comp1_cnm_prepped.xlsx*: Contains the Comp1 that is prepared to merge with the other dfs

**Comp2 data**
*   *Comp2_sex.xlsx*: This file contains the male and female counts for the Comp2 dataset.
*   *Comp2_cnm_prepped.xlsx*: Contains the Comp2 that is prepared to merge with the other dfs

**Comp3 data**
*   *Comp3_cnm_prepped.xlsx*: Contains the Comp1 data that is prepared to merge with the other dfs
*   *cnm_for_TMD.xlsx*: Contains all four dfs merged. This file was subsequently altered in Excel to remove all demographic columns except Population Code

**All cnm data merged**
*   *cnm_all_merged.xlsx*: This file contains all four cnm dfs merged. This file can be used in subsequent analyses (except the TMD analysis, which required my df to be match individually to each comparative df).

**TMD analysis files**
*   *CES_Comp1_for_TMD.xlsx*: This file contains my dataset and Comp1 matched and prepared for the TMD analysis.
*   *CES_Comp2_for_TMD.xlsx*: This file contains my dataset and Comp2 matched and prepared for the TMD analysis.
*   *CES_Comp3_for_TMD.xlsx*: This file contains my dataset and Comp3 matched and prepared for the TMD analysis.