<a href="https://colab.research.google.com/github/cskipper07/Data-Science/blob/main/3_Aim1_cnm_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aim 1: Testing method accuracy: CNM**
* Some outputs have been removed to protect PII and the raw data.

## Input data file:
*   *cnm_collapsed.xlsx*: This file contains the cnm data with left and right sides collapsed (prior to having traits with > 50% data missing removed). The traits have been renamed and traits with low IO agreement have already been removed.

### Import libraries

In [ ]:
# Import libraries
import pandas as pd
import scipy
import numpy as np
import seaborn as sns
import os

In [ ]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

### Set print options

In [ ]:
import sys

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
np.set_printoptions(threshold=sys.maxsize)

### Set export

In [ ]:
from google.colab import  drive
drive.mount('/drive')

Mounted at /drive

### Import data

In [ ]:
cnm_collapsed = pd.read_excel('cnm_collapsed.xlsx')

The output for the following code cell was removed to protect PII. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, SSSF, ANS....

In [ ]:
cnm_collapsed.head()

## Prep cnm data for Comp3
* Comp3 refers to Comparative Dataset 3, which was referenced in the '2_EDA_cnm_copy.ipynb' file.
* The output for the following code cell was removed to protect PII and/or the raw data. The output included the following columns:
** ANS, INA, IOB...

In [ ]:
# filter cnm df to only include the traits in Comp3
cnm_Comp3 = cnm_collapsed.filter(['ANS', 'INA', 'IOB', 'MT', 'NAW', 'NBC', 'NO', 'PBD',
                         'SPS', 'TPS', 'ZS'], axis=1)

cnm_Comp3.head(10)

In [ ]:
cnm_Comp3['PBD'] = np.nan
cnm_Comp3['SPS'] = np.nan
cnm_Comp3['TPS'] = np.nan

The output for the following code cell was removed to protect PII and/or the raw data. The output included the following columns:
* ANS, INA, IOB...

In [ ]:
cnm_Comp3.head()

The output for the following code cell was removed to protect PII and/or the raw data. The output included the following columns:
* ANS, INA, IOB...

In [ ]:
cnm_Comp3 = cnm_Comp3[['ANS', 'INA', 'IOB', 'MT', 'NAW', 'NBC', 'NO', 'PBD',
                         'SPS', 'TPS', 'ZS']]
cnm_Comp3.head()

   ANS  INA  IOB  MT  NAW  NBC   NO  PBD  SPS  TPS   ZS
0  0.0    3  1.0   3  1.0  3.0  1.0  NaN  NaN  NaN  2.0
1  3.0    4  2.0   2  2.0  0.0  1.0  NaN  NaN  NaN  2.0
2  2.0    4  2.0   1  2.0  0.0  0.0  NaN  NaN  NaN  2.0
3  1.0    3  2.0   2  1.0  1.0  1.0  NaN  NaN  NaN  1.0
4  2.0    1  2.0   2  2.0  1.0  1.0  NaN  NaN  NaN  2.0

In [ ]:
cnm_Comp3.to_excel('/drive/My Drive/Colab Notebooks/Statistical analysis/Aim 1 - Testing method accuracy/cnm_Comp3.xlsx', index=False)

# Output data file:

*   *cnm_Comp3.xlsx*: This file contains the MMS traits for testing Comp3. It is ready to be batch input into Comp3 software.
*   *cnm_Comp3.xlsx* was subsequently modified in a 97-2003 Excel file (now a .xls file) such that blanks were assigned NA and all scores had to match the *Comp3 Template.xlsx* file.

# Comp3 results
* Comp3_results reflect the output of the Comp3 software analysis, which is an external software.

In [ ]:
Comp3_results = pd.read_excel('cnm_batch_Comp3_with demographics.xlsx')

The output for the following code cell was removed to protect PII and/or the raw data. The output contained the following columns:
* SkelID, Collection, Sex, Age, Population, Population2, Population3, Population4, African, American Indian, Asian, European, Classification, Unnamed: 13, Collection.1, Population Affinity, n, Percentage Correct, Percentage Incorrect

In [ ]:
Comp3_results

The Comp3_results resembled the following:

* Collection - Population Affinity - n - Percentage Correct - Percentage Incorrect
* US - Asian American - 65 - 18% - 82%
* Japan - Japanese - 32 - 19% - 81%
* Pooled - Pooled - 97 - 19% - 81%